<template>

</template>

<script>

    export default {
        data() {
            return {
                application_instance: null
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            getApplicationInstance(id) {
                axios.get('/api/application_instances/' + id)
                    .then((response) => {
                        this.application_instance=response.data;
                        this.redirect();
                    })
                    .catch((error) => {
                        
                    });
            },
            redirect() {
                switch(this.application_instance.application.type) {
                    case 'PILE':
                        this.$router.replace({ name: 'pits_and_piles3d.start', params: { id: this.application_instance.id } });
                        break;
                    case 'MDIICOM':
                        this.$router.replace({ name: 'digitech_cloud.start', params: { id: this.application_instance.id } });
                        break;
                    default:
                        this.$router.replace({ name: 'organizations'});
                        break;
                }
            }
        },
        mounted() {
            this.getApplicationInstance(this.$route.params.id);
        },
    }

</script>