<template>  
    <div class="card col-12 p-0">
        <div class="card-header text-white bg-dark w-100">
            <div class="row" onclick="void(0)">
                <div class="col text-nowrap">
                    <a href="#" class="text-white my-auto" @click="$emit('collapse')">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <img src="/img/measurement_trans.png" class="bg-dark rounded">
                    <h5 class="panel-title d-inline" onclick="void(0)">
                        {{pile_application_location.name}}
                    </h5> 
                </div>
                <div class="col text-right my-auto" onclick="void(0)">
                        <a href="#" class="text-white" @click="show_edit_location_modal=true">
                            <i class="fa fa-cog"></i>
                        </a>
                        <a href="#" class="text-white ml-2" @click="$emit('collapse')">
                            <i class="fa fa-times"></i>
                        </a>
                </div>
            </div>
        </div>
        <div class="card-body w-100">
            <ul class="list-group" v-if="pile_application_measurements">
                <pile-application-measurement
                    v-for="pile_application_measurement in pile_application_measurements"
                    v-bind:key="pile_application_measurement.id"
                    v-bind:application_instance="application_instance"
                    v-bind:pile_application="pile_application"
                    v-bind:pile_application_site="pile_application_site"
                    v-bind:pile_application_location="pile_application_location"
                    v-bind:pile_application_measurement="pile_application_measurement"
                    v-bind:user="user"
                    @measurement-updated="getMeasurement(pile_application_measurement)"
                    @measurement-deleted="removeMeasurement(pile_application_measurement)"
                />
                
                <br>
                <div class="row">
                    <button class="btn btn-dark col-2 border ml-2 text-white" @click="show_upload_measurement_modal=true">
                        <i class="fas fa-file-upload"></i>
                    </button>

                    <button class="btn btn-dark col-2 border text-white" @click="show_generate_report_modal=true" v-if="application_instance.paid">
                        <i class="fa fa-fw fa-print"></i>
                    </button>
                </div>
            </ul>


        </div>

        <upload-measurement-modal 
        v-bind:pile_application_site="pile_application_site"
        v-bind:application_instance="application_instance"
        v-bind:pile_application="pile_application"
        v-bind:pile_application_location="pile_application_location"
        v-bind:show="show_upload_measurement_modal"
        @hide="show_upload_measurement_modal=false"
        @measurement-uploaded="getMeasurements()"/>

        <edit-location-modal 
            v-bind:pile_application_site="pile_application_site"
            v-bind:application_instance="application_instance"
            v-bind:pile_application="pile_application"
            v-bind:pile_application_location="pile_application_location"
            v-bind:show="show_edit_location_modal"
            @hide="show_edit_location_modal=false"
            @location-updated="$emit('location-updated')"
            @location-deleted="show_edit_location_modal=false;$emit('location-deleted')"/>
        
        <generate-multi-report-modal
            :pile_application_site="pile_application_site"
            :application_instance="application_instance"
            :pile_application="pile_application"
            :pile_application_location="pile_application_location"
            :measurements="pile_application_measurements"
            :user="user"
            :show="show_generate_report_modal"
            @hide="show_generate_report_modal=false"
        />
    </div>
</template>

<script>
    import PileApplicationMeasurement from './PileApplicationMeasurement'
    import EditLocationModal from './Modals/EditLocationModal'
    import UploadMeasurementModal from './Modals/UploadMeasurementModal'
    import GenerateMultiReportModal from './Modals/GenerateMultiReportModal'


    export default {
        props: {
            pile_application_location: Object,
            pile_application_site: Object,
            pile_application: Object,
            application_instance: Object,
            user: Object,
        },
        data() {
            return {
                pile_application_measurements: [],
                show_edit_location_modal: false,
                show_upload_measurement_modal: false,
                show_generate_report_modal: false,
                block_back_button: false
            };
        },
        watch: {

        },
        components: { 
            PileApplicationMeasurement,
            EditLocationModal,
            UploadMeasurementModal,
            GenerateMultiReportModal
        },
        methods: {
            getMeasurements() {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements')
                    .then((response) => {
                        this.pile_application_measurements=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getMeasurement(pile_application_measurement) {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + pile_application_measurement.id)
                    .then((response) => {
                        pile_application_measurement=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            removeMeasurement(pile_application_measurement) {
                for(var i = 0; i < this.pile_application_measurements.length; i++) {
                    if(this.pile_application_measurements[i].id == pile_application_measurement.id) {
                        this.pile_application_measurements.splice(i, 1);
                        break;
                    }
                }
            },
            backButtonPressed() {
                this.$eventHub.$off('back-button-pressed',this.backButtonPressed);
                this.$emit('collapse');   
            }
        },
        mounted() {
            this.$eventHub.$on('show-measurement-event', () => {
                this.$eventHub.$off('back-button-pressed',this.backButtonPressed);
            });
            this.$eventHub.$on('hide-measurement-event', () => {
                this.$eventHub.$on('back-button-pressed',this.backButtonPressed);
                
            });
            this.$eventHub.$on('back-button-pressed',this.backButtonPressed);
            this.getMeasurements();
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
        },
    }
</script>