<template>
        <transition-group 
            class="w-100"
            name="zoom"
            enter-active-class="animate__animated animate__zoomIn" 
            leave-active-class="animate__animated animate__zoomOut"
            @afterLeave="leaveFunction">

            <div key="1" class="card position-absolute col-11 p-0 m-0" v-show="hide_location">
                <div class="card-header text-white bg-dark w-100">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="text-white my-auto" @click="$emit('collapse')">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                            <img src="/img/site_trans.png">
                            {{ pile_application_site.name }}
                        </div>
                        <div class="col text-right my-auto">

                            <a href="#" class="text-white" @click="show_edit_site_modal=true">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a href="#" class="text-white ml-2" @click="$emit('collapse')">
                                <i class="fa fa-times"></i>
                            </a>

                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="panel-group">
                        <ul class="list-unstyled">
                            <li class="border mb-2 p-0 cursor-pointer"
                                v-for="pile_application_location in pile_application_locations"
                                v-bind:key="pile_application_location.id"
                                @click="selectedLocation(pile_application_location)">

                                <img src="/img/location_trans.png" class="bg-dark rounded">
                                <h5 class="panel-title d-inline my-auto" onclick="void(0)">
                                    {{pile_application_location.name}}
                                </h5>
                            </li>
                        </ul>
                    </div>

                    <br>
                    <button class="btn btn-primary my-2" @click="show_add_location_modal=true">
                        {{ localization('Add object') }}
                    </button>

                </div>

                <edit-site-modal 
                    v-bind:pile_application_site="pile_application_site"
                    v-bind:application_instance="application_instance"
                    v-bind:pile_application="pile_application"
                    v-bind:show="show_edit_site_modal"
                    @hide="show_edit_site_modal=false"
                    @site-updated="$emit('site-updated')"
                    @site-deleted="show_edit_site_modal=false;$emit('site-deleted')"
                />
                <add-location-modal
                    v-bind:pile_application_site="pile_application_site"
                    v-bind:application_instance="application_instance"
                    v-bind:pile_application="pile_application"
                    v-bind:user="user"
                    v-bind:show="show_add_location_modal"
                    @hide="show_add_location_modal=false"
                    @new-location-added="getLocations()"
                />

            </div>

            <div key="2" class="position-absolute col-11 p-0 m-0" v-show="!hide_location">
                <pile-application-location
                    v-if="selected_location"
                    v-bind:pile_application_site="pile_application_site"
                    v-bind:application_instance="application_instance"
                    v-bind:pile_application="pile_application"
                    v-bind:user="user"
                    v-bind:pile_application_location="selected_location"
                    @collapse="hide_location=true"
                    @location-updated="getLocation(selected_location)"
                    @location-deleted="removeLocation(selected_location)"/>
            </div>


        </transition-group>
</template>

<script>
    import PileApplicationLocation from './PileApplicationLocation'
    import EditSiteModal from './Modals/EditSiteModal'
    import AddLocationModal from './Modals/AddLocationModal'

    export default {
        props: {
            pile_application_site: Object,
            pile_application: Object,
            application_instance: Object,
            user: Object,
        },
        data() {
            return {
                pile_application_locations: [],
                show_edit_site_modal: false,
                show_add_location_modal: false,
                selected_location: null,
                hide_location: true
            };
        },
        watch: {

        },
        components: { 
            PileApplicationLocation,
            EditSiteModal,
            AddLocationModal
        
        },
        methods: {
            leaveFunction() {
                if(this.hide_location) {
                    this.selected_location=null;
                    this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
                }
            },
            selectedLocation(pile_application_location) {
                this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
                this.selected_location=pile_application_location;
                this.hide_location=false;
            },
            getLocations() {
                axios.get('/api/application_instances/' + this.application_instance.id + '/pile_applications/' + this.pile_application.id + '/pile_application_sites/' + this.pile_application_site.id + '/pile_application_locations')
                    .then((response) => {
                        this.pile_application_locations=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getLocation(pile_application_location) {
                axios.get('/api/application_instances/' + this.application_instance.id +
                  '/pile_applications/' + this.pile_application.id +
                  '/pile_application_sites/' + this.pile_application_site.id +
                  '/pile_application_locations/' + pile_application_location.id)
                    .then((response) => {
                        pile_application_location=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            removeLocation(pile_application_location) {
                for(var i = 0; i < this.pile_application_locations.length; i++) {
                    if(this.pile_application_locations[i].id == pile_application_location.id) {
                        this.pile_application_locations.splice(i, 1);
                        break;
                    }
                }
                this.hide_location=true;
            },
            backButtonPressed() {
                this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
                this.$emit('collapse');
            }
        },
        mounted() {
            this.getLocations();
            this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
        },

    }
</script>

<style scoped>
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s ease-in-out;
    }

    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }

    .grow-enter-active,
    .grow-leave-active
    {
        transition: growOut 300ms ease-in-out forwards;
        transform-origin: top
    }

    .grow-enter,
    .grow-leave-to {
        transform: scale(0);
    }

    @keyframes growOut {
        0% {
            transform: scale(0);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

</style>