<template>
    <div>
        <li class="list-group-item measurement-title">
            <div class="row">
                <div class="col clickable-element" @click="showMeasurement()">                                                
                    {{ pile_application_measurement.measurement_time | formatDate(user.date_format + ' ' +  user.time_format,user.timezone)}}
                </div>
                <div class="col-1 text-right">
                    <a href="#" @click="show_edit_measurement_modal=true">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </div>
        </li>

        <edit-measurement-modal 
            v-bind:pile_application_site="pile_application_site"
            v-bind:application_instance="application_instance"
            v-bind:pile_application="pile_application"
            v-bind:pile_application_location="pile_application_location"
            v-bind:pile_application_measurement="pile_application_measurement"
            v-bind:show="show_edit_measurement_modal"
            @hide="show_edit_measurement_modal=false"
            @measurement-updated="$emit('measurement-updated')"
            @measurement-deleted="$emit('measurement-deleted')"/>

    </div>
</template>

<script>
    import EditMeasurementModal from './Modals/EditMeasurementModal'

    export default {
        props: {
            pile_application_measurement: Object,
            pile_application_location: Object,
            pile_application_site: Object,
            pile_application: Object,
            application_instance: Object,
            user: Object,
        },
        data() {
            return {
                show_edit_measurement_modal: false,
            };
        },
        watch: {

        },
        components: { 
            EditMeasurementModal,
        },
        methods: {
            showMeasurement() {
                this.$eventHub.$emit('show-measurement-event',{
                    'pile_application_measurement': this.pile_application_measurement,
                    'pile_application_location': this.pile_application_location,
                    'pile_application_site': this.pile_application_site
                });
            }
        },
        mounted() {

        },
    }
</script>