<template>
    <div>
        <h4 class="text-white">{{ localization('Pits and Piles 3D') }}</h4>
        <ul class="list-unstyled">
        <li><a class="text-white" href="#" @click="$eventHub.$emit('add-site')">{{ localization('Add site') }}</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>