<template>
    <div v-if="application_instance!=null">
        <div v-show="!pileview_data">
            <jumbotron 
                :background_image="'/img/jumbotron/pp3d.jpg'"
                :icon_class="application_instance.application.icon_class"
                :title="localization('Pits and Piles 3D')"
                :subtitle="localization('Visualization service with Data Storage and Reporting for VL GEO and Laser GEO measurements')"/>

            <startup-message v-bind:application_instance="application_instance" v-if="!application_instance.paid&&!startup_message_closed" @close="startup_message_closed=true"/>

            <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

            <main class="py-4">
                <div class="container">
                    <div class="row justify-content-center">

                        <transition-group 
                            class="col-md-12 m-0 mb-2 p-0"
                            name="zoom"
                            enter-active-class="animate__animated animate__zoomIn" 
                            leave-active-class="animate__animated animate__zoomOut"
                            @afterLeave="leaveFunction">
                            <div class="position-absolute col-12" key="1" v-show="hide_site">
                                <div class="card">
                                    <div class="card-header text-white bg-dark border">
                                        {{ localization('Sites') }}
                                    </div>
                                    
                                    <div class="card-body border-bottom border-left border-right">
                                        <div class="panel-group">
                                            <ul class="list-unstyled">
                                                <li class="border mb-2 p-0 cursor-pointer"
                                                    v-for="pile_application_site in pile_application_sites"
                                                    v-bind:key="pile_application_site.id"
                                                    @click="enterFunction(pile_application_site)">

                                                    <img src="/img/site_trans.png" class="bg-dark rounded">
                                                    <h5 class="panel-title d-inline my-auto" onclick="void(0)">
                                                        {{pile_application_site.name}}
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>

                                        <br>
                                        <button class="btn btn-primary my-2" v-b-modal.add-site-modal>
                                            {{ localization('Add site') }}
                                        </button>

                                    </div>
                                    
                                </div>
                            </div>

                            <div class="position-absolute col-12" key="2" v-show="!hide_site">
                                <pile-application-site 
                                    v-if="active_site!=null"
                                    v-bind:pile_application_site="active_site"
                                    v-bind:application_instance="application_instance"
                                    v-bind:pile_application="pile_application"
                                    v-bind:user="current_user"
                                    @collapse="hide_site=true"
                                    @site-updated="getPileSite(pile_application_site)"
                                    @site-deleted="removeSite(active_site)"
                                    />
                            </div>
                        </transition-group>
                        
                        <br>

                        <add-site-modal 
                            v-bind:application_instance="application_instance"
                            v-bind:pile_application="pile_application"
                            @new-site-added="getPileSites()"
                        />
                    </div>
                </div>
            </main>
        </div>
        <div v-show="pileview_data">
            <pile-view 
                v-if="pileview_data"
                v-bind:application_instance="application_instance"
                v-bind:pile_application="pile_application"
                v-bind:pile_application_site="pileview_data.pile_application_site"
                v-bind:pile_application_location="pileview_data.pile_application_location"
                v-bind:pile_application_measurement_id="pileview_data.pile_application_measurement.id"
                v-bind:user="current_user"
                />
        </div>
    </div>
</template>

<script>
    import StartupMessage from './StartupMessage';
    import PileApplicationSite from './PileApplicationSite';
    import AddSiteModal from './Modals/AddSiteModal';
    import PileView from './PileView/PileView';
    import SideBar from "@/vue/Components/Reusable-Components/SideBar"
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"

    export default {
        data() {
            return {
                pile_application: null,
                pile_application_sites: [],
                application_instance: null,
                pileview_data: null,
                show_pile_overview: true,
                active_site: null,
                hide_site: true,
		startup_message_closed: false
            };
        },
        watch: {

        },
        components: { 
            StartupMessage,
            PileApplicationSite,
            AddSiteModal,
            PileView,
            SideBar,
            Jumbotron
        },

        methods: {
            leaveFunction() {
                if(this.hide_site) {
                    this.active_site=null;
                    this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
                }
            },
            enterFunction(pile_application_site) {
                this.$eventHub.$off('back-button-pressed');
                this.active_site=pile_application_site;
                this.hide_site=false;
            },
            getPileApplication(id) {
                axios.get('/api/application_instances/' + id + '/pile_applications')
                    .then((response) => {
                        this.pile_application=response.data;
                        this.getApplicationInstance(this.pile_application.application_instance_id);
                    })
                    .catch((error) => {
                        
                    });
            },

            getApplicationInstance(id) {
                axios.get('/api/application_instances/' + id)
                    .then((response) => {
                        this.application_instance=response.data;
                        this.getPileSites();
                    })
                    .catch((error) => {
                        
                    });
            },
            getPileSites() {
                axios.get('/api/application_instances/' + this.application_instance.id + '/pile_applications/' + this.pile_application.id + '/pile_application_sites')
                    .then((response) => {
                        this.pile_application_sites=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getPileSite(pile_application_site) {
                axios.get('/api/application_instances/' + this.application_instance.id + '/pile_applications/' + this.pile_application.id + '/pile_application_sites/' + pile_application_site.id)
                    .then((response) => {
                        pile_application_site=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            showAddSiteModal() {
                this.$bvModal.show('add-site-modal');
            },
            removeSite(pile_application_site) {
                for(var i = 0; i < this.pile_application_sites.length; i++) {
                    if(this.pile_application_sites[i].id == pile_application_site.id) {
                        this.pile_application_sites.splice(i, 1);
                        break;
                    }
                }
                this.hide_site=true;
            },
            showMeasurement(data) {
                this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
                this.pileview_data=data;
            },
            backButtonPressed() {
                if(this.pileview_data!=null) {
                    this.pileview_data=null;
                    this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
                    this.$eventHub.$emit('hide-measurement-event');
                }
                else {
                    this.$router.push({name: 'organizations'});
                }
            }
        },
        mounted() {
            this.getUser();
            this.getPileApplication(this.$route.params.id);
        },
        created() {
            this.$eventHub.$on('add-site', this.showAddSiteModal);
            this.$eventHub.$on('show-measurement-event', this.showMeasurement);
            this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
        },
        beforeDestroy() {
            this.$eventHub.$off('add-site');
            this.$eventHub.$off('show-measurement-event');
            this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
        },
    }
</script>
