<template>
    <div>
        <div class="overlay" v-if="isMobile()">
            <div class="h-100 p-5 bg-white overflow-auto">
                <h3>{{ localization('Pits & Piles 3D') }}</h3>

                {{ localization('With our cloud application, Pits & Piles 3D, you can calculate, edit, store, and') }}<br>
                {{ localization('generate reports of all your measurements created with your Vertex Laser Geo or') }}<br>
                {{ localization('Laser Geo by using the Map target function.') }}<br>
                
                {{ localization('Just upload your CSV file and get the volume of your object.') }}<br>
                
                {{ localization('This Application can be used on any platform all you need is access to the Internet and a Web browser.') }}<br>
                <br>
                <span class="text-danger">
                    {{ localization('IMPORTANT!')}}<br>
                    {{ localization('If you are using this service as the free version and without a subscription, data will ')}}<br>
                    {{ localization('not be stored in the cloud service more than a few hours. Make sure to back up your')}}<br>
                    {{ localization('data files on some other media.')}}
                </span>

                <br>
                <br> 
                
                <h6>{{ localization('Free version') }}</h6>
                <ul>
                    <li>{{ localization('It is free to upload measured data.') }}</li>
                    <li>{{ localization('Edit nodes') }}</li>
                    <li>{{ localization('Look and rotate the 3D image and see the volume.') }}</li>
                </ul><br>
                
                <h6>{{ localization('Paid version') }}</h6>
                
                <ul>
                    <li>{{ localization('With the paid version you get the opportunity to save all the measurements in a database.') }}</li>
                    <li>{{ localization('Create multiple sites') }}</li>
                    <li>{{ localization('Create multiple objects on every site') }}</li>
                    <li>{{ localization('Upload and create multiple measurements on every object') }}</li>
                    <li>{{ localization('All changes that are made are saved') }}</li>
                    <li>{{ localization('Add multiple measurements for one object') }}</li>
                    <li>{{ localization('Generate a report for a measurement') }}</li>
                    <li>{{ localization('Generate report for several measurements during a period and comparison between the different measurement occasions.') }}</li>
                    <li>{{ localization('It is also possible to request a quote for your own customized reports with your wishes on calculations and design.') }}</li>
                </ul><br>

            <br><br>
            <button type="button" class="btn btn-default border" @click="$emit('close')">
                {{ localization('Close') }}
            </button>

            <a :href="application_instance.application.payment_link" class="btn btn-success border">
                {{ localization('Subscribe') }}
            </a>
        </div>
    </div>
        <div class="overlay" v-else>
            <div class="col-md-8 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">

                            <h3>{{ localization('Pits & Piles 3D') }}</h3>

                            {{ localization('With our cloud application, Pits & Piles 3D, you can calculate, edit, store, and') }}<br>
                            {{ localization('generate reports of all your measurements created with your Vertex Laser Geo or') }}<br>
                            {{ localization('Laser Geo by using the Map target function.') }}<br>
                            
                            {{ localization('Just upload your CSV file and get the volume of your object.') }}<br>
                            
                            {{ localization('This Application can be used on any platform all you need is access to the Internet and a Web browser.') }}<br>
                            <br>
                            <span class="text-danger">
                                {{ localization('IMPORTANT!')}}<br>
                                {{ localization('If you are using this service as the free version and without a subscription, data will ')}}<br>
                                {{ localization('not be stored in the cloud service more than a few hours. Make sure to back up your')}}<br>
                                {{ localization('data files on some other media.')}}
                            </span>

                            <br>
                            <br> 
                            
                            <h6>{{ localization('Free version') }}</h6>
                            <ul>
                                <li>{{ localization('It is free to upload measured data.') }}</li>
                                <li>{{ localization('Edit nodes') }}</li>
                                <li>{{ localization('Look and rotate the 3D image and see the volume.') }}</li>
                            </ul><br>
                            
                            <h6>{{ localization('Paid version') }}</h6>
                            
                            <ul>
                                <li>{{ localization('With the paid version you get the opportunity to save all the measurements in a database.') }}</li>
                                <li>{{ localization('Create multiple sites') }}</li>
                                <li>{{ localization('Create multiple objects on every site') }}</li>
                                <li>{{ localization('Upload and create multiple measurements on every object') }}</li>
                                <li>{{ localization('All changes that are made are saved') }}</li>
                                <li>{{ localization('Add multiple measurements for one object') }}</li>
                                <li>{{ localization('Generate a report for a measurement') }}</li>
                                <li>{{ localization('Generate report for several measurements during a period and comparison between the different measurement occasions.') }}</li>
                                <li>{{ localization('It is also possible to request a quote for your own customized reports with your wishes on calculations and design.') }}</li>
                            </ul><br>

                        <br><br>
                        <button type="button" class="btn btn-default border" @click="$emit('close')">
                            {{ localization('Close') }}
                        </button>

                        <a :href="application_instance.application.payment_link" class="btn btn-success border">
                            {{ localization('Subscribe') }}
                        </a>   

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            application_instance: Object
        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>
