
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "./fontawesome.scss";

//Jquery
//@import url(https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css);

//Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

// Variables
@import 'custom_variables';

@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Fjalla+One');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'node_modules/bootstrap-vue/src/index.scss';

@import url(https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    background-color: #ffffff;
}

.default-layout {

    .line {
        border-top: 1px solid $haglofblue;
        width: 100%;
    }

    #back-button {
        margin-right: 20px;
    }

    #mobile-home-button {
        color: white;
    }

    .location-title {
        padding-top: 10px;
        padding-left: 10px;
    }

    .location-title:hover {
        cursor: pointer;
    }

    .measurement-title a {
        visibility:hidden;
    }

    .measurement-title:hover a {
        visibility:visible;
    }

    .clickable-element {
        cursor: pointer;
    }

    .session-message {
        position: absolute;
        width: 800px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 80px;
        z-index: 80;
    }

    .btn-primary {
        background: $hagloflightblue;
        color: #ffffff;
    }

    .btn-primary:hover {
        background: $haglofblue;
    }

    .btn-primary:active, .btn-primary.active {
        background: $hagloflightblue;
    }

    .gravel-pile {
        color: #808080;
    }

    .wood-chip-pile {
        color: #baa86f;
    }

    .dirt-pile {
        color: #9b7653;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .jumbotron-box {
        display: inline-flex;
    }

    .jumbotron-box h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 4em;
        margin-bottom: 0 0;
    }

    .jumbotron-container {
        background: rgb(96, 140, 191);
        background: rgba(96, 140, 191, 0.7);
        height: 100%;
        width: 100%;
    }

    .jumbotron {
        padding: 0;
        height: 175px;
    }

    .overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(96, 140, 191, 0.5); 
        z-index: 100;
    }

    .alert-box {
        position: fixed;
        display: flex;
        top: 50px; 
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999; 
    }

    .application-icon {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }

    .application-icon-div {
        background: $hagloflightblue;
        padding: 15px;
        border-radius: 15px;
    }

    .stand-icon-div {
        display: inline-block;
        text-align: center;
        padding: 20px;
        cursor: pointer;
        height: 75px;
        width: 100px;
    }

    .stand-icon {
        background: $hagloflightblue;
        padding: 15px;
        margin: auto;
        border-radius: 15px;
        height: 50px;
        width: 50px;
    }

    .draggable-list-item {
        border-left-color: $hagloflightblue;
        border-left-width: 12px;
    }


    .stand-icon-div-highlight {
        background-color: rgba(96, 140, 191, 0.1);
    }

    .specie-list-item-highlight {
        background-color: rgba(96, 140, 191, 0.1);
    }

    .mdii_menu_panel_highlight {
        background-color:  rgba(96, 140, 191, 0.1);
    }

    .stand-container-hightlight {
        background-color: rgba(96, 140, 191, 0.1);
    }


    .stand-container {
        background-color: white;
    }

    .alert-message-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .stand_data_table td {
        position: relative;
    }
    
    .stand_data_table td input {
        position: absolute;
        display: block;
        top:0;
        left:0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

    .list-group-item {
        cursor: pointer;
    }

    .fill {
        width: 100%;
        height: 100%
    }

    .cursor-move {cursor: move;}
    
    #alert-message {
        position: absolute;
        padding: auto;
        top: 10px;
        left: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #alert-inner-message {
        margin-left: auto;
        margin-right: auto;
        display: inline-flex;
    }

    .cursor-alias {cursor: alias;}
    .cursor-all-scroll {cursor: all-scroll;}
    .cursor-auto {cursor: auto;}
    .cursor-cell {cursor: cell;}
    .cursor-context-menu {cursor: context-menu;}
    .cursor-col-resize {cursor: col-resize;}
    .cursor-copy {cursor: copy;}
    .cursor-crosshair {cursor: crosshair;}
    .cursor-default {cursor: default;}
    .cursor-e-resize {cursor: e-resize;}
    .cursor-ew-resize {cursor: ew-resize;}
    .cursor-grab {cursor: -webkit-grab; cursor: grab;}
    .cursor-grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
    .cursor-help {cursor: help;}
    .cursor-move {cursor: move;}
    .cursor-n-resize {cursor: n-resize;}
    .cursor-ne-resize {cursor: ne-resize;}
    .cursor-nesw-resize {cursor: nesw-resize;}
    .cursor-ns-resize {cursor: ns-resize;}
    .cursor-nw-resize {cursor: nw-resize;}
    .cursor-nwse-resize {cursor: nwse-resize;}
    .cursor-no-drop {cursor: no-drop;}
    .cursor-none {cursor: none;}
    .cursor-not-allowed {cursor: not-allowed;}
    .cursor-pointer {cursor: pointer;}
    .cursor-progress {cursor: progress;}
    .cursor-row-resize {cursor: row-resize;}
    .cursor-s-resize {cursor: s-resize;}
    .cursor-se-resize {cursor: se-resize;}
    .cursor-sw-resize {cursor: sw-resize;}
    .cursor-text {cursor: text;}
    .cursor-w-resize {cursor: w-resize;}
    .cursor-wait {cursor: wait;}
    .cursor-zoom-in {cursor: zoom-in;}
    .cursor-zoom-out {cursor: zoom-out;}

}