#pile_application {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: -1;
}

#left-menu {
    position: absolute;
    left: 20px;
    top: 20px;
    display: inline-block;

}

#right-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;

}

.menu-button {
    width: 100%;
    padding: 10px;
    border: 1;
}

.white_box {
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid black;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }



