#model_overview {
    position: absolute;
    left: 20px;
    top: 70px;
    display: inline-block;
    overflow: auto;
}

#target_detail {
    position: absolute;
    right: 20px;
    top: 70px;
    display: none;
    overflow: auto;
}

#controls_pane {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: inline-block;
    padding: 5px;
    z-index: 1000;
}

#pile_application {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: block;
    z-index: -1;
}

#color_picker {
    position: relative;
    top: 0px;
}

.collapseOverviewData {
    display:none;
}

.colorButton {
    display:none;
}


