<template>
    <div v-if="treeData" class="row no-gutters" :class="selected ? 'selected_class' : treeData.background_class" @click="$emit('tree-selected')">
        <div class="col-1" >
            <input type="number" class="form-control" v-model.number="treeData.number" @focus="$emit('tree-selected')" readonly/>
        </div>
        <div class="col-2">
            <input type="text" class="form-control" v-model="treeData.species.text" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-1">
            <input type="number" class="form-control" v-model.number="treeData.diameter" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-2">
            <input type="number" class="form-control" v-model.number="treeData.height1" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-1">
            <input type="number" class="form-control" v-model.number="treeData.height2" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-1">
            <input type="number" class="form-control" v-model.number="treeData.height3" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-2">
            <input type="text" class="form-control" v-model="treeData.quality.text" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-1 border">
            <input type="checkbox" class="form-control" v-model="treeData.is_log" @change="$emit('tree-updated',treeData)"/>
        </div>
        <div class="col-1 border">
            <input type="checkbox" class="form-control" v-model="treeData.on_bark" @change="$emit('tree-updated',treeData)"/>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            tree: Object,
            nr: Number,
            selected: Boolean
        },
        data() {
            return {
                treeData: null,
            };
        },
        watch: {
            tree: function(n,o) {
                this.createTreeObject();
            }
        },
        components: { 

        },
        methods: {
            createTreeObject() {
                let new_tree=Object.assign({},this.tree);

                switch(new_tree.zero_type) {
                    case 0:
                        new_tree.background_class="";
                        break;
                    case 1:
                        new_tree.background_class="single-zero-bg-color";
                        break;
                    case 2:
                        new_tree.background_class="plot-bg-color";
                        break;
                    case 3:
                        new_tree.background_class="stand-bg-color";
                        break;
                }

                this.treeData = new_tree;
            }
        },
        mounted() {
            this.createTreeObject();
        },
    }
</script>

<style scoped>
    .disabled-color div,
    .disabled-color input 
    {
        background: #bab8b8;
    }
    .default-bg-color div,
    .default-bg-color input 
    {
        background: white;
    }
    .stand-bg-color div,
    .stand-bg-color input
    {
        background: rgba(102, 255, 255, 0.15);
    }
    .plot-bg-color div,
    .plot-bg-color input {
        background: rgba(153, 102, 255,0.15);
    }
    .single-zero-bg-color div,
    .single-zero-bg-color input 
    {
        background: rgba(255, 51, 0,0.15);
    }
    .selected_class div, 
    .selected_class input 
    {
        background: rgba(96, 140, 191, 0.3);
    }
</style>