<template>
    <div>
        <b-modal v-model="showModal" title="Upload file">
            <form>

                <label>{{ localization('Caliper File') }}</label>

                <div class="input-group form-group">
                    <div class="custom-file">
                        <input type="file" id="file" ref="file" v-on:change="fileSelected()" class="custom-file-input" accept=".xml">
                        <label class="custom-file-label">{{ original_file_name }}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>Filename:</label>
                    <input type="text" class="form-control" v-model="file_name">
                </div>

                <div class="form-group">
                    <input type="checkbox" v-model="settings.remove_zero_diameters"/><label>{{ localization('Remove zero diameters') }}</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" v-model="settings.create_plots"/><label>{{ localization('Two consecutive zero diameters = New plot') }}</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" v-model="settings.create_stands"/><label>{{ localization('Three consecutive zero diameters = New inventory') }}</label>
                </div>

            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" class="btn btn-default" :disabled="file_data===null" @click="show_preview=true">{{ localization('Preview') }}</button>
                <button type="submit" class="btn btn-default" :disabled="file_data===null" @click="upload();ok()">{{ localization('Upload') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">Close</button>
            </template>

        </b-modal>

        <upload-file-preview
                v-if="file_data&&show_preview"
                :file_data="file_data"
                :show="show_preview"
                @data-updated="file_data=$event"
                @hide="show_preview=false"/>
    </div>
</template>

<script>
    import { DigitechFileToObject } from './DPFileToJson.js'
    import UploadFilePreview from './UploadFilePreview'
    export default {
        props: {
            application_instance: Object,
            dc_application: Object,
            folder: Object,
            show: Boolean
        },
        data() {
            return {
                file: File,
                original_file_name: 'Caliper File',
                file_name: '',
                file_data: null,
                show_preview: false,
                settings: {
                    remove_zero_diameters: true,
                    create_plots: true,
                    create_stands: true
                }
            };
        },
        watch: {
            show: function(n,o) {
                if(!this.show) {
                    this.file=File;
                    this.original_file_name='Caliper File';
                    this.file_name='';
                    this.file_data=null;
                }
            }
        },
        computed: {
            showModal: {
                get: function () {
                    if(this.show) {
                        return !this.show_preview;
                    }
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            UploadFilePreview
        },
        methods: {
            fileSelected() {
                this.file=this.$refs.file.files[0];

                this.original_file_name=this.file.name;
                this.file_name=this.file.name;

                DigitechFileToObject(this.file).then((obj) => {
                    this.file_data=obj;
                });
                
            },
            createJsonForUpload() {

                let new_object={
                    'header': this.file_data.header,
                    'inventories': []
                }

                let inventory={
                    'plots': [],
                    'log_list': null
                };

                let plot={
                    'trees': []
                    };

                inventory.plots.push(plot);

                new_object.inventories.push(inventory);

                let tree_array=this.file_data.trees;
                let zeros=0;

                for(let i=0;i<tree_array.length;i++) {
                    let diameter=tree_array[i].diameter;

                    if(parseInt(tree_array[i].metric)===0) {
                        diameter=diameter*25;
                    }

                    if(diameter<10) {

                        zeros++;

                        if(!this.settings.remove_zero_diameters) {
                            plot.trees.push(tree_array[i]);
                        }

                    }
                    else {
                        if(zeros>2&&this.settings.create_stands) {

                            inventory={
                                'plots': [],
                                'log_list': null
                            };

                            plot = { 
                                'trees': []
                            };

                            inventory.plots.push(plot);

                            new_object.inventories.push(inventory);

                        }
                        else if(zeros>1&&this.settings.create_plots) {

                            plot={'trees': []};
                            inventory.plots.push(plot);

                        }
                        zeros=0;

                        if(inventory.log_list===null) {
                            let log_list = tree_array[i].is_log;

                            inventory.log_list=log_list;
                        }

                        plot.trees.push(tree_array[i]);
                    }

                }

                return JSON.stringify(new_object);
            },
            upload() {
                if(this.file_data===null) {
                    return;
                }
                
                var formData = new FormData();

                let jsonData = this.createJsonForUpload();

                formData.append('file_data',jsonData);
                formData.append('name',this.file_name);
                formData.append('folder_id',this.folder.id);

                console.log(jsonData);

                axios.post('/api/application_instances/' + 
                    this.application_instance.id + '/dc_applications/' +
                    this.dc_application.id + '/files',formData)
                    .then((response) => {
                        this.$emit('file-uploaded',response.data);
                        this.alert.message="File uploaded";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error uploading file";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            

            },
        },
        mounted() {

        },
    }
</script>