<template>
    <overlay
        id="overlay"
        :show="show"
        @close="$emit('hide')"
        @size-changed="resize($event)"
        :title="'Preview data'">
        <div class="table table-condensed" v-if="file_data_object&&file_data_object.trees">
            <div class="data_table_header border-bottom">
                <div class="row">
                    <div class="col-4 summary text-left"> 
                        {{ localization('Single zero diameters: ') + single_zeros_count }}
                    </div>
                    <div class="col-4 summary text-center">
                        {{ localization('Double zero diameters (Plots): ') + plot_count }}
                    </div>
                    <div class="col-4 summary text-right">
                        {{ localization('Triple zero diameters (Inventory): ') + stand_count }}
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-1">#</div>
                    <div class="col-2">{{ localization('Species') }}</div>
                    <div class="col-1">{{ localization('Diameter') }}</div>
                    <div class="col-2">{{ localization('Height1/Length') }}</div>
                    <div class="col-1">{{ localization('Height2') }}</div>
                    <div class="col-1">{{ localization('Height3') }}</div>
                    <div class="col-2">{{ localization('Quality') }}</div>
                    <div class="col-1">{{ localization('Is log') }}</div>
                    <div class="col-1">{{ localization('On bark') }}</div>
                </div>
            </div>
            <div class="data_table" ref="DataTable" :style="{'height' : data_table_height}"> 
                <preview-tree
                    v-for="(tree,index) in file_data_object.trees.slice(0,stop)"
                    :key="tree.number"
                    :tree="tree"
                    :selected="(index===selected_tree)"
                    @tree-selected="selected_tree=index"
                    @tree-updated="treeUpdated($event,index)"/>

                <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading"></infinite-loading>
            </div>

            <div class="row justify-content-end mx-2">
                <button class="btn btn-primary m-2" @click="addTree()"><i class="text-white fas fa-plus"></i></button>
                <button class="btn btn-primary m-2" @click="removeTree()"><i class="text-white fas fa-minus"></i></button>
                <button class="btn btn-primary m-2" @click="$emit('hide')"><i class="text-white fas fa-times"></i></button>
            </div>

        </div>

    </overlay>
</template>

<script>
    import Overlay from "@/vue/Components/Reusable-Components/Overlay"
    import PreviewTree from './PreviewTree'
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        props: {
            file_data: Object,
            show: Boolean
        },
        data() {
            return {
                file_data_object: null,
                stand_count: 0,
                plot_count: 0,
                single_zeros_count: 0,
                tree_array: [],
                stop: 0,
                selected_tree: -1,
                windowHeight: 1000,
                data_table_height: 600,

            };
        },
        computed: {

        },
        watch: {

        },
        components: { 
            Overlay,
            PreviewTree,
            InfiniteLoading
        },
        methods: {
            countZeros() {
                if(this.file_data_object===null||typeof this.file_data_object.trees==='undefined') {
                    return;
                }

                this.stand_count=0;
                this.plot_count=0;
                this.single_zeros_count=0;

                let tree_array=this.file_data_object.trees;
                let zero_array=[];
                let zero_type=0;

                for(let i=0;i<tree_array.length;i++) {
                    let diameter=tree_array[i].diameter;

                    if(diameter===0) {
                        zero_array.push(i);
                    }
                    else if(zero_array.length>0){
                        if(zero_array.length>2) {
                            this.stand_count++;
                            zero_type=3;
                        }
                        else if(zero_array.length>1) {
                            this.plot_count++;
                            zero_type=2;
                        }
                        else if(zero_array.length>0) {
                            this.single_zeros_count++;
                            zero_type=1;
                        }

                        if(!this.isset(tree_array[i].zero_type)||tree_array[i].zero_type!=0) {
                            tree_array.splice(i,1,Object.assign({},tree_array[i],{'zero_type': 0}));
                        }

                        for(let j=0;j<zero_array.length;j++) {
                            let tree=tree_array[zero_array[j]];
                            if(!this.isset(tree.zero_type)||tree.zero_type!=zero_type) {
                                tree_array.splice(zero_array[j],1,Object.assign({},tree_array[zero_array[j]],{'zero_type': zero_type}));
                            }
                        }

                        zero_array=[]; 
                    }

                }
            },
            infiniteHandler($state) {
                if($state==null) {
                    return;
                }
                
                let max=this.file_data_object.trees.length;

                if(this.stop===max) {
                    $state.complete();
                }
                else {
                    this.stop = Math.min(max,this.stop+10);
                    $state.loaded();
                }
            },
            treeUpdated(new_data,index) {
                this.file_data_object.trees.splice(index, 1, new_data);
                this.countZeros();

                this.dataUpdated();
            },
            dataUpdated() {
                this.$emit('data-updated',this.file_data_object);
            },
            addTree() {
                if(this.selected_tree<0) {
                    return;
                }

                let tree_array=this.file_data_object.trees;
                let new_tree=Object.assign({},tree_array[this.selected_tree]);

                new_tree.number="";
                new_tree.diameter=0;
                new_tree.height1=0;
                new_tree.height2=0;
                new_tree.height3=0;

                new_tree.species=Object.assign({},new_tree.species);
                new_tree.quality=Object.assign({},new_tree.quality);

                tree_array.splice(this.selected_tree,0,new_tree);
                this.countZeros();

                this.dataUpdated();

            },
            removeTree() {
                if(this.selected_tree<0) {
                    return;
                }
                let tree_array=this.file_data_object.trees;

                tree_array.splice(this.selected_tree,1);
                this.countZeros();

                this.dataUpdated();
            },
            resize(sizeData) {
                let ratio = 0.7;

                if(sizeData.height<900) {
                    ratio=0.6;
                }

                let height=Math.max(sizeData.cardHeight-200,350);

                this.data_table_height = height + 'px';

                this.$nextTick(() => {
                    this.checkTable();
                })
            },
            checkTable() {
                let max=this.file_data_object.trees.length;

                if(this.stop===max) {
                    return;
                }

                let div = this.$refs.DataTable;
                let vs = div.scrollHeight-100 > div.clientHeight; 
                
                if(!vs) {
                    this.$refs.infiniteLoading.$emit('infinite');
                }
            }, 
        },
        mounted() {
            this.file_data_object=Object.assign({},this.file_data);
            this.countZeros();
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize); 
        },
    }
</script>

<style scoped>
    .data_table {
        overflow-y: auto;
        overflow-x: auto;
    }
    .data_table th {
        word-wrap: normal; 
    }
    .summary {
        font-weight: normal;
        font-size: small;
    }

</style>