<template>
    <div class="row no-gutters" 
        v-if="copy"
        :class="selected ? 'selected_class' : ''" 
        @click="$emit('selected')">
            <div class="col-1">
                <input type="number" class="form-control" :value="index+1" @focus="$emit('selected')" readonly/>
            </div>
            <div class="col-2" v-if="inventory.log_list===1">
                <input type="text" class="form-control" :value="copy.item_id" @focus="$emit('selected')" readonly/>
            </div>
            <div class="col-2">
                <select class="form-control" v-model="copy.m_d_i_i_specie_id" @change="$emit('update',copy)" :disabled="!inventory.species.length" @click="$emit('selected')">
                    <option
                        v-for="s in inventory.species"
                        :key="s.id"
                        :value="s.id">
                        {{ s.specie_text }}
                    </option>
                </select>
            </div>
            <div class="col-2" v-if="inventory.log_list!=1">
                <select class="form-control" v-model="copy.m_d_i_i_plot_id" @change="$emit('update',copy)" @click="$emit('selected')">
                    <option 
                        v-for="(p,index) in inventory.plots"
                        :key="p.id"
                        :value="p.id">
                        {{ "Plot " + (index+1) }}
                    </option>
                </select>
            </div>
            <div class="col-2">
                <input type="number" class="form-control" v-model.number="diameter" @click="$emit('selected')"/>
            </div>
            <div v-if="inventory.log_list!=1" class="col-5 row no-gutters">
                <div class="col-4">
                    <input type="number" class="form-control" v-model.number="height1" @click="$emit('selected')"/>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" v-model.number="height2" @click="$emit('selected')"/>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" v-model.number="height3" @click="$emit('selected')"/>
                </div>
            </div>

            <div v-if="inventory.log_list===1" class="col-2">
                <input type="number" class="form-control" v-model.number="height1" @click="$emit('selected')"/>
            </div>

            <div class="col-2" v-if="inventory.log_list===1">
                <select class="form-control" v-model="copy.m_d_i_i_quality_id" @change="$emit('update',copy)" :disabled="!inventory.qualities.length" @click="$emit('selected')">
                    <option 
                        v-for="q in inventory.qualities"
                        :key="q.id"
                        :value="q.id">
                        {{ q.quality_text }}
                    </option>
                </select>
            </div>
            <div class="col-1 border" v-if="inventory.log_list===1">
                <input type="checkbox" class="form-control" v-model="copy.on_bark" @change="$emit('update',copy)" @click="$emit('selected')"/>
            </div>
    </div>
</template>

<script>

    export default {
        props: {
            item: Object,
            inventory: Object,
            selected: Boolean,
            index: Number
        },
        data() {
            return {
                copy: null,

            };
        },
        computed: {
            diameter: {
                get: function() {
                    let value=this.copy.diameter;
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value/this.$constants.InchPerMm;
                        return this.round(value,2);
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value*this.$constants.InchPerMm;
                        return this.round(value,2);
                    }
                
                    return value;
                },
                set: function(value) {
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value*this.$constants.InchPerMm;
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value/this.$constants.InchPerMm;
                    }

                    this.copy.diameter=value;
                    this.$emit('update',this.copy);
                }
            },
            height1: {
                get: function() {
                    let value=this.copy.height1;
                    if(this.inventory.settings.measurement_system==='metric') {
                        if(!this.item.metric) {
                            value=value/this.$constants.FeetPerDecimeter;
                        }
                        if(this.inventory.log_list==1) {
                            value=value/100;
                        }
                        
                        return this.round(value,2);
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                        return this.round(value,2);
                    }

                    return value;
                },
                set: function(value) {
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                        
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value/this.$constants.FeetPerDecimeter;
                    }

                    this.copy.height1=value;
                    this.$emit('update',this.copy);
                }
            },
            height2: {
                get: function() {
                    let value=this.copy.height2;
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value/this.$constants.FeetPerDecimeter;
                        return this.round(value,2);
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                        return this.round(value,2);
                    }

                    return value;
                },
                set: function(value) {
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value/this.$constants.FeetPerDecimeter;
                    }

                    this.copy.height2=value;
                    this.$emit('update',this.copy);
                }
            },
            height3: {
                get: function() {
                    let value=this.copy.height3;
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value/this.$constants.FeetPerDecimeter;
                        return this.round(value,2);
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                        return this.round(value,2);
                    }

                    return value;
                },
                set: function(value) {
                    if(this.inventory.settings.measurement_system==='metric' && !this.item.metric) {
                        value=value*this.$constants.FeetPerDecimeter;
                    }
                    else if(this.inventory.settings.measurement_system=='imperial' && this.item.metric) {
                        value=value/this.$constants.FeetPerDecimeter;
                    }

                    this.copy.height3=value;
                    this.$emit('update',this.copy);
                }
            }

        },
        watch: {

        },
        components: { 

        },
        methods: {

        },
        mounted() {
            this.copy=Object.assign({},this.item);
        },
    }
</script>

<style scoped>
    .selected_class div, 
    .selected_class input 
    {
        background: rgba(96, 140, 191, 0.3);
    }

</style>
