<template>
    <overlay
        id="overlay"
        :show="show"
        @close="$emit('hide')"
        @size-changed="resize($event)"
        :title="'Dataview'">
        <div class="table table-condensed" v-if="stand">
            <div class="data_table_header border-bottom">
                <div v-if="stand.log_list===1" class="row no-gutters">
                    <div class="col-1">#</div>
                    <div class="col-2">{{ localization('Id') }}</div>
                    <div class="col-2">{{ localization('Species') }}</div>

                    <div v-if="metric" class="col-2">{{ localization('Diameter [mm]') }}</div>
                    <div v-if="metric" class="col-2">{{ localization('Length [m]') }}</div>

                    <div v-if="!metric" class="col-2">{{ localization('Diameter [inch]') }}</div>
                    <div v-if="!metric" class="col-2">{{ localization('Length [foot]') }}</div>

                    <div class="col-2">{{ localization('Quality') }}</div>
                    <div class="col-1">{{ localization('On bark') }}</div>
                </div>
                <div v-if="stand.log_list!=1" class="row no-gutters">
                    <div class="col-1">{{ localization('#') }}</div>
                    <div class="col-2">{{ localization('Species') }}</div>
                    <div class="col-2">{{ localization('Plot') }}</div>
                    <div v-if="metric" class="col-2">{{ localization('Diameter [mm]') }}</div>
                    <div v-if="!metric" class="col-2">{{ localization('Diameter [inch]') }}</div>
                    <div class="col-5 row">
                        <div v-if="metric" class="col-4">{{ localization('Height 1 [dm]') }}</div>
                        <div v-if="metric" class="col-4">{{ localization('Height 2 [dm]') }}</div>
                        <div v-if="metric" class="col-4">{{ localization('Height 3 [dm]') }}</div>
                        <div v-if="!metric" class="col-4">{{ localization('Height 1 [foot]') }}</div>
                        <div v-if="!metric" class="col-4">{{ localization('Height 2 [foot]') }}</div>
                        <div v-if="!metric" class="col-4">{{ localization('Height 3 [foot]') }}</div>
                    </div>
                </div>
            </div>
            <div class="data_table" :style="{'height' : data_table_height}" ref="logListDataTable"> 
                <data-view-row 
                    v-for="(item, index) in tree_array"
                    :item="item"
                    :inventory="stand"
                    :index="index"
                    :key="item.id"
                    :selected="selected_tree===index"
                    @update="treeUpdated(index,$event)"
                    @selected="selected_tree=index"/>

                <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading">
                    <span slot="no-results"></span>
                    <span slot="no-more"></span>
                </infinite-loading>
            </div>

            <div class="row justify-content-end mx-2">
                <button class="btn btn-primary m-2" @click="$bvModal.show('add_item_modal')"><i class="text-white fas fa-plus"></i></button>
                <button class="btn btn-primary m-2" @click="removeTree()"><i class="text-white fas fa-minus"></i></button>
                <button class="btn btn-primary m-2" @click="$emit('hide')"><i class="text-white fas fa-times"></i></button>
            </div>

        </div>

        <add-log-modal
            v-if="stand.log_list===1"
            :stand="stand"
            :file="file"
            :dc_application="dc_application"
            :application_instance="application_instance"
            @new-log-created="addTree"/>
        <add-tree-modal
            v-if="stand.log_list!=1"
            :stand="stand"
            :file="file"
            :dc_application="dc_application"
            :application_instance="application_instance"
            @new-tree-created="addTree"/>

    </overlay>
</template>

<script>
    import Overlay from "@/vue/Components/Reusable-Components/Overlay"
    import InfiniteLoading from 'vue-infinite-loading';
    import AddLogModal from './Modals/AddLogModal'
    import AddTreeModal from './Modals/AddTreeModal'
    import DataViewRow from './DataViewRow'


    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object,
            show: Boolean,
        },
        data() {
            return {
                tree_array: [],
                page: 0,
                last_page: false,
                selected_tree: -1,
                species: [],
                qualities: [],
                metric: true,
                data_table_height: 600,
                event_timer: null
            };
        },
        computed: {

        },
        watch: {

        },
        components: { 
            Overlay,
            InfiniteLoading,
            AddLogModal,
            AddTreeModal,
            DataViewRow
        },
        methods: {
            infiniteHandler($state) {
                if(this.last_page)
                    return
                this.page += 1;
                axios.get('/api/application_instances/' + this.application_instance.id + 
                '/dc_applications/' + this.dc_application.id + 
                '/files/' + this.file.id +
                '/stands/' + this.stand.id + '/trees', {
                    params: {
                        page: this.page,
                    },
                })
                .then((response) => {
                    this.tree_array.push(...response.data.data);
                    if($state!=undefined) {
                        if(response.data.meta.current_page>=response.data.meta.last_page) {
                            $state.complete();
                            this.last_page=true;
                        } else {
                            $state.loaded();
                        }
                    }

                });
            },
            treeUpdated(index,copy) {
                this.tree_array.splice(index, 1, copy)

                axios.put('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id +
                    '/stands/' + this.stand.id +
                    '/trees/' + this.tree_array[index].id,this.tree_array[index])
                .then((response) => {
                    
                })
                .catch((error) => {
                    console.log(error);
                });
            },
            removeTree() {
                if(this.selected_tree<0) {
                    return;
                }

                axios.delete('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id +
                    '/stands/' + this.stand.id +
                    '/trees/' + this.tree_array[this.selected_tree].id)
                    .then((response) => {
                        this.$emit('tree-removed');
                        this.alert.message="Deleted tree";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                        this.tree_array.splice(this.selected_tree,1);
                        this.checkTable();
                        this.selected_tree=-1;
                    })
                    .catch((error) => {
                        this.alert.message="Error deleting tree";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            },
            addTree(tree) {
                if(!this.last_page)
                    return;
                
                this.tree_array.push(tree);
            },
            checkTable() {
                if(this.last_page)
                    return;
                let div = this.$refs.logListDataTable;
                let vs = div.scrollHeight-100 > div.clientHeight; 
                
                if(!vs) {
                    this.$refs.infiniteLoading.$emit('infinite');
                }
            },        
            resize(sizeData) {
                let ratio = 0.7;

                if(sizeData.height<900) {
                    ratio=0.6;
                }

                let height=Math.max(sizeData.cardHeight-200,350);

                this.data_table_height = height + 'px';

                var context = this;

                if(context.event_timer) {
                    clearTimeout(context.event_timer);
                }

                setTimeout(function() {
                    context.checkTable();
                },500);   
            }
        },
        mounted() {
            this.species=this.stand.species;
            this.qualities=this.stand.qualities;
            this.metric=this.stand.settings.measurement_system==='metric';
        },
        beforeDestroy() { 
            
        },
    }
</script>

<style scoped>
    .data_table {
        overflow-y: auto;
        overflow-x: auto;
    }
    .data_table th {
        word-wrap: normal; 
    }
    .summary {
        font-weight: normal;
        font-size: small;
    }
    .selected_class div, 
    .selected_class input 
    {
        background: rgba(96, 140, 191, 0.3);
    }

</style>