<template>
        <div>
            <form v-if="inventory_object">
                <div class="form-group row">
                    <label class="col-7">{{ localization('Inventory name') }}</label>
                    <input type="text" class="form-control col-4" v-model="inventory_object.name" :placeholder="inventory_object.display_name" @change="save()" required>
                </div>

                <div class="form-group row">
                    <label class="col-7 text-nowrap">{{ localization('Measurement System') }}</label>
                    <select class="col-4" v-model="inventory_object.settings.measurement_system" @change="save()">
                        <option value="metric">{{ localization('Metric') }}</option>
                        <option value="imperial">{{ localization('Imperial') }}</option>
                    </select>
                </div>

                <div v-if="!inventory.log_list">
                    <div class="form-group row">
                        <label class="col-7 text-nowrap">{{ localization('Inventory type') }}</label>
                        <select class="col-4" v-model="inventory_object.settings.inventory_type" @change="save()">
                            <option value="total">{{ localization('Total inventory') }}</option>
                            <option value="plot">{{ localization('Plot inventory') }}</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label class="col-7 text-nowrap">{{ localization('Volume calculation') }}</label>
                        <select class="col-4" v-model="inventory_object.settings.volume_calculation" @change="save()">
                            <option value="form_height">{{ localization('Form height') }}</option>
                            <option value="form_factor">{{ localization('Form factor') }}</option>
                        </select>
                    </div>

                    <div class="form-group row" v-if="inventory_object.settings.inventory_type==='total'">
                        <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='metric'">{{ localization('Total Areal [m²]') }}</label>
                        <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='imperial'">{{ localization('Total Areal [ft²]') }}</label>
                        <input type="number" class="form-control col-4" v-model.lazy="totalAreal"/>
                    </div>

                    <div v-if="inventory_object.settings.inventory_type==='plot'">
                        <div class="form-group row">
                            <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='metric'">{{ localization('Plot Radius [m]') }}</label>
                            <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='imperial'">{{ localization('Plot Radius [ft]') }}</label>
                            <input type="number" class="form-control col-4" v-model.lazy="plotradius"/>
                        </div>

                        <div class="form-group row">
                            <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='metric'">{{ localization('Plot Areal [m²]') }}</label>
                            <label class="col-7 text-nowrap" v-if="inventory_object.settings.measurement_system==='imperial'">{{ localization('Plot Areal [ft²]') }}</label>
                            <input type="number" class="form-control col-4" v-model.lazy="plotAreal"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-7 text-nowrap">{{ localization('Use as default') }}</label>
                        <div class="col-4">
                            <input type="checkbox" v-model="inventory_object.set_default_settings" @change="save()"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</template>

<script>
    export default {
        props: {
            inventory: Object,
            save_settings: Boolean
        },
        data() {
            return {
                inventory_object: null
            };
        },
        watch: {
            inventory: function(n,o) {
                this.loadInventoryObject();
            },
            save_settings: function(n,o) {
                if(this.save_settings===true) {
                    this.save();
                }
                    
            }
        },
        computed: {
            plotradius: {
                get: function() {
                    return this.round(this.inventory_object.settings.plot_radius,2);
                },
                set: function(value) {
                    this.inventory_object.settings.plot_radius=value;
                    if(!isNaN(value)&&Math.sign(value)===1) {
                        this.inventory_object.settings.plot_areal=Math.PI*(value*value);
                    }
                    this.save();
                }
            },
            plotAreal: {
                get: function() {
                    return this.round(this.inventory_object.settings.plot_areal,2);
                },
                set: function(value) {
                    this.inventory_object.settings.plot_areal=value;
                    let radius = Math.sqrt(value/Math.PI);
                    this.inventory_object.settings.plot_radius=radius;
                    this.save();
                }
            },
            totalAreal: {
                get: function() {
                    return this.round(this.inventory_object.settings.total_areal,2);
                },
                set: function(value) {
                    this.inventory_object.settings.total_areal=value;
                    this.save();
                }
            }
        },
        components: { 

        },
        methods: {
            loadInventoryObject() {
                let default_settings = {
                    measurement_system: 'metric',
                    inventory_type: 'total',
                    total_areal: 0,
                    plot_radius: 0,
                    plot_areal: 0,
                    volume_calculation: 'form_factor'
                };

                this.inventory_object=Object.assign({},this.inventory);
                this.inventory_object.settings=Object.assign(default_settings,this.inventory.settings);
                this.inventory_object.set_default_settings=false;

            },
            save() {
                let settings=this.inventory_object.settings;

                settings.total_inventory=0;
                settings.plot_inventory=0;
                settings.metric=0;
                settings.imperial=0;
                settings.form_factor=0;
                settings.form_height=0;

                if(settings.inventory_type==='total') {
                    settings.total_inventory=1;
                }
                else if(settings.inventory_type==='plot') {
                    settings.plot_inventory=1;
                }

                if(settings.measurement_system==='metric') {
                    settings.metric=1;
                }
                else {
                    settings.imperial=1;
                }

                if(settings.volume_calculation==='form_factor') {
                    settings.form_factor=1;
                }
                else if(settings.volume_calculation==='form_height') {
                    settings.form_height=1;
                }

                this.inventory_object.settings=settings;
                this.$emit('update-inventory',this.inventory_object);
            }
        },
        mounted() {
            this.loadInventoryObject();
        },
    }
</script>