<template>
    <div>
        {{ localization('Qualities') }}
        <div class="list-group">
            <div class="list-group-item draggable-list-item"
                v-for="q in small_qualities_list"
                v-bind:key="q.id"
                :draggable="!q.standard"
                @click="clicked_quality=q"
                @dragstart="drag($event,q)"
                @drop="drop($event,q)" 
                @dragover="dragover($event,q)">

                <span :class="q.standard ? 'font-weight-bold' : ''">
                    {{q.text}}
                </span>

            </div>
        </div>

        <button v-if="qualities.length" type="button" class="btn btn-light btn-sm mt-2" @click="show_all=true">{{ localization('Show all') }}</button>

        <show-all-view
            @close="show_all=false"
            v-if="show_all"
            :show="true"
            :title="'Qualities'"
            :items_list="qualities_list"
            @item-clicked="clicked_quality=$event"
            @merge-item="merge"/>

        <confirm-quality-merge-modal
            v-if="show_merge_modal"
            :show="show_merge_modal"
            :application_instance="application_instance"
            :dc_application="dc_application"
            :quality1="quality1"
            :quality2="quality2"
            @quality-merged="$emit('quality-merged',$event)"
            @hide="show_merge_modal=false"/>

        <edit-quality-modal
            :show="clicked_quality"
            :quality="clicked_quality"
            @hide="clicked_quality=null"
            @update="updateQuality"
            />

    </div>
</template>

<script>
    import ConfirmQualityMergeModal from './Modals/ConfirmQualityMergeModal'
    import ShowAllView from './ShowAllView'
    import EditQualityModal from './Modals/EditQualityModal'
    export default {
        props: {
            qualities: Array,
            application_instance: Object,
            dc_application: Object
        },
        data() {
            return {
                qualities_list: [],
                small_qualities_list: [],
                clicked_quality: null,
                quality1: null,
                quality2: null,
                show_merge_modal: false,
                show_all: false
            };
        },
        watch: {
            qualities: function(n,o) {
                this.loadQualities();
            },
            dc_application: function(n,o) {
                this.loadQualities();
            }
        },
        components: { 
            ConfirmQualityMergeModal,
            ShowAllView,
            EditQualityModal
        },
        methods: {
            drag(e,quality) {
                this.quality2=quality;
            },
            dragover(e,quality) {
                e.preventDefault();
            },
            drop(e,quality) {
                this.quality1=quality;
                this.show_merge_modal=true;
            },
            loadQualities() {
                let stop = Math.min(5,this.qualities.length);

                this.qualities_list = [...this.dc_application.qualities];
                this.small_qualities_list = [];

                for(let i=0;i<this.qualities_list.length;i++) {
                    this.qualities_list[i].text=this.qualities_list[i].quality_text;
                    this.qualities_list[i].standard=true;
                }

                for(let i=0;i<this.qualities.length;i++) {
                    let q = this.qualities[i];

                    q.text=q.quality_text;
                    q.standard=q.m_d_i_i_application_id!=null;

                    if(i<stop) {
                        this.small_qualities_list.push(q);
                    }

                    let exists=false;

                    for(let j=0;j<this.qualities_list.length;j++) {
                        if(this.qualities_list[j].id===q.id) {
                            exists=true;
                            break;
                        }
                    }

                    if(!exists) {
                        this.qualities_list.push(q);
                    }
                }
            },
            merge(items) {
                this.quality1=items.item1;
                this.quality2=items.item2;
                this.show_merge_modal=true;
            },
            updateQuality(data) {
                let new_object=Object.assign({},this.clicked_quality);

                new_object.quality_text=data.text;

                let standard_updated=false;

                if(data.standard!=(this.clicked_quality.m_d_i_i_application_id!=null)) {
                    standard_updated=true;
                }

                if(data.standard) {
                    new_object.m_d_i_i_application_id=this.dc_application.id;
                }
                else {
                    new_object.m_d_i_i_application_id=null;
                }

                axios.put('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/qualities/' + this.clicked_quality.id,new_object)
                .then((response) => {
                    this.$emit('update-quality',response.data);

                    if(standard_updated) {
                        this.$emit('dc-application-updated');
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.loadQualities();
        },
    }
</script>