<template>
    <div>
        {{ localization('Reports') }}
        <reports-view
            v-bind:report_key="report_key"
            v-bind:application_instance="application_instance"
            v-bind:reportDataFunction="reportDataFunction"
            v-bind:generate="generate"
            @hide-generate-modal="$emit('hide-generate-modal')"
            @report-template-selected="$emit('report-template-selected')"
        />
    </div>
</template>

<script>
    import ReportsView from "@/vue/Components/Reusable-Components/ReportsView"
    export default {
        props: {
            report_key: String,
            application_instance: Object,
            reportDataFunction: Function,
            generate: Boolean
        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 
            ReportsView
        },
        methods: {

        },
        mounted() {

        },
    }
</script>