<template>
    <div>
        <overlay 
            id="overlay"
            :show="showOverview" 
            :title="title"
            :minHeight="300"
            :minWidth="300"
            :sizeClass="'col-md-2'"
            @size-changed="SizeChanged"
            @close="$emit('close')">

            <div class="d-flex flex-wrap flex-column">
                <div class="list-group-item draggable-list-item d-inline"
                    v-for="item in items_list"
                    v-bind:key="item.id"
                    draggable="true"
                    @click="$emit('item-clicked',item)"
                    @dragstart="drag($event,item)"
                    @drop="drop($event,item)" 
                    @dragover="dragover($event,item)">

                    <span :class="item.standard ? 'font-weight-bold' : ''">
                        {{item.text}}
                    </span>
                    
                </div>
            </div>

        </overlay>
    </div>
</template>

<script>
    import Overlay from "@/vue/Components/Reusable-Components/Overlay"
    export default {
        props: {
            items_list: Array,
            title: String,
            show: Boolean
        },
        data() {
            return {
                item: null,
                listSize: {
                    width: '600px',
                    height: '600px'
                }
            };
        },
        watch: {

        },
        computed: {
            showOverview: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('close');
                    } 
                }
            },
        },

        components: { 
            Overlay
        },
        methods: {
            drag(e,item) {
                this.item=item;
            },
            dragover(e,item) {
                e.preventDefault();
            },
            drop(e,item) {
                this.$emit('merge-item',{
                    'item1': item,
                    'item2': this.item
                });
            },
            SizeChanged(new_size) {
                this.listSize={
                    height: (new_size.height-200) + 'px',
                    width: (new_size.width-400) + 'px'
                };
            }
        },
        mounted() {

        },
    }
</script>