<template>
    <div>
        {{ localization('Species') }}
        <div class="list-group">
            <div class="list-group-item specie-item specie-shortlist-item draggable-list-item"
                v-for="s in small_species_list"
                v-bind:key="s.id"
                :draggable="!s.standard"
                @click="clicked_species=s"
                @dragstart="drag($event,s)"
                @drop="drop($event,s)" 
                @dragover="dragover($event,s)">
                
                <span :class="s.standard ? 'font-weight-bold' : ''">
                    {{s.text}}
                </span>

            </div>
        </div>

        <button type="button" class="btn btn-light btn-sm mt-2" @click="show_all=true">{{ localization('Show all') }}</button>

        <show-all-view
            @close="show_all=false"
            v-if="show_all"
            :show="true"
            :title="'Species'"
            :items_list="species_list"
            @item-clicked="clicked_species=$event"
            @merge-item="merge"/>

        <edit-species-modal
            :show="clicked_species ? true : false"
            :species="clicked_species"
            @hide="clicked_species=null"
            @update="updateSpecies"/>

        <confirm-species-merge-modal
            v-if="show_merge_modal"
            :show="show_merge_modal"
            :application_instance="application_instance"
            :dc_application="dc_application"
            :species1="species1"
            :species2="species2"
            @species-merged="$emit('species-merged',$event)"
            @hide="show_merge_modal=false"/>
    </div>
</template>

<script>
    import ConfirmSpeciesMergeModal from './Modals/ConfirmSpeciesMergeModal'
    import EditSpeciesModal from './Modals/EditSpeciesModal'
    import ShowAllView from './ShowAllView'
    export default {
        props: {
            species: Array,
            application_instance: Object,
            dc_application: Object
        },
        data() {
            return {
                species_list: [],
                small_species_list: [],
                species1: null,
                species2: null,
                show_merge_modal: false,
                show_all: false,
                clicked_species: null
            };
        },
        watch: {
            species: function(n,o) {
                this.loadSpecies();
            },
            dc_application: function(n,o) {
                this.loadSpecies();
            }
        },
        components: { 
            ConfirmSpeciesMergeModal,
            ShowAllView,
            EditSpeciesModal
        },
        methods: {
            drag(e,species) {
                this.species2=species;
            },
            dragover(e,species) {
                e.preventDefault();
            },
            drop(e,species) {
                this.species1=species;
                this.show_merge_modal=true;
            },
            loadSpecies() {
                let stop = Math.min(5,this.species.length);
                this.species_list = [...this.dc_application.species];
                this.small_species_list = [];

                for(let i=0;i<this.species_list.length;i++) {
                    this.species_list[i].text=this.species_list[i].specie_text;
                    this.species_list[i].standard=true;
                }
                    
                for(let i=0;i<this.species.length;i++) {

                    let s = this.species[i];

                    s.text=s.specie_text;
                    s.standard=s.m_d_i_i_application_id!=null;

                    if(i<stop) {
                        this.small_species_list.push(s);
                    }

                    let exists=false;

                    for(let j=0;j<this.species_list.length;j++) {
                        if(this.species_list[j].id===s.id) {
                            exists=true;
                            break;
                        }
                    }

                    if(!exists) {
                        this.species_list.push(s);
                    }
                    
                }
            },
            merge(items) {
                this.species1=items.item1;
                this.species2=items.item2;
                this.show_merge_modal=true;
            },
            updateSpecies(data) {
                let new_object=Object.assign({},this.clicked_species);

                new_object.specie_text=data.text;

                let standard_updated=false;

                if(data.standard!=(this.clicked_species.m_d_i_i_application_id!=null)) {
                    standard_updated=true;
                }

                if(data.standard) {
                    new_object.m_d_i_i_application_id=this.dc_application.id;
                }
                else {
                    new_object.m_d_i_i_application_id=null;
                }

                new_object.form_factor=data.form_factor;
                new_object.form_height=data.form_height;

                axios.put('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/species/' + this.clicked_species.id,new_object)
                .then((response) => {
                    if(standard_updated) {
                        this.$emit('dc-application-updated');
                    }
                    else {
                        this.$emit('update-species',response.data);
                    }   
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.loadSpecies();
        },
    }
</script>