<template>
    <div>
        <overlay
            v-if="stand_data"
            v-bind:show="showOverview" 
            v-bind:title="stand.display_name"
            v-bind:sizeClass="'col-md-5'"
            @close="save_button_clicked=true;$emit('close')">

            <log-list-view
                v-if="stand_data.log_list"
                v-bind:dc_application="dc_application"
                v-bind:application_instance="application_instance"
                v-bind:file="file"
                v-bind:stand="stand_data"
                v-bind:save_button_clicked="save_button_clicked"
                :generate_report_clicked="generate_report_clicked"
                @remove-quality="removeQuality"
                @update-quality="updateQuality"
                @remove-species="removeSpecies"
                @update-species="updateSpecies"
                @update-inventory="save_button_clicked=false;$emit('update-inventory',$event)"
                @report-template-selected="can_generate_report=true"
                @hide-generate-modal="generate_report_clicked=false;"
                @dc-application-updated="$emit('dc-application-updated')"
                @close="save_button_clicked=true;$emit('close')"/>

            <stand-view
                v-if="!stand_data.log_list"
                v-bind:dc_application="dc_application"
                v-bind:application_instance="application_instance"
                v-bind:file="file"
                v-bind:stand="stand_data"
                v-bind:save_button_clicked="save_button_clicked"
                :generate_report_clicked="generate_report_clicked"
                @remove-species="removeSpecies"
                @update-species="updateSpecies"
                @hide-generate-modal="generate_report_clicked=false"
                @update-inventory="save_button_clicked=false;$emit('update-inventory',$event)"
                @dc-application-updated="$emit('dc-application-updated')"
                @close="save_button_clicked=true;$emit('close')"/>

            <div v-if="isMobile()">
                <div class="d-flex flex-row justify-content-center">
                    <button 
                        type="button" 
                        class="btn btn-primary mx-3"
                        @click="generate_report_clicked=true">
                        <i class="fas fa-print fa-fw fa-4x my-4"></i>
                    </button>

                    <button 
                        type="button" 
                        class="btn btn-secondary mx-3"
                        @click="show_download_modal=true">
                        <i class="fas fa-file-csv fa-fw fa-4x my-4"></i>
                    </button>
                </div>
                <div class="d-flex flex-row justify-content-center my-4">
                    <button 
                        type="button" 
                        @click="save_button_clicked=true"
                        class="btn btn-secondary mx-3">
                        <i class="fas fa-save fa-fw fa-4x my-4"></i>
                    </button>

                    <button 
                        type="button" 
                        class="btn btn-danger mx-3"
                        @click="$bvModal.show('delete-inventory-modal')">
                        <i class="fas fa-trash-alt fa-fw fa-4x my-4"></i>
                    </button>
                </div>
                <div class="d-flex flex-row justify-content-center mb-4">
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        @click="$emit('close')">
                        <i class="fas fa-window-close fa-fw fa-4x my-4"></i>
                    </button>
                </div>
            </div>

            <div class="col-12 ml-1 mt-2 pt-2" v-else>
                <button 
                    type="button" 
                    class="btn btn-secondary float-right"
                    @click="save_button_clicked=true;$emit('close')">
                    <i class="fas fa-window-close"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-secondary float-right mr-2"
                    @click="show_data_view=true;save_button_clicked=true">
                    <i class="fas fa-table"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-danger float-right mr-2"
                    @click="$bvModal.show('delete-inventory-modal')">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary float-right mr-2"
                    @click="show_download_modal=true;save_button_clicked=true">
                    <i class="fas fa-file-csv"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary float-right mr-2"
                    @click="generate_report_clicked=true;save_button_clicked=true">
                    <i class="fas fa-print"></i>
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary float-right mr-2"
                    @click="save_button_clicked=true">
                    <i class="fas fa-save"></i>
                </button>
            </div>

            <download-csv-file-modal
                @hide="show_download_modal=false"
                v-if="show_download_modal"
                :dc_application="dc_application"
                :application_instance="application_instance"
                :file="file"
                :stand="stand_data"
                :show="show_download_modal"/>

            <data-view
                v-if="show_data_view"
                :stand="stand_data"
                :file="file"
                @hide="show_data_view=false"
                :dc_application="dc_application"
                :application_instance="application_instance"
                :show="show_data_view"/>

            <delete-inventory-modal
                @inventory-removed="$emit('inventory-removed',stand_data)"
                :stand="stand_data"
                :file="file"
                :dc_application="dc_application"
                :application_instance="application_instance"
            />
            
        </overlay>
    </div>
</template>

<script>
    import Overlay from "@/vue/Components/Reusable-Components/Overlay"
    import LogListView from "./LogListView"
    import StandView from "./StandView"
    import DataView from "./DataView"
    import DownloadCsvFileModal from "./Modals/DownloadCsvFileModal"
    import DeleteInventoryModal from "./Modals/DeleteInventoryModal"

    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object
        },
        data() {
            return {
                stand_data: null,
                show_data_view: false,
                show_download_modal: false,
                can_generate_report: false,
                generate_report_clicked: false,
                save_button_clicked: false
            };
        },
        watch: {
            stand: function(n,o) {
                if(this.stand!=null)
                    this.getStand();
            }
        },
        computed: {
            showOverview: function() {
                return this.stand!=null;
            }
        },
        components: { 
            Overlay,
            LogListView,
            StandView,
            DataView,
            DownloadCsvFileModal,
            DeleteInventoryModal,
        },
        methods: {
            getStand() {
                axios.get('/api/application_instances/' + this.application_instance.id + 
                        '/dc_applications/' + this.dc_application.id + 
                        '/files/' + this.file.id +
                        '/stands/' + this.stand.id)
                    .then((response) => {
                        this.stand_data=response.data;
                        if(typeof this.stand_data.settings === 'string') {
                            this.stand_data.settings=JSON.parse(this.stand_data.settings);
                        }
                        this.stand_data.display_name=this.stand.display_name;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            updateQuality(quality) {
                let found=false;
                for(let i=0;i<this.stand_data.qualities.length;i++) {
                    if(quality.id===this.stand_data.qualities[i].id) {
                        this.$set(this.stand_data.qualities, i, quality);
                        found=true;
                        break;
                    }
                }

                if(!found) {
                    this.getStand();
                }
            },
            updateSpecies(species) {
                let found=false;
                for(let i=0;i<this.stand_data.species.length;i++) {
                    if(species.id===this.stand_data.species[i].id) {
                        this.$set(this.stand_data.species, i, species);
                        found=true;
                        break;
                    }
                }

                if(!found) {
                    this.getStand();
                }
            },
            removeQuality(quality) {
                for(let i=0;i<this.stand_data.qualities.length;i++) {
                    if(quality.id===this.stand_data.qualities[i].id) {
                        this.stand_data.qualities.splice(i,1);
                        break;
                    }
                }
            },
            removeSpecies(species) {
                for(let i=0;i<this.stand_data.species.length;i++) {
                    if(species.id===this.stand_data.species[i].id) {
                        this.stand_data.species.splice(i,1);
                        break;
                    }
                }
            }
        },
        mounted() {
            this.getStand();
        },
    }
</script>