<template>
    <div class="p-2" ref="box">
        <div class="row" v-if="isMobile()">

            <div class="col-12 border border-1 p-3 m-1" v-if="current_user">
                <h5 class="mb-3">{{ localization('Summary') }}</h5>
                {{ localization('Date:') }} {{ stand.created_at | formatDate(current_user.date_format,current_user.timezone)}}<br>
                {{ localization('Number of trees:') }} {{ stand.tree_count }}<br>
                {{ localization('Number of sample trees:') }} {{ stand.sample_tree_count }}<br>
                <div v-if="stand.settings.inventory_type==='plot'">{{ localization('Number of plots:') }} {{ stand.plots.length }}</div>
            </div>

            <div class="col-12 border border-1 p-3 m-1">
                <h5 class="mb-3">{{ localization('Settings') }}</h5>
                <inventory-settings
                    :inventory="stand"
                    :save_settings="save_button_clicked"
                    @update-inventory="$emit('update-inventory',$event)"/>
            </div>


            <generate-report-modal
                v-bind:report_key="'dc_stand_view'"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:show="generate_report_clicked"
                @hide="$emit('hide-generate-modal')"
            />


        </div>
        <div class="row" v-else>
            <div class="col-6">
                <div class="row">
                    <div class="col border border-1 p-3 m-1" v-if="current_user">
                        <h5 class="mb-3">{{ localization('Summary') }}</h5>
                        {{ localization('Date:') }} {{ stand.created_at | formatDate(current_user.date_format,current_user.timezone)}}<br>
                        {{ localization('Number of trees:') }} {{ stand.tree_count }}<br>
                        {{ localization('Number of sample trees:') }} {{ stand.sample_tree_count }}<br>
                        <div v-if="stand.settings.inventory_type==='plot'">{{ localization('Number of plots:') }} {{ stand.plots.length }}</div><br>
                    </div>
                </div>
                <div class="row">
                    <species-box class="col border border-1 p-3 m-1 overflow-auto"
                        v-bind:species="stand.species"
                        :dc_application="dc_application"
                        :application_instance="application_instance"
                        @species-merged="$emit('remove-species',$event)"
                        @update-species="$emit('update-species',$event)"
                        @dc-application-updated="$emit('dc-application-updated')"/>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col border border-1 p-3 m-1">
                    <h5 class="mb-3">{{ localization('Settings') }}</h5>
                    <inventory-settings
                        :inventory="stand"
                        :save_settings="save_button_clicked"
                        @update-inventory="$emit('update-inventory',$event)"/>
                    </div>
                </div>
            </div>

            <generate-report-modal
                v-bind:report_key="'dc_stand_view'"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:show="generate_report_clicked"
                @hide="$emit('hide-generate-modal')"
            />

        </div>
    </div>
            
</template>

<script>

    import ReportsBox from "./ReportsBox"
    import GenerateReportModal from "@/vue/Components/Reusable-Components/GenerateReportModal"
    import SpeciesBox from "./SpeciesBox"
    import InventorySettings from "./InventorySettings"

    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object,
            generate_report_clicked: Boolean,
            save_button_clicked: Boolean
        },
        data() {
            return {
                viewport: {
                    height: 0,
                    widht: 0
                },
                settingsVisible: false
            };
        },
        watch: {

        },
        computed: {
            showOverview: function() {
                return this.stand!=null;
            },

        },
        components: { 
            ReportsBox,
            SpeciesBox,
            InventorySettings,
            GenerateReportModal
        },
        methods: {
            reportDataFunction() {
                return new Promise((resolve, reject) => { 
                    axios.get('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id +
                    '/stands/' + this.stand.id + '/full')
                    .then((response) => {
                        resolve(response.data);
                    })
                    .catch((error) => {
                        reject(error);
                    });
                });
            },
        },
        mounted() {
            this.getUser();
        },
    }
</script>