<template>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="row justify-content-end">

                <div class="col-md-auto p-4 text-right">
                    <component :is="this.$route.meta.submenu || 'div'"/>
                </div>

                <div class="col-md-auto p-4 text-right" v-if="role>0">
                    <h4 class="text-white">{{ localization('Admin') }}</h4>
                    <ul class="list-unstyled">
                        <li><router-link class="text-white" to="/admin/users">{{ localization('Manage users') }}</router-link></li>
                        <li><router-link class="text-white" to="/admin/organizations">{{ localization('Manage organizations') }}</router-link></li>
                        <li><router-link class="text-white" to="/admin/reporttemplates">{{ localization('Manage Reporttemplates') }}</router-link></li>
                    </ul>
                </div>

                <div class="col-md-auto p-4 text-right">
                    <h4 class="text-white">{{ localization('Main menu') }}</h4>
                    <ul class="list-unstyled">
                        <div v-if="logged_in"> 
                            <li><a class="text-white" href="logout" @click="logout()">
                                {{ localization('Logout') }}
                            </a></li>
                            <li><router-link class="text-white" to="/edit_user">
                                {{ localization('User Settings') }}
                            </router-link></li>
                        </div>
                        <div v-if="!logged_in">
                            <li><router-link class="text-white" to="/login">{{ localization('Login') }}</router-link></li>
                            <li><router-link class="text-white" to="/register">{{ localization('Register') }}</router-link></li>
                        </div>
                        <li><a href="documents.about" class="text-white">
                            {{ localization('About') }}
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container-fluid d-flex justify-content-between">
                <div>
                    <a href="#" @click="$eventHub.$emit('back-button-pressed')" id="back-button"><img src="/img/left-arrow.png"></a>
                    <router-link class="navbar-brand" to="/organizations">
                        <img src="/img/haglof_application_cloud_white_small.png">
                    </router-link>
                </div>
                <button class="navbar-toggler" id="navbar-btn" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        props: {
            submenu: Object,
        },
        data() {
            return {
                role: 0,
                logged_in: false
            };
        },
        components: { 
            
        },
        methods: {
            logout() {
                this.$store.dispatch('auth/logout');
                this.$router.replace('/');
            },
            checkLoggedInStatus() {
                this.logged_in = this.$store.getters['auth/isAuthenticated'];

                if (this.logged_in) {
                    this.$store.dispatch('auth/getUser').then((user) => { 
                        this.role=user.role;
                    });
                }
            }
        },
        created() {
            this.$eventHub.$on('logged-in',this.checkLoggedInStatus);
        },
        beforeDestroy() {
            this.$eventHub.$off('logged-in');
        },
        mounted: function () {
            this.checkLoggedInStatus();
        }
    }
</script>