<template>
    <div class='default-layout'>
        <layout-header/>
        <slot/>
    </div>
</template>

<script>
    import LayoutHeader from './Header' 
    export default {
        methods: {

        },
        components: {
            LayoutHeader
        }
    }
</script>

<style lang="scss">
    @import "resources/sass/app.scss";
    @import "~jquery-ui-dist/jquery-ui.css";   
    @import "~animate.css/animate.min.css";
</style>