<template>
    <div>
        <slot/>
    </div>
</template>

<script>

    export default {
        methods: {

        },
        components: {

        }
    }
</script>

<style lang="scss">


    
</style>