<template>
        <b-modal v-model="showModal" :title="localization('Generate report')">

            <reports-view
                v-if="show"
                v-bind:report_key="'pile_single'"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:generate="generate"
                @hide="$emit('hide')"
                @report-template-selected="template_selected=true"
            />

            <template v-slot:modal-footer="{ cancel }">
                <button :disabled="!template_selected" type="button" class="btn btn-default" @click="generate=true">{{ localization('Generate') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    import ReportsView from "@/vue/Components/Reusable-Components/ReportsView"
    export default {
        props: {
            show: Boolean,
            application_instance: Object,
            measurement_data: Object
        },
        watch: {

        },
        data() {
            return {
                template_selected:false,
                generate:false
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                    this.template_selected=false;
                }
            }
        },
        components: { 
            ReportsView
        },
        methods: {
            reportDataFunction() {
                let context=this;
                return new Promise((resolve, reject) => {
                    resolve(context.measurement_data);
                });
            },
        },
        mounted() {
            
        },
    }
</script>