<template>
        <b-modal id="snapshot-modal" title="Current Snapshot">

            <img :src="snapshot.data" v-if="snapshot" width="100%" height="100%">

            <template v-slot:modal-footer="{ ok }">
                <button type="button" class="btn btn-default" @click="ok()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    export default {
        props: {
            snapshot: Object
        },
        watch: {

        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {

        },
        mounted() {
            
        },
    }
</script>