<template>
        <b-modal id="create-organization-modal" :title="localization('Create Organization')">
            <form @submit.prevent="prevent">
                <label>{{ localization('Organization name') }}</label>
                <input type="text" class="form-control" v-model="new_organization.name" required>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="createOrganization();ok()">{{ localization('Create') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        data() {
            return {
                new_organization: {
                    name: ""
                },
            };
        },
        components: { 

        },
        methods: {
            prevent(e) {
                // Do nothing
            },
            createOrganization() {
                axios.post('/api/organizations',this.new_organization)
                    .then((response) => {
                        this.$emit('new-organization-created');
                        this.alert.message="Created new organization";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error creating organization";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            }
        },
        mounted() {

        },
    }
</script>