<template>
        <b-modal id="delete-application-instance-modal" :title="localization('Delete Application Instance')">

            <div v-if="application_instance!=null">{{ localization('Are you sure you want to delete') }} {{ application_instance.application.name }}</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteApplicationInstance();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteApplicationInstance() {
                axios.delete('/api/application_instances/' + this.application_instance.id)
                    .then((response) => {
                        this.$emit('application-instance-deleted');
                        this.alert.message="Deleted application instance";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error removing application instance";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>