<template>
        <b-modal id="delete-organization-modal" :title="localization('Delete Orgnaization')">

            {{ localization('Are you sure you want to delete') }} {{ organization.name }}

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteOrganization();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            organization: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteOrganization() {
                axios.delete('/api/organizations/' + this.organization.id)
                    .then((response) => {
                        this.$emit('organization-deleted');
                        this.alert.message=localization('Deleted organization');
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message=localization('Error deleting organization');
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>