<template>
        <b-modal id="remove-user-modal" :title="localization('Remove User from') + ' ' + organization==null ? '' : localization('Organization') + application_instance==null ? '' : localization('Application instance')">

            <div v-if="user!=null">{{ localization('Are you sure you want to remove') }} {{ user.identifiable_name }}</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="removeUser();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            user: Object,
            organization: Object,
            application_instance: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            removeUser() {
                if(this.organization!=null) {
                    axios.delete('/api/organizations/' + this.organization.id + '/users/' + this.user.id)
                        .then((response) => {
                            this.$emit('user-removed');

                            this.alert.message=localization("User removed");
                            this.alert.variant="success";
                            this.$emit('alert-event',this.alert);
                        })
                        .catch((error) => {
                            this.alert.message=localization("Error removing user");
                            this.alert.variant="danger";
                            this.$emit('alert-event',this.alert);
                            console.log(error);
                        });
                }
                else if(this.application_instance!=null) {
                    axios.delete('/api/application_instances/' + this.application_instance.id + '/users/' + this.user.id)
                        .then((response) => {
                            this.$emit('user-removed');

                            this.alert.message=localization("User removed");
                            this.alert.variant="success";
                            this.$emit('alert-event',this.alert);
                        })
                        .catch((error) => {
                            this.alert.message=localization("Error removing user");
                            this.alert.variant="danger";
                            this.$emit('alert-event',this.alert);
                            console.log(error);
                        });
                }

            }
        },
        mounted() {

        },
    }
</script>