<template>
        <b-modal id="restore-application-instance-modal" :title="localization('Restore Application Instance')">

            {{ localization('Restore application instance from time') }}: <input type="datetime-local" v-model="restore_from"/>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-primary" @click="restoreApplicationInstance();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
        },
        data() {
            return {
                restore_from_datetime: this.$moment(new Date()),
            };
        },
        watch: {
            application_instance: function(n,o) {
                if(this.application_instance.trashed) {
                    this.restore_from_datetime=this.$moment(this.application_instance.deleted_at).subtract(1,'minutes');
                }
            }
        },
        computed: {
            restore_from: {
                get: function() {
                    return this.$moment(this.restore_from_datetime).format(this.$moment.HTML5_FMT.DATETIME_LOCAL);
                },
                set: function (newValue) {
                    this.restore_from_datetime=this.$moment(newValue);
                }
            }
        },
        components: { 

        },
        methods: {
            restoreApplicationInstance() {
                axios.post('/api/application_instances/' + this.application_instance.id + '/restore',{ 'from_time' : this.restore_from_datetime })
                    .then((response) => {
                        this.$emit('application-instance-restored',response.data);
                        this.alert.message=localization('Application instance restored');
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message=localization('Error restoring application instance');
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            },
        },
        mounted() {

        },
    }
</script>