<template>
    <div class="alert-box flex-row justify-content-center" v-show="alertCountDown" @click="alertCountDown=0">
        <div :class="['alert',alert_class,'d-flex']" role="alert">
            <p>{{ alert_message }}</p>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                timespan: 8,
                alertCountDown: 0,
                timer: null,
                alert: {
                    message: "",
                    variant: ""
                }
            };
        },
        props: {
            message: String,
            variant: String
        },
        watch: { 
            message: {
                immediate: true,
                handler: function (newVal, oldVal) {
                    let a = {
                        message: this.message,
                        variant: this.variant
                    }
                    this.newAlert(a);
                }
            },
            variant: {
                immediate: true,
                handler: function (newVal, oldVal) {
                    let a = {
                        message: this.message,
                        variant: this.variant
                    }
                    this.newAlert(a);
                }
            }
        },
        computed: {
            alert_message: {
                get: function() {
                    return this.alert.message
                },
                set: function(message) {
                    this.alert.message=message;
                    
                    if(message!="") {
                        this.alertCountDown=this.timespan;
                    }
                }
            },
            alert_class: {
                get: function() {
                    return 'alert-' + this.alert.variant;
                }
            }
        },
        methods: {
            newAlert(alert) {
                if(alert.message==null|alert.message=="") {
                    return;
                }
                this.alert_message=alert.message;
                this.alert.variant=alert.variant;
                this.startCountdown();
            },
            startCountdown() {
                this.alertCountDown=this.timespan;
                this.timer = setInterval( () => {
						if (this.alertCountDown > 0) {
                            this.alertCountDown--
						} else {
							 clearInterval(this.timer)
						}
				    }, 1000 )
            }
        },
        created() {
            this.$eventHub.$on('alert-event', this.newAlert);
        },
        beforeDestroy() {
            this.$eventHub.$off('alert-event');
        },
        
    }
</script>