<template>
    <button type="button" class="btn" :class="btn_class" @click="buttonClicked">
        <div v-if="!button_text"><slot/></div>
        <div v-if="button_text">{{button_text}}</div>
    </button>
</template>

<script>

    export default {
        props: {
            time: Number
        },
        data() {
            return {
                countdown: this.time,
                pressed: false,
                button_text: null,
                btn_class:"btn-default",
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            buttonClicked() {
                if(this.countdown==0) {
                    this.$emit('click');
                    this.button_text=null;
                    this.btn_class="btn-default";
                }
                else {
                    this.countdown=this.time;
                    this.button_text=this.countdown;
                    this.btn_class="btn-danger";
                    this.timer = setInterval( () => {
						if (this.countdown > 0) {
                            this.button_text=this.countdown;
                            this.countdown--
						} else {
							 clearInterval(this.timer)
                             this.button_text="Confirm";
						}
				    }, 1000 )
                }
            }
        },
        mounted() {

        },
    }
</script>