<template>
    <b-modal id="javascript-editor" size="xl" :title="localization('Javascript editor')">

        <div class="row">
            <prism-editor
                class="my-editor height-300 col-7"
                v-model="classString"
                :highlight="highlighter"
                :line-numbers="true"/>

            <json-view class="col-5" :data="output_data" />

        </div>

        <template v-slot:modal-footer="{ cancel }">
            <confirm-button :time="3" @click="reset()">{{ localization('Reset') }}</confirm-button>
            <a class="btn btn-default" ref="download_button" @click="download()">{{ localization('Download') }}</a>
            <button type="submit" class="btn btn-default" @click="save();">{{ localization('Save') }}</button>
            <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
        </template>

    </b-modal>
</template>

<script>
    import { PrismEditor } from "vue-prism-editor";
    import "vue-prism-editor/dist/prismeditor.min.css";
    import { highlight, languages } from "prismjs/components/prism-core";
    import "prismjs/components/prism-clike";
    import "prismjs/components/prism-javascript";
    import "prismjs/themes/prism-tomorrow.css";

    import { JSONView } from "vue-json-component";

    import ConfirmButton from './ConfirmButton'

    export default {
        props: {
            report_template: Object,
            reportDataFunction: Function
        },
        data() {
            return {
                classString: "class {\n\tconstructor(data) {\n\t\tthis.data = data;\n\t}\n\tgetData()\n\t{\n\t\treturn this.data;\n\t}\n}",
                input_data: null,
                output_data: null,
                delayTimer: null,
            };
        },
        computed: {

        },
        directives: {

        },
        watch: {
            report_template: function(n,o) {
                if(this.report_template.javascript!=null) {
                    this.classString=this.report_template.javascript;
                }

                this.reportDataFunction().then((report_data) => {
                    this.input_data=report_data;
                    this.tryParse();
                });
            }   
        },
        components: { 
            PrismEditor,
            ConfirmButton,
            "json-view": JSONView
        },
        methods: {
            save() {
                this.tryParse(true);
            },
            highlighter(code) {
                return highlight(code, languages.js); 
            },
            reset() {
                this.classString="class {\n\tconstructor(data) {\n\t\tthis.data = data;\n\t}\n\tgetData()\n\t{\n\t\treturn this.data;\n\t}\n}";
            },
            download() {
                let blob = new Blob([JSON.stringify(this.output_data)]);
                let filename = "output.json";

                let button = this.$refs.download_button;
                button.href=window.URL.createObjectURL(blob, {type: "text/plain"});
                button.target="_blank";
                button.download=filename;

                if (window.navigator.msSaveOrOpenBlob){
                    window.navigator.msSaveBlob(blob, filename);
                }
                
            },
            tryParse(save=false) {
                try {
                    var context=this;
                    clearTimeout(this.delayTimer);
                    this.delayTimer = setTimeout(function() {
                        const Proc = context.createClassFromString(context.classString);
                        let proc = new Proc(Object.assign({},context.input_data));
                        context.output_data=proc.getData();
                        if(save) {
                            context.$emit("new-pre-processor",context.classString);
                        }
                    }, 1500);
                }
                catch(e) {

                }
            },
        },
        mounted() {
            
        },
    }
</script>

<style lang="scss">
    .my-editor {
        background: #fff;
        color: #000;

        font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
        font-size: 14px;
        line-height: 1.5;
        padding: 5px;
    }

    // optional
    .prism-editor__textarea:focus {
        outline: none;
    }

    // not required:
    .height-300 {
        height: 300px;
    }
</style>