<template>
        <b-modal v-model="showModal" :title="template ? localization('Update Report Template') : localization('Create Report Template')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Name') }}</label>
                    <input type="text" class="form-control" v-model="report_template.name" required>
                </div>

                <br><br><a href='#' v-b-modal.javascript-editor>{{ localization('Edit Javascript PreProcessor') }}</a>
            </form>

            <edit-report-javascript
                :report_template="report_template"
                :reportDataFunction="reportDataFunction"
                @new-pre-processor="report_template.javascript=$event"/>

            <template v-slot:modal-footer="{ ok, cancel }">

                <button type="submit" class="btn btn-default" @click="createReportTemplate();ok()">{{template ? localization('Update'):localization('Create')}}</button>
                <button type="button" class="btn btn-default" @click="cancel()">Close</button>
            </template>

        </b-modal>
</template>

<script>
    import EditReportJavascript from './EditReportJavascript'
    export default {
        props: {
            report_key: String,
            template: Object,
            reportDataFunction: Function,
            show: Boolean
        },
        data() {
            return {
                report_template: {
                    id: -1,
                    name: "",
                    key: this.report_key,
                    standard: false,
                    premium: false,
                    test_data: null,
                    template: null,
                    parameters: [],
                    data_type: "stimulsoft",
                    javascript: null
                },
                show_pre_processor_editor: false
            };
        },
        watch: {
            show: function(n,o){
                this.getReportTemplate();
            },
        },
        components: {
            EditReportJavascript,
            
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                }
            }
        },
        methods: {
            createReportTemplate() {
                let report_template=this.report_template;
                this.reportDataFunction().then((report_data) => {
                    report_template.test_data=report_data;

                    if(report_template.javascript!=null) {
                        const Proc = this.createClassFromString(report_template.javascript);
                        let proc = new Proc(report_template.test_data);
                        report_template.test_data=proc.getData();
                    }

                    if(report_template.parameters.length) {
                        report_template.test_data.parameters={};
                        for(let i=0;i<report_template.parameters.length;i++) {
                            report_template.test_data.parameters[report_template.parameters[i].name]=report_template.parameters[i].default_value;
                        }
                    }

                    if(!this.template) {
                        axios.post('/api/reports/templates',report_template)
                            .then((response) => {
                                this.$emit('report-template-created',response.data);
                            })
                            .catch((error) => {
                                console.log(error);
                            });
                    }
                    else {
                        this.updateReportTemplate(report_template);
                    }
                });
            },
            updateReportTemplate(report_template) {
                axios.put('/api/reports/templates/' + report_template.id,report_template)
                    .then((response) => {
                        this.$emit('report-template-updated',response.data);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getReportTemplate() {
                if(this.template) {
                    axios.get('/api/reports/templates/' + this.template.id)
                        .then((response) => {
                            this.report_template=response.data;
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            },
            addParameter() {
                this.report_template.parameters.push({
                    name: '',
                    data_type: 'text',
                    default_value: null
                });
            }
        },
        mounted() {
            
        },
    }
</script>