<template>
        <b-modal v-model="showModal" :title="localization('Generate report')">

            <reports-view
                v-if="true"
                v-bind:report_key="report_key"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:role="role"
                @generate="generateReport(report_template)"
                @report-template-selected="getReportTemplate($event)"
            />

            <template v-slot:modal-footer="{ cancel }">
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    import ReportsView from "./ReportsView"
    import moment from 'moment-timezone';

    export default {
        props: {
            show: Boolean,
            application_instance: Object,
            measurement_data: Object,
            report_key: String,
            reportDataFunction: Function,
        },
        watch: {

        },
        components: { 
            'reports-view' : ReportsView
        },
        data() {
            return {
                generate:false,
                role: 0,
                report_template: {
                    id: -1,
                    name: "",
                    key: this.report_key,
                    standard: false,
                    premium: false,
                    test_data: null,
                    template: null,
                    parameters: [],
                    data_type: "stimulsoft",
                    javascript: null
                },
                report: {
                    data: null,
                    template_id: null,
                    name: "",
                    application_instance: this.application_instance.id
                },
                parameters: [],
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                }
            }
        },

        methods: {
            getReportTemplate(template) {
                if(template) {
                    let url='/api/reports/templates/' + this.application_instance.id + '/' + template.id;
                    if(this.role>0) {
                        url='/api/reports/templates/' + template.id;
                    }
                    axios.get(url)
                        .then((response) => {
                            this.report_template=response.data;
                            this.report.template_id=this.report_template.id;
                            this.report.name=this.report_template.name + ' ' + moment().format('YYYY-MM-DD H:mm:ss');

                            this.parameters=[];
                            
                            for(let i=0;i<response.data.parameters.length;i++) {
                                this.parameters.push({
                                    id: response.data.parameters[i].id,
                                    name: response.data.parameters[i].name,
                                    data_type: response.data.parameters[i].data_type,
                                    value: response.data.parameters[i].default_value
                                });
                            }

                            if(this.role===0) {
                                this.generateReport(this.report_template);
                            }


                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            },
            generateReport(selected_template) {
                this.reportDataFunction().then((report_data) => {
                    this.report.data=report_data;
                    this.report.application_instance=this.application_instance.id;
                    this.report.template_id=this.report_template.id;

                    let test_data = this.report_template.test_data;

                    if(selected_template.javascript!=null) {
                        try {
                            const Proc = this.createClassFromString(selected_template.javascript);
                            let proc = new Proc(this.report.data);
                            this.report.data=proc.getData();
                        }
                        catch(e) {
                            this.report.data=report_data;
                        }
                        
                    }

                    if(this.parameters.length) {
                        this.report.data.parameters={};
                        for(let i=0;i<this.parameters.length;i++) {
                            this.report.data.parameters[this.parameters[i].name]=this.parameters[i].value;
                        }
                    }

                    axios.post('/api/reports',this.report)
                        .then((response) => {
                            this.openViewer(response.data);
                            this.$emit('hide');
                        })
                        .catch((error) => {
                            console.log(error);
                        });

                });

                
            },
            openViewer(report_id) {
                let url = '/reports/' + report_id;

                this.openTab(url);
                this.$emit('hide-generate-modal');
            }
        },
        mounted() {
            this.logged_in = this.$store.getters['auth/isAuthenticated'];

            if (this.logged_in) {
                this.$store.dispatch('auth/getUser').then((user) => { 
                    this.role=user.role;
                });
            }
        },
    }
</script>