<template>
    <div>
        <section v-if="!isMobile()" class="jumbotron text-center my-0" :style="'background-image:url(' + background_image + ');'">
                <div class="jumbotron-container d-flex align-items-center">
                    <div class="container jumbotron-box">
                        <div class="d-flex flex-row">
                            <div class="my-auto">
                                <img :src="application_icons[icon_class]">
                            </div>
                            <div class="justify-content-left">
                                <h1 class="jumbotron-heading text-white text-left mb-0 text-nowrap">{{ title }}</h1>
                                <p class="text-white text-left text-nowrap">{{ subtitle }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</template>

<script>

    export default {
        props: {
            background_image: {
                type: String,
                default: '/img/jumbotron/dc.jpg'
            },
            icon_class: {
                type: String,
                default: 'default'
            },
            title: String,
            subtitle: String
        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>