<template>
        <div>
            <div class="overlay d-flex" v-if="!isMobile()&&show" ref="Overlay">
                <div class="mx-auto mt-5" :class="resizable ? 'd-inline' : sizeClass">
                    <div ref="draggableOverlay">
                        <div class="card border-3" ref='resizableOverlay'>
                            <div class="card-header text-white bg-dark cursor-move" ref='cardHeader'>
                                {{title}}
                                <button type="button" class="text-white close" @click="$emit('close')"><i class="fas fa-times fa-xs ml-3"></i></button>
                                <button type="button" class="text-white close" @click="maximize"><i class="fas fa-xs" :class="maximizeData ? 'fa-window-restore' : 'fa-window-maximize'"></i></button>
                            </div>
                            <div class="card-body" ref="slot_box">
                                <slot/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay bg-white overflow-auto" v-if="isMobile()&&show">
                <div class="row mx-auto pt-3 pb-2 bg-dark">
                    <div class="col-10">
                        <h3 class="text-white">{{title}}</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-default close text-white" @click="$emit('close')">
                            &times;
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <slot/>
                    </div>
                </div>

            </div>
        </div>
</template>

<script>
    export default {
        props: {
            show: Boolean,
            title: String,
            resizable: Boolean,
            maximizeWindow: Boolean,
            minHeight: {
                type: Number,
                default: 750
            },
            minWidth: {
                type: Number,
                default: 600
            },
            sizeClass: {
                type: String,
                default: 'col-md-8'
            }
        },
        data() {
            return {
                sizeData: {
                    height: 750,
                    width: 600,
                    cardHeight: 0,
                    cardWidth: 0,
                    offset: null
                },
                maximizeData: null,
                resizableOverlay: null,
                draggableOverlay: null,
                headerDiv: null,

            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            onResize() {
                this.sizeData.height=window.innerHeight;
                this.sizeData.width=window.innerWidth;
                this.sizeData.cardHeight=this.resizableOverlay.height();
                this.sizeData.cardWidth=this.resizableOverlay.width();

                this.$emit('size-changed',this.sizeData);
                
            },
            maximize() {
                if(!this.maximizeData) {
                    this.maximizeData=Object.assign({},this.sizeData);
                    this.maximizeData.offset=this.resizableOverlay.offset();

                    this.resizableOverlay.height(this.sizeData.height);
                    this.resizableOverlay.width(this.sizeData.width);
                    this.resizableOverlay.offset({ top: 0,left: 0});
                }
                else {
                    this.resizableOverlay.height(this.maximizeData.cardHeight);
                    this.resizableOverlay.width(this.maximizeData.cardWidth);
                    this.resizableOverlay.offset(this.maximizeData.offset);
                    this.maximizeData=null;
                }
                this.onResize();
            },

            isVisible(domElement) {
                let element = $(domElement);

                let offset = element.offset();

                let totalHeight = element.height() + offset.top;
                let totalWidth = element.width() + offset.left;

                return (totalHeight < this.sizeData.height) && (totalWidth < this.sizeData.width);
                
            },

            startup() {
                if(this.isMobile()) {
                    return;
                }
                var context=this;
                this.$nextTick(() => {
                    window.addEventListener('resize', this.onResize);

                    this.resizableOverlay=$(this.$refs.resizableOverlay);
                    this.draggableOverlay=$(this.$refs.draggableOverlay);
                    this.headerDiv=$(this.$refs.cardHeader);

                    let slot = $(this.$refs.slot_box);
                    let min_height = Math.min(Math.max(slot.height()*1.35,this.minHeight),window.innerHeight);
                    let min_width = Math.min(Math.max(slot.width()*1.2,this.minWidth),window.innerWidth);


                    this.resizableOverlay.resizable({
                                                        minHeight: min_height,
                                                        minWidth: min_width,
                                                    }).height(min_height).width(min_width);

                    this.resizableOverlay.resize(function() {
                        context.onResize();
                    });
                    

                    this.draggableOverlay.draggable({ handle : ".card-header" });

                    this.headerDiv.dblclick(context.maximize);

                    this.onResize();

                    if(!this.isVisible(this.$refs.slot_box)) {
                        //this.maximize();
                    }
                });
            },
        },
        mounted() {
            this.startup();
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize); 
        },
    }
</script>