<template>
    <div class="list-group mt-3">
        <div class="list-group-item"
            v-for="report_template in report_templates"
            v-bind:key="report_template.id"
            :class="compareDBObjects(report_template,selected_template) ? 'selected-template-item' : 'template-item'"
            @click="reportTemplateClicked(report_template)">

            {{ report_template.name }}
            
        </div>
        <div v-if="role>0" class="btn-group mt-4" role="group">
            <button type="button" class="btn btn-primary" @click="$emit('generate')" :disabled="!selected_template">{{ localization('Generate') }}</button>
            <button type="button" class="btn btn-primary" @click="selected_template=null;show_edit_report_modal=true">{{ localization('Add template') }}</button>
            <button type="button" class="btn btn-primary" @click="show_edit_report_modal=true" :disabled="!selected_template">{{ localization('Update template') }}</button>

            <edit-report-modal 
                v-bind:show="show_edit_report_modal"
                v-bind:template="selected_template"
                v-bind:report_key="report_key"
                v-bind:reportDataFunction="reportDataFunction"
                @hide="show_edit_report_modal=false"
                @report-template-created="getReportTemplates();openDesigner($event);"
                @report-template-updated="getReportTemplates();openDesigner($event);"
                />
        </div>
    </div>
</template>

<script>
    import EditReportModal from './EditReportModal'

    export default {
        props: {
            report_key: String,
            application_instance: Object,
            reportDataFunction: Function,
            role: Number
        },
        data() {
            return {
                report_templates: null,
                selected_template: null,
                show_edit_report_modal: false,
            };
        },
        watch: {

        },
        computed: {

        },
        components: { 
            EditReportModal,
        },
        methods: {
            getReportTemplates() {
                axios.get('/api/reports/templates/' + this.application_instance.id + '/list/' + this.report_key)
                .then((response) => {
                    this.report_templates=response.data;
                })
                .catch((error) => {
                    
                });
            },
            reportTemplateClicked(report_template) {
                this.selected_template=report_template;
                this.$emit("report-template-selected",report_template);
            },
            openDesigner(template) {
                if(!template) {
                    return;
                }

                let url = '/admin/reportdesigner/' + template.id;

                window.open(url, '_blank');
            }
        },
        mounted() {
            this.getReportTemplates();
        },
    }
</script>

<style scoped>
    .template-item {
        background-color: white;
    }
    .selected-template-item {
        background-color:rgba(96, 140, 191, 0.3);
    }


</style>