<template>
    <span>
        <popper
            v-if="tooltip!=''"
            trigger="hover"
            :options="options">

            <div class="popper tooltip-box border">
                {{tooltip}}
            </div>
            
            <span slot="reference">
                <slot/>
            </span>

        </popper>
        <slot v-else/>
    </span>
</template>

<script>
    import Popper from 'vue-popperjs';
    export default {
        props: {
            tooltip: String,
            options: {
                placement: 'bottom',
                modifiers: { offset: { offset: '0,30px' } }
            }
        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 
            Popper
        },
        methods: {
            showToolTip() {
                this.show=true;

                console.log("Show");
            },
            hideToolTip() {
                this.show=false;
                console.log("Hide");
            }
        },
        mounted() {
            
            
        },
    }
</script>

<style lang="scss" scoped>
    .tooltip-box {
        background: rgba(96, 140, 191, 0.7);
        margin-top: 20px;
        padding: 10px;
        border: 1px solid black;
        
    }
</style>