<template>
    <div class="card-body">

        <div class="clickable-element application-icon m-1" v-for="application_instance in filtered_application_instances" v-bind:key="application_instance.id" @click="openApplication(application_instance.id)">
            <div class="application-icon-div">
                <img :src="application_icons[application_instance.application.icon_class]">
            </div>
            
            <br>
            {{ application_instance.application.name }}
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            application_instances: Array,
            organization: Object
        },
        data() {
            return {
                filtered_application_instances: []
            };
        },
        components: { 

        },
        watch: { 
            application_instances: function(newVal, oldVal) { 
                this.filterApplications();
            }
        },
        methods: {
            openApplication(id) {
                this.$router.replace({ name: 'applications_redirect', params: { id: id } });
            },
            filterApplications() {
                const context = this;
                this.filtered_application_instances = this.application_instances.filter(function (item) {
                    return item.organization===context.organization.id;
                });
            }
        },
        mounted() {

        },
    }
</script>