<template>
    <div v-if="application_instance!=null">
        <jumbotron 
            :title="localization('Settings')"
            :subtitle="application_instance.application.name"/>

        <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

        <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header text-white bg-dark">{{ localization('Instance settings') }}</div>

                    <div class="card-body">


                        <label>{{ localization('Application') }}: </label> {{application_instance.application.name}}<br>
                        <label>{{ localization('Organization') }}: </label>
                        
                        <router-link :to="{ name: 'organization', params: { id: organization.id }}" v-if="organization.admin">{{organization.name}}</router-link>
                        <div v-else>{{organization.name}}</div>
                    
                        <br>

                        <div v-if="application_instance.application.payment_link">
                            <div v-if="application_instance.paid">
                                <label>{{ localization('Paid number of users') }}:</label>
                                {{application_instance.paid_number_of_users}}<br/>
                            </div>
                            <div v-else>
                                {{ localization('Not paid') }}<br/>
                            </div>
                            <label>{{ localization('Payment') }}:</label>
                            <a :href="application_instance.application.payment_link">{{ localization('Handle payment') }}</a>
                            
                            <br><br>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan=3 scope="col">{{ localization('Subscriptions') }}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ localization('QTY') }}</th>
                                        <th scope="col">{{ localization('Is Active') }}</th>
                                        <th scope="col">{{ localization('Created') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="subscription in application_instance.subscriptions" v-bind:key="subscription.id">
                                            <th scope="row">{{ subscription.id }}</th>
                                            <td>{{ subscription.qty }}</td>
                                            <td>{{ subscription.active ? 'Yes' : 'No' }}</td>
                                            <td>{{ subscription.timestamp }}</td>

                                        </tr>
                                </tbody>
                            </table>

                        </div>

                        <br>

                        <div v-if="role>0">
                            <hr>
                            <label>{{ localization('Update manual payment') }}</label><br><br>
                            <label>{{ localization('Paid until') }}</label>
                            <input type="date" v-model="application_instance.paid_until"/><br>
                            <label>{{ localization('Number of users') }}</label>
                            <input type="number" v-model="application_instance.paid_number_of_users"/>
                            <br><br>
                            <button class="btn btn-secondary col-2 mb-1" @click="setMaxValues">{{ localization('Max values') }}</button><br>
                            <button class="btn btn-primary col-2 mb-1" @click="Update">{{ localization('Update') }}</button><br>
                            <button class="btn btn-primary col-2" @click="$bvModal.show('restore-application-instance-modal')">{{ localization('Restore') }}</button>
                        </div>

                        <div v-if="application_instance.users.length">

                            <br><br>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan=3 scope="col">{{ localization('Users') }}</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ localization('User') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr v-for="user in application_instance.users" v-bind:key="user.id">
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.identifiable_name }}</td>

                                            <td>
                                                <a href="#" @click="removeUser(user)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>

                                        </tr>
                                </tbody>
                            </table>


                        </div>

                        <form @submit.prevent="inviteUser()">
                            <label>{{ localization('E-mail') }}:</label>
                            <input type="email" class="form-control" v-model="invite_user.email" required>

                            <label>{{ localization('Message') }}:</label>
                            <textarea cols="40" rows="5" class="form-control" v-model="invite_user.message"></textarea>

                            <br>
                            <button type="submit" class="btn btn-default border">{{ localization('Invite') }}</button>
                        </form>

                        <br>

                        <button @click="removeApplicationInstance()" type="button" class="btn btn-danger my-2">{{ localization('Remove Instance') }}</button>

                    </div>
                    </div>
                </div>



            </div>
        </div>
        </main>

    <restore-application-instance-modal @application-instance-restored="getData()" @alert-event="alert=$event" v-bind:application_instance="application_instance"/>
    <delete-application-instance-modal @application-instance-deleted="$router.replace('/organization/' + organization.id)" @alert-event="alert=$event" v-bind:application_instance="application_instance"/>
    <remove-user-modal @user-removed="getData()" @alert-event="alert=$event" v-bind:user="selected_user" v-bind:application_instance="application_instance"/>

    </div>
</template>

<script>
    import DeleteApplicationInstanceModal from "./Modals/DeleteApplicationInstanceModal"
    import RemoveUserModal from "./Modals/RemoveUserModal"
    import RestoreApplicationInstanceModal from "./Modals/RestoreApplicationInstanceModal"
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"

    export default {
        data() {
            return {
                application_instance: null,
                organization: {
                    id: 0,
                },
                selected_user: null,
                role: 0,
                invite_user: {
                    email: "",
                    usermessage: ""
                }
            };
        },
        components: { 
            DeleteApplicationInstanceModal,
            RemoveUserModal,
            RestoreApplicationInstanceModal,
            Jumbotron
        },
        methods: {
            getData() {
                axios.get('/api/application_instances/' + this.$route.params.id)
                    .then((response) => {
                        this.application_instance=response.data;
                        this.organization=this.application_instance.organization[0];
                    })
                    .catch((error) => {
                        
                    });
            },
            removeUser(user) {
                this.selected_user=user;
                this.$bvModal.show('remove-user-modal');
            },
            removeApplicationInstance() {
                this.$bvModal.show('delete-application-instance-modal');
            },
            inviteUser() {
                axios.post('/api/application_instances/' + this.application_instance.id + '/invite',this.invite_user).then((response) => {
                        this.alert.message="User with email " + this.invite_user.email + " invited";
                        this.alert.variant="success";
                        this.getData();
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error inviting user with email " + this.invite_user.email;
                        this.alert.variant="danger";
                    });
            },
            setMaxValues() {
                this.application_instance.paid_until="3020-12-31";
                this.application_instance.paid_number_of_users=10000;
            },
            Update() {
                axios.put('/api/application_instances/' + this.application_instance.id,this.application_instance).then((response) => {
                        this.alert.message="Updated Application instance";
                        this.alert.variant="success";
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error updating application instance";
                        this.alert.variant="danger";
                    });
            }
        },
        mounted() {
            let context=this;
            this.getData();

            this.logged_in = this.$store.getters['auth/isAuthenticated'];

            if (this.logged_in) {
                this.$store.dispatch('auth/getUser').then((user) => { 
                    this.role=user.role;
                });
            }

            //this.$eventHub.$on('back-button-pressed', context.$router.push({name: 'organization', params: {id: context.organization.id}}));
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>