<template>
    <div>
        <jumbotron 
            :title="localization('Subscription')"
            :subtitle="localization('New subscription')"/>

        <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header text-white bg-dark">{{ localization('Select organization') }}</div>

                            <div class="card-body">
                                
                                 {{ localization('Select organization to connect with your new subscription')}}<br><br>

                                 <div class="table-responsive">
                                    <table class="table">
                                        <thead>

                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('Name') }}</th>
                                            </tr>

                                        </thead>
                                        <tbody>

                                            <tr v-for="organization in organizations"
                                                :key="organization.id"
                                                class='clickable-element'
                                                @click="connectSubscription(organization)">
                                                <th scope="row">{{ organization.id }}</th>
                                                <td>{{ organization.name }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</template>

<script>
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"

    export default {
        data() {
            return {
                user: null,
                order: null,
                organizations: []
            };
        },
        components: { 
            Jumbotron
        },
        methods: {
            getOrganizations() {
                axios.get('/api/organizations')
                    .then((response) => {
                        this.organizations=response.data;
                    })
                    .catch((error) => {
                        
                    });
            },
            getOrder() {
                axios.get('/api/order/' + this.$route.params.order)
                    .then((response) => {
                        this.order=response.data;
                        if(this.order.connected) {
                            this.redirectToStart();
                        }
                    })
                    .catch((error) => {
                        
                    });
            },
            connectSubscription(organization) {
                axios.get('/api/subscription/connect/' + this.order.id + '/' + organization.id + '/' + this.user.id)
                    .then((response) => {
                        this.order=response.data;
                        this.redirectToStart();
                    })
                    .catch((error) => {
                        
                    });
            },
            redirectToStart() {
                window.location.replace(`${window.location.origin}/organizations`); 
            }

        },
        mounted() {
            this.logged_in = this.$store.getters['auth/isAuthenticated'];

            if (this.logged_in) {
                this.$store.dispatch('auth/getUser').then((user) => { 
                    this.user=user;
                    this.getOrganizations();
                    this.getOrder();
                });
            }


        },
    }
</script>