<template>
    <div v-if="organization!=null">
        <jumbotron 
            :title="'Settings'"
            :subtitle="'Organization'"/>


        <main class="py-4" >
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header text-white bg-dark">{{ organization.name }}</div>

                            <div class="card-body">

                                <form @submit.prevent="updateOrganization()">

                                    <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

                                    <p v-if="errors.length">
                                        <b>{{ localization('Error(s)') }}:</b>
                                        <ul>
                                            <li v-for="(error,index) in errors" :key="index">{{ error }}</li>
                                        </ul>
                                    </p>

                                    <label>{{ localization('Name') }}:</label>

                                    <input id="organization_name" type="text" class="form-control" v-model="update_organization.name" required autofocus>

                                    <br>
                                    <button type="submit" class="btn btn-default border">{{ localization('Save') }}</button>

                                </form>

                                <div v-if="application_instances.length">

                                    <br><br>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan=3 scope="col">{{ localization('Application Instances') }}</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('Application') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="application_instance in application_instances" v-bind:key="application_instance.id">

                                                <th scope="row">{{ application_instance.id }}</th>
                                                <td>
                                                    <span v-if="application_instance.trashed">{{ application_instance.application.name }}</span>
                                                    <router-link :to="{ name: 'application_instance', params: { id: application_instance.id }}" v-else>{{ application_instance.application.name }}</router-link>
                                                </td>

                                                <td>
                                                    <a href="#" v-if="application_instance.trashed" @click="restoreApplicationInstance(application_instance)">
                                                        <i class="fas fa-trash-restore" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="#" @click="deleteApplicationInstance(application_instance)" v-else>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                                <div v-if="filtered_applications.length">

                                    <br><br>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan=3 scope="col">{{ localization('Create Application Instances') }}</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('Application') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr v-for="application in filtered_applications" v-bind:key="application.id">
                                                    <th scope="row">{{ application.id }}</th>
                                                    <td>{{ application.name }}</td>

                                                    <td><a href="#" @click="createApplicationInstance(application)">{{ localization('Create Application Instance') }}</a></td>
                                                </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div v-if="organization.users.length">

                                    <br><br>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan=3 scope="col">{{ localization('Administrators') }}</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('User') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr v-for="user in organization.users" v-bind:key="user.id">
                                                    <th scope="row">{{ user.id }}</th>
                                                    <td>{{ user.identifiable_name }}</td>

                                                    <td><a href="#" @click="removeUser(user)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                                                </tr>
                                        </tbody>
                                    </table>

                                </div>

                        <form @submit.prevent="inviteUser()">
                            <label>{{ localization('E-mail') }}:</label>
                            <input class="form-control" v-model="invite_user.email" required>

                            <label>{{ localization('Message') }}:</label>
                            <textarea v-model="invite_user.usermessage" cols="40" rows="5" class="form-control"></textarea>

                            <br>
                            <button type="submit" class="btn btn-default border">{{ localization('Invite') }}</button>
                        </form>

                        <br>

                        <a href="#" @click="deleteOrganization()" class="btn btn-danger my-2">
                            {{ localization('Delete Organization') }}
                        </a>

                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </main>

        <restore-application-instance-modal @application-instance-restored="getApplicationInstances()" @alert-event="alert=$event" v-bind:application_instance="selected_application_instance"/>
        <delete-application-instance-modal @application-instance-deleted="getApplicationInstances()" @alert-event="alert=$event" v-bind:application_instance="selected_application_instance"/>
        <delete-organization-modal @organization-deleted="$router.replace('/organizations');" @alert-event="alert=$event" :organization="organization"/>
        <remove-user-modal @user-removed="getOrganization()" @alert-event="alert=$event" v-bind:user="selected_user" v-bind:organization="organization"/>


    </div>
</template>

<script>
    import DeleteApplicationInstanceModal from "./Modals/DeleteApplicationInstanceModal"
    import RestoreApplicationInstanceModal from "./Modals/RestoreApplicationInstanceModal"
    import DeleteOrganizationModal from "./Modals/DeleteOrganizationModal"
    import RemoveUserModal from "./Modals/RemoveUserModal"
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"

    export default {
        data() {
            return {
                update_organization: {
                    name: ""
                },
                organization: null,
                organization_id: null,
                selected_application_instance: null,
                selected_user: null,
                applications: [],
                filtered_applications: [],
                current_user: null,
                errors: [],
                application_instances: [],
                invite_user: {
                    email: "",
                    usermessage: ""
                }
            };
        },
        components: { 
            DeleteApplicationInstanceModal,
            RemoveUserModal,
            DeleteOrganizationModal,
            RestoreApplicationInstanceModal,
            Jumbotron
        },
        methods: {
            deleteApplicationInstance(application_instance) {
                this.selected_application_instance=application_instance;
                this.$bvModal.show('delete-application-instance-modal');
            },
            restoreApplicationInstance(application_instance) {
                this.selected_application_instance=application_instance;
                this.$bvModal.show('restore-application-instance-modal');
            },
            createApplicationInstance(application) {
                axios.post('/api/organizations/' + this.organization.id + '/application_instances',{ 'application': application.id}).then((response) => {
                        this.organization.application_instances=response.data;
                        this.filterApplications();
                        this.alert.message="Created an instance of application " + application.name;
                        this.alert.variant="success";
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error creating an instance of application " + application.name;
                        this.alert.variant="danger";
                    });
            },
            removeUser(user) {
                this.selected_user=user;
                this.$bvModal.show('remove-user-modal');
            },
            getApplications() {
                axios.get('/api/applications')
                    .then((response) => {
                        this.applications=response.data;
                        this.getOrganization();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getApplicationInstances() {
                axios.get('/api/organizations/' + this.organization.id + '/application_instances')
                    .then((response) => {
                        this.application_instances=response.data;
                        this.filterApplications();
                    })
                    .catch((error) => {
                        
                    });
            },
            getOrganization() {
                axios.get('/api/organizations/' + this.$route.params.id)
                    .then((response) => {
                        this.organization=response.data;
                        this.update_organization.name=this.organization.name;
                        this.getApplicationInstances();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            inviteUser() {
                axios.post('/api/organizations/' + this.organization.id + '/invite',this.invite_user).then((response) => {

                        this.alert.message="User with email " + this.invite_user.email + " invited";
                        this.alert.variant="success";
                        this.getOrganization();
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error inviting user with email " + this.invite_user.email;
                        this.alert.variant="danger";
                    });
            },
            filterApplications() {
                var context=this;

                this.filtered_applications = this.applications.filter(function (item) {
                    var i = context.application_instances.length;
                    while (i--) {
                        if (item.id === context.application_instances[i].application.id) {
                            return false;
                        }
                    }
                    return true;
                    
                });
            },
            deleteOrganization() {
                this.$bvModal.show('delete-organization-modal');
            },
            updateOrganization() {
                this.errros=[];

                if(!this.update_organization.name.length) {
                    this.errors.push('Name cannot be empty');
                }

                if(!this.errors.length) {
                    axios.put('/api/organizations/' + this.organization.id,this.update_organization).then((response) => {
                            this.organization=response.data;
                            this.alert.message="Organization updated";
                            this.alert.variant="success";
                        })
                        .catch((error) => {
                            this.errors.push(this.getErrorMessage(error));
                            this.alert.message="Error updating organization";
                            this.alert.variant="success";
                        });
                }

            }

        },
        mounted() {
            this.$store.dispatch('auth/getUser').then((user) => { 
                this.current_user=user;
            });
            this.getApplications();
        },
        created() {
            let context=this;
            this.$eventHub.$on('add-organization', this.showCreateOrganizationModal);
            this.$eventHub.$on('back-button-pressed', function() { context.$router.push({name: 'organizations'}) });
        },
        beforeDestroy() {
            this.$eventHub.$off('add-organization');
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>