<template>
    <div>
        <jumbotron 
            :title="localization('Haglof Cloud Services')"
            :subtitle="localization('Get to know your forest')"/>

        <main class="py-4">
            <div class="container">

                <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

                <div class="col d-flex justify-content-center" v-if="!organizations.length">
                        <a href="#" v-b-modal.create-organization-modal>
                            <i class="fas fa-plus fa-7x text-dark"></i>
                        </a>
                </div>

                <div class="col-md-12">
                    <div class="card mb-5" v-for="organization in organizations" v-bind:key="organization.id">
                        <div class="card-header text-white bg-dark">
                            <div class="row">
                                <div class="col-10">
                                    {{ organization.name }}
                                </div>

                                <div class="col text-right" v-if="organization.admin">
                                    <router-link class="text-white" :to="{ name: 'organization', params: { id: organization.id }}">
                                        <i class="fa fa-cog"></i>
                                    </router-link>
                                </div>
                            </div>
                        </div>

                        <application-instances 
                            v-bind:application_instances="application_instances" 
                            v-bind:organization="organization"/>

                    </div>

                </div>

                <create-organization-modal @alert-event="alert=$event" @new-organization-created="getOrganizations()"/>

            </div>

        </main>
    </div>

</template>

<script>
    import CreateOrganizationModal from "./Modals/CreateOrganizationModal"
    import ApplicationInstances from "./ApplicationInstances"
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"

    export default {
        data() {
            return {
                organizations: [],
                application_instances: [],
                create_organization: false,
            }
        },
        components: {
            CreateOrganizationModal,
            ApplicationInstances,
            Jumbotron

        },
        methods: {
            getOrganizations() {
                axios.get('/api/organizations')
                .then((response) => {
                    this.organizations=response.data;
                    if(this.organizations.length===0) {
                        this.showCreateOrganizationModal();
                    }
                    else {
                        this.getApplicationInstances();
                    }
                })
                .catch((error) => {
                    
                });
            },
            getApplicationInstances() {
                axios.get('/api/application_instances')
                    .then((response) => {
                        this.application_instances=response.data;
                    })
                    .catch((error) => {

                    });
            },
            getApplications() {
                axios.get('/api/applications')
                    .then((response) => {
                        
                    })
                    .catch((error) => {

                    });
            },
            showCreateOrganizationModal() {
                this.$bvModal.show('create-organization-modal');
            },
        },
        mounted() {
            this.getOrganizations();
        },
        created() {
            let context=this;
            this.$eventHub.$on('add-organization', this.showCreateOrganizationModal);
            this.$eventHub.$on('back-button-pressed', function() { context.$router.push({name: 'organizations'}) });
        },
        beforeDestroy() {
            this.$eventHub.$off('add-organization');
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>

<style>

</style>