<template>
    <div>
        <div id="viewer"></div>
    </div>
</template>

<script>
    export default {
        props: {

        },
        data() {
            return {
                report: null,
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            loadViewer() {
                window.Stimulsoft.Base.StiLicense.key = process.env.MIX_STIMULSOFT_LICENSE_KEY;

                var context = this;
                var reportCookieId = 'report' + this.report.report_template_id;

                this.loadStimulsoftLocalization();

                var options = new Stimulsoft.Viewer.StiViewerOptions();
                var report = new Stimulsoft.Report.StiReport();

                report.load(this.report.report);

                options.toolbar.viewMode = Stimulsoft.Viewer.StiWebViewMode.Continuous;
                options.toolbar.displayMode = Stimulsoft.Viewer.StiToolbarDisplayMode.Separated;

                var viewer = new Stimulsoft.Viewer.StiViewer(options, "StiViewer", false);

                var dataSet = new Stimulsoft.System.Data.DataSet("ReportData");
                dataSet.readJson(this.report.data);
                report.regData(dataSet.dataSetName, "", dataSet);
                
                report.dictionary.synchronize();

                viewer.report = report;

                viewer.renderHtml('viewer');

                if(this.$cookies.isKey(reportCookieId)) {
                    let variables = this.$cookies.get(reportCookieId);
                    for (const [key, value] of Object.entries(variables)) {
                        report.dictionary.variables.getByName(key).valueObject = value;
                    }
                }

                viewer.onInteraction = function (args) {
                    if (args.action == "Variables") {
                        let variables = args.variables;
                        context.$cookies.set(reportCookieId,variables,-1);                
                    }
                }
                
            },
            loadReport(id) {
                axios.get('/api/reports/' + id)
                    .then((response) => {
                        this.report=response.data;
                        this.loadViewer();
                    })
                    .catch((error) => {
                        
                    });
            }
        },
        mounted() {
            this.loadReport(this.$route.params.id);
        },
    }
</script>

<style>
    @import './stimulsoft.designer.office2013.whiteblue.css';
    @import './stimulsoft.viewer.office2013.whiteblue.css';
</style>