<template>
    <div class="flex-center position-ref full-height startpage">
        <div class="top-right links">
            <router-link to="/login">{{ localization('Login') }}</router-link>
            <router-link to="/register">{{ localization('Register') }}</router-link>
        </div>

        <div class="content">
            <div class="title m-b-md">
                <h3>{{ localization('Haglof Cloud Services') }}</h3>
            </div>

            <hr>

            <div class="links">
                <router-link to="/login">{{ localization('Login') }}</router-link>
                <router-link to="/register">{{ localization('Register') }}</router-link>
                <a href="https://haglof.app/privacy-policy/">{{ localization('Privacy policy') }}</a>
                <a href="https://haglof.app/terms-and-conditions/">{{ localization('Terms and conditions') }}</a>
            </div>

            <hr>

            <div class="information">
                {{ localization('This is a platform where Haglöf Sweden AB provides different application services.') }}<br>
               {{ localization(' Read more about the services at') }}<br>
                <div class="links">
                    <a href="https://www.haglof.app">{{ localization('Haglof Application Cloud') }}</a>
                </div>
                {{ localization('or') }}
                <h3>{{ localization('Get Started with our new service!') }}</h3>

                {{ localization('Haglof Application Cloud is a platform where we will provide different application services.') }}<br>
                
                {{ localization('Create your free account , Get started in three easy steps') }}<br>
                
                <div class="steps">
                    <ol>
                        <li>{{ localization('Register and create a free Account') }}</li>
                        <li>{{ localization('Verify your information') }}</li>
                        <li>{{ localization('Start using our services') }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

    @import "resources/sass/app.scss";

    .startpage {
        background-color: #004798;
        color: #fff;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: #fff;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .links > a:hover {
        text-decoration: underline;
    }

    .steps {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .steps li {
        white-space: nowrap;
        text-align: left;
    }

    .steps li:before {
        content: "";
        margin-left: 0.5rem;
    }

    .information {
        margin-top: 30px;
    }

    .information h4 {
        font-weight: 900;
    }

    .applications {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .application {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .m-b-md {
        margin-bottom: 30px;
    }

    .display-block {
        display: block;
    }

    .display-inline-block {
        display: inline-block;
        vertical-align: middle;
    }
    

</style>