<template>
    <div>
        <div id="model_overview" class="card" v-if="model&&show&&!isMobile()&&pile_application_location">
            <div class="card-header text-white bg-dark">
                    {{ localization('Overview') }}
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <b class="text-nowrap">{{ localization('Number of measurments') }}:</b><br>
                        <b class="text-nowrap">{{ localization('Volume') }}:</b><br>
                        <b class="text-nowrap">{{ localization('Base area') }}:</b><br>
                        <b class="text-nowrap">{{ localization('Volume adjustment factor') }}:</b><br>
                        <b class="text-nowrap">{{ localization('Average height') }}:</b><br>
                        <b class="text-nowrap">{{ localization('Weight') }}:</b><br>
                        <div :class="{ 'collapseOverviewData': collapsed }">
                            <b class="text-nowrap">{{ localization('Density') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Periphery') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Slope angle') }}:</b><br>                     
                            <b class="text-nowrap">{{ localization('Production id') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Version id') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Unit serial number') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Transponder height') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Eye height') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Pivot offset') }}:</b><br>
                            <b class="text-nowrap">{{ localization('Magnetic declination') }}:</b><br>
                            <b class="text-nowrap">{{ localization('File id') }}:</b><br>
                            <b class="text-nowrap">{{ localization('User') }}:</b><br>
                            
                        </div>
                    </div>
                    <div class="col">
                        <span class="text-nowrap">{{model.targets.length}}</span><br>
                        <span class="text-nowrap">{{model.volume | formatVolume(pile_application_location.measurement_system)}}</span><br>
                        <span class="text-nowrap">{{model.area | formatArea(pile_application_location.measurement_system)}}</span><br>
                        <span class="text-nowrap">{{model.volume_adjustment_factor}}</span><br>
                        <span class="text-nowrap">{{model.average_height | formatLength(pile_application_location.measurement_system,2)}}</span><br>
                        <span class="text-nowrap">{{model.weight | formatWeight(pile_application_location.measurement_system,1)}}</span><br>
                        <div :class="{ 'collapseOverviewData': collapsed }">
                            <span class="text-nowrap">{{model.density}}</span><br>
                            <span class="text-nowrap">{{model.periphery | formatLength(pile_application_location.measurement_system,1)}}</span><br>
                            <span class="text-nowrap">{{model.tilt | formatDegrees(1)}} ({{model.tiltpercent | formatPercent(1)}})</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.unit_production_id}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.unit_version_id}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.unit_serial_number}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.transponder_height}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.eye_height}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.pivot_offset}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.magnetic_declination}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.file_id}}</span><br>
                            <span class="text-nowrap">{{pile_application_measurement.user}}</span><br>
                            
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <a href="#" @click="collapsed=!collapsed">
                            <i :class="{ 'fas fa-plus-square': collapsed, 'fas fa-minus-square': !collapsed }"></i>
                        </a>
                    </div>
                </div>


            </div>
        </div>
        <div class="pile-overlay" id="pile-overlay" v-if="model&&isMobile()" v-show="show" @click="$emit('close')">
            <div class="h-100 pt-5 mt-5">
                <div class="row justify-content-center align-middle m-4 overflow-auto" :style="{'height' : overview_height}">
                    <table class="col table bg-white border p-3">
                        <thead>
                            <tr>
                                <th scope="row" colspan="2">{{ localization('Overview') }}</th>
                            </tr>   
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">{{ localization('Number of measurments') }}</th>
                                <td>{{model.targets.length}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Volume') }}</th>
                                <td>{{model.volume | formatVolume(pile_application_location.measurement_system)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Base area') }}</th>
                                <td>{{model.area | formatArea(pile_application_location.measurement_system)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Volume adjustment factor') }}</th>
                                <td>{{model.volume_adjustment_factor}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Average height') }}</th>
                                <td>{{model.average_height | formatLength(pile_application_location.measurement_system,2)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Weight') }}</th>
                                <td>{{model.weight | formatWeight(pile_application_location.measurement_system,1)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Density') }}</th>
                                <td>{{model.density}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Periphery') }}</th>
                                <td>{{model.periphery | formatLength(pile_application_location.measurement_system,1)}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Slope angle') }}</th>
                                <td>{{model.tilt | formatDegrees(1)}} ({{model.tiltpercent | formatPercent(1)}})</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Production id') }}</th>
                                <td>{{pile_application_measurement.unit_production_id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Version id') }}</th>
                                <td>{{pile_application_measurement.unit_version_id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Unit serial number') }}</th>
                                <td>{{pile_application_measurement.unit_serial_number}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Transponder height') }}</th>
                                <td>{{pile_application_measurement.transponder_height}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Eye height') }}</th>
                                <td>{{pile_application_measurement.eye_height}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Pivot offset') }}</th>
                                <td>{{pile_application_measurement.pivot_offset}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('Magnetic declination') }}</th>
                                <td>{{pile_application_measurement.magnetic_declination}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('File id') }}</th>
                                <td>{{pile_application_measurement.file_id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{ localization('User') }}</th>
                                <td>{{pile_application_measurement.user}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        props: {
            model: Object,
            pile_application_measurement: Object,
            pile_application_location: Object,
            show: Boolean
        },
        data() {
            return {
                collapsed: false,
                windowHeight: window.innerHeight,
                overview_height: 600 + 'px'
            };
        },
        watch: {
            show: function(n,o) {
                this.onResize();
            }
        },
        components: { 

        },
        methods: {
            onResize() {
                this.windowHeight = window.innerHeight;
                this.overview_height = (this.windowHeight-100) + 'px';
            }
        },
        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
                this.onResize();
            })
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize); 
        },
    }
</script>

<style scoped>
    .collapseOverviewData {
        display:none;
    }
    #model_overview {
        position: absolute;
        left: 20px;
        top: 70px;
        display: inline-block;
        overflow: hidden;
    }
</style>