<template>
    <div >
        <div v-if="isMobile()">
            <div class="pile-overlay" id="pile-overlay" v-show="selected_target&&show">
                <div class="h-100 pt-5 mt-5">
                    <div class="row justify-content-center align-middle m-4 overflow-auto" :style="{'height' : overview_height}">
                        <table class="col-12 table bg-white border p-3" v-if="selected_target&&show">
                            <thead>
                                <tr>
                                    <th scope="row" colspan="2">
                                        <div class="row">
                                            <div class="col-10">
                                                {{ localization('Target detail') }}
                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-default" @click="$emit('close')"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>   
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>{{ localization('Type') }}:</b></td>
                                    <td>
                                        <select class="form-control" v-model="new_data.type" @change="updateTarget()">
                                            <option value="BASE" :selected="new_data.type==='BASE'">BASE</option>
                                            <option value="TARGET" :selected="new_data.type==='TARGET'">TARGET</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Latitude') }}:</b></td>
                                    <td>{{selected_target.latitude}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Longitude') }}:</b></td>
                                    <td>{{selected_target.longitude}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Altitude') }}:</b></td>
                                    <td>{{selected_target.altitude}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('HDOP') }}:</b></td>
                                    <td>{{selected_target.hdop}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Seq') }}:</b></td>
                                    <td>{{selected_target.seq}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('SD') }}:</b></td>
                                    <td>{{selected_target.sd}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('HD') }}:</b></td>
                                    <td>{{selected_target.hd}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('H') }}:</b></td>
                                    <td>{{selected_target.h}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Pitch') }}:</b></td>
                                    <td>{{selected_target.pitch}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Azimut') }}:</b></td>
                                    <td>{{selected_target.az}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('X') }}:</b></td>
                                    <td>{{selected_target.x}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Y') }}:</b></td>
                                    <td>{{selected_target.y}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('Z') }}:</b></td>
                                    <td>{{selected_target.z}}</td>
                                </tr>
                                <tr>
                                    <td><b>{{ localization('UTM Zone') }}:</b></td>
                                    <td>{{selected_target.utm_zone}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <button type="button" class="btn btn-primary col-12" @click="deleteTarget()">
                            <i class="fa fa-fw fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="target_detail" class='card' v-show="selected_target&&show" v-else>
            <div class="card-header text-white bg-dark">

                <div class="row">
                    <div class="col text-nowrap">
                            {{ localization('Target detail') }}
                    </div>
                    <div class="col text-right">
                        <a  data-toggle="modal" href="#" @click="show=false" class="text-white">
                            <i class="fa fa-window-close" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table v-if="selected_target&&show">
                    
                    <tr>
                        <td><b>{{ localization('Type') }}:</b></td>
                        <td>
                            <select class="form-control" v-model="new_data.type" @change="updateTarget()">
                                <option value="BASE" :selected="new_data.type==='BASE'">BASE</option>
                                <option value="TARGET" :selected="new_data.type==='TARGET'">TARGET</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Latitude') }}:</b></td>
                        <td>{{selected_target.latitude}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Longitude') }}:</b></td>
                        <td>{{selected_target.longitude}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Altitude') }}:</b></td>
                        <td>{{selected_target.altitude}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('HDOP') }}:</b></td>
                        <td>{{selected_target.hdop}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Seq') }}:</b></td>
                        <td>{{selected_target.seq}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('SD') }}:</b></td>
                        <td>{{selected_target.sd}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('HD') }}:</b></td>
                        <td>{{selected_target.hd}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('H') }}:</b></td>
                        <td>{{selected_target.h}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Pitch') }}:</b></td>
                        <td>{{selected_target.pitch}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Azimut') }}:</b></td>
                        <td>{{selected_target.az}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('X') }}:</b></td>
                        <td>{{selected_target.x}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Y') }}:</b></td>
                        <td>{{selected_target.y}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('Z') }}:</b></td>
                        <td>{{selected_target.z}}</td>
                    </tr>
                    <tr>
                        <td><b>{{ localization('UTM Zone') }}:</b></td>
                        <td>{{selected_target.utm_zone}}</td>
                    </tr>
                </table>

                <br>
                <button type="button" class="btn btn-primary" @click="deleteTarget()">
                    <i class="fa fa-fw fa-trash"></i>
                </button>


            </div>
        </div>
    </div>
</template>

<script>
    import Overlay from "@/vue/Components/Reusable-Components/Overlay"
    export default {
        props: {
            pile_application_measurement: Object,
            pile_application_location: Object,
            pile_application_site: Object,
            pile_application: Object,
            application_instance: Object,
            selected_target: Object,
            show: Boolean
        },
        data() {
            return {
                new_data: {
                    type: ""
                },               
                overview_height: 600 + 'px',
                windowHeight: window.innerHeight,
            };
        },
        watch: {
            show: function(n,o) {
                this.onResize();
            },
            selected_target: function(newValue,oldValue) {
                if(newValue!=null) {
                    this.new_data.type=this.selected_target.type;
                }
            }
        },
        components: { 
            Overlay
        },
        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
                this.onResize();
            })
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize); 
        },
        methods: {
            updateTarget() {
                let new_data=Object.assign(this.selected_target,this.new_data);
                axios.put('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + this.pile_application_measurement.id +
                    '/pile_application_targets/' + this.selected_target.id,
                    new_data)
                    .then((response) => {
                        this.$emit('model-updated');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            deleteTarget() {
                axios.delete('/api/application_instances/' + this.application_instance.id +
                 '/pile_applications/' + this.pile_application.id +
                 '/pile_application_sites/' + this.pile_application_site.id +
                 '/pile_application_locations/' + this.pile_application_location.id +
                 '/pile_application_measurements/' + this.pile_application_measurement.id +
                 '/pile_application_targets/' + this.selected_target.id)
                    .then((response) => {
                        this.$emit('model-updated');
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                
            },
            onResize() {
                this.windowHeight = window.innerHeight;
                this.overview_height = (this.windowHeight-100) + 'px';
            }
        },
    }
</script>

<style scoped>
    #target_detail {
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
    }
</style>