<template>
    <div id="pile_application">
        <pile-overview 
            :model="model"
            :show="showOverview"
            :pile_application_measurement="pile_application_measurement"
            :pile_application_location="pile_application_location"
            @close="showOverview=false"/>
        <pile-control-pane
            :application_instance="application_instance"
            :pile_application_measurement="pile_application_measurement"
            :show="showControlPane"
            @close="showControlPane=false"
            @toggle-points-and-lines="togglePointsAndLines()"
            @toggle-map="toggleMap()"
            @toggle-hull="toggleHull()"
            @change-hull-color="changeHullColor($event)"
            @generate-report="showGenerateReport()"
            @take-snapshot="takeSnapshot()"
            @show-snapshot="showSnapshot()"/>
        <pile-target-detail
            :pile_application_site="pile_application_site"
            :show="showTargetDetail"
            :application_instance="application_instance"
            :pile_application="pile_application"
            :pile_application_location="pile_application_location"
            :pile_application_measurement="pile_application_measurement"
            :selected_target="selectedTarget"
            @close="showTargetDetail=false"
            @model-updated="getModel()"/>
        <snapshot-modal 
            :snapshot="measurement_data.snapshot"/>

        <generate-report-modal
            v-bind:report_key="'pile_single'"
            v-bind:application_instance="application_instance"
            v-bind:reportDataFunction="reportDataFunction"
            v-bind:show="show_generate_report_modal"
            @hide="show_generate_report_modal=false"
        />

        <div class="right-menu" v-if="isMobile()">
            <a href='#' class="btn btn-default bg-light border" @click="showControlPane=!showControlPane"><i class="fa fa-fw  fa-bars"></i></a>
        </div>

        <div class="left-menu" v-if="isMobile()">
            <a href='#' class="btn btn-default bg-light border mt-2" @click="showOverview=!showOverview"><i class="fa fa-fw fa-info-circle"></i></a><br>
            <a href='#' class="btn btn-default bg-light border mt-2" id="target_detail" v-show="selectedTarget" @click="showTargetDetail=!showTargetDetail"><i class="fa fa-fw fa-bullseye"></i></a>
        </div>
    </div>

</template>

<script>
    import mixin from './PileMixin.js'
    import PileOverview from './PileOverview'
    import PileTargetDetail from './PileTargetDetail'
    import PileControlPane from './PileControlPane'
    import SnapshotModal from './Modals/SnapshotModal'
    import GenerateReportModal from "@/vue/Components/Reusable-Components/GenerateReportModal"

    export default {
        props: {
            pile_application_measurement_id: Number,
            pile_application_location: Object,
            pile_application_site: Object,
            pile_application: Object,
            application_instance: Object,
            user: Object,
        },
        data() {
            return {
                pile_application_measurement: null,
                show_generate_report_modal: false,
                measurement_data: {
                    measurement: null,
                    model: null,
                    snapshot: null,
                    location: this.pile_application_location,
                    site: this.pile_application_site
                },
                overlay: {
                    control_pane: !this.isMobile(),
                    overview: !this.isMobile(),
                    target_detail: !this.isMobile()
                }

            };
        },
        mixins: 
            [mixin]
        ,
        watch: {

        },
        computed: {
            showOverview: {
                get: function () {
                    return this.overlay.overview;
                },
                set: function(value) {
                    if(!value) {
                        this.overlay.overview=false;
                    }
                    else {
                        this.overlay.overview=true;
                        this.overlay.control_pane=false;
                        this.overlay.target_detail=false;
                    }
                }
            },
            showControlPane: {
                get: function () {
                    return this.overlay.control_pane;
                },
                set: function(value) {
                    if(!value) {
                        this.overlay.control_pane=false;
                    }
                    else {
                        this.overlay.overview=false;
                        this.overlay.control_pane=true;
                        this.overlay.target_detail=false;
                    }
                }
            },
            showTargetDetail: {
                get: function () {
                    return this.overlay.target_detail;
                },
                set: function(value) {
                    if(!value) {
                        this.overlay.target_detail=false;
                    }
                    else {
                        this.overlay.overview=false;
                        this.overlay.control_pane=false;
                        this.overlay.target_detail=true;
                    }
                }
            },

        },
        components: { 
            PileOverview,
            PileControlPane,
            SnapshotModal,
            PileTargetDetail,
            GenerateReportModal
        },
        methods: {
            getMeasurement() {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + this.pile_application_measurement_id)
                    .then((response) => {
                        this.pile_application_measurement=response.data;
                        this.pile_application_measurement.settings=JSON.parse(this.pile_application_measurement.settings);
                        this.measurement_data.measurement=this.pile_application_measurement;
                        this.measurement_data.user=this.user;
                        this.getModel();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getModel() {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + this.pile_application_measurement.id +
                    '/data')
                    .then((response) => {
                        if(this.model==null) {
                            this.initModel(response.data);
                            this.readSettings();
                        }
                        else {
                            this.updateModel(response.data);
                        }
                        this.measurement_data.model=this.model;
                        
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            readSettings() {
                this.toggleHull(this.getSetting('show_hull',true),false);
                this.toggleMap(this.getSetting('show_map',false),false);
                this.changeHullColor(this.getSetting('hull_color',0x808080),false);
                this.togglePointsAndLines(this.getSetting('show_points_and_lines',true),false);
            },
            updateSetting(setting,value) {
                if(this.pile_application_measurement.settings==null) {
                    this.pile_application_measurement.settings=new Object();
                }  
                let new_settings=new Object();
                new_settings[setting]=value;

                this.pile_application_measurement.settings=Object.assign(this.pile_application_measurement.settings,new_settings);


                this.updateMeasurement(this.pile_application_measurement);

            },
            getSetting(setting,default_value) {
                if(this.pile_application_measurement.settings==null) {
                    this.pile_application_measurement.settings=new Object();
                }  
                if(typeof this.pile_application_measurement.settings[setting] === 'undefined') {
                    return default_value;
                }
                else {
                    return this.pile_application_measurement.settings[setting];
                }
            },
            takeSnapshot() {
                this.saveSnapshot().then(() => {
                    this.showSnapshot();
                }); 
            },
            saveSnapshot() {
                return new Promise((resolve, reject) => { 
                    let snapshot=this.generateSnapshot();

                    let fd = new FormData();
                    fd.append('data',snapshot);
                    fd.append('mime_type','image/jpeg');

                    axios.post('/api/application_instances/' + this.application_instance.id +
                        '/file_datas',fd)
                        .then((response) => {
                            this.measurement_data.snapshot=response.data;
                            this.updateMeasurement({
                                'file_data_id' : response.data.id
                            });
                            resolve();
                            
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                });
            },
            showSnapshot() {
                if(this.snapshot) {
                    this.$bvModal.show('snapshot-modal');
                }
                else if(this.pile_application_measurement.file_data_id) {
                    this.getSnapshot().then(() => {
                        this.$bvModal.show('snapshot-modal');
                    });
                }
            },
            getSnapshot() {
                return new Promise((resolve, reject) => { 
                    axios.get('/api/application_instances/' + this.application_instance.id +
                            '/file_datas/' + this.pile_application_measurement.file_data_id)
                    .then((response) => {
                        this.measurement_data.snapshot=response.data;
                        resolve();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                });

                
            },
            updateMeasurement(data) {
                let new_data=Object.assign(this.pile_application_measurement,data);
                axios.put('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + this.pile_application_measurement_id,
                    new_data)
                    .then((response) => {
                        this.pile_application_measurement=response.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            showGenerateReport() {
                if(this.measurement_data.snapshot) {
                    this.show_generate_report_modal=true;
                }
                else if(this.pile_application_measurement.file_data_id) {
                    this.getSnapshot().then(() => {
                        this.show_generate_report_modal=true;
                    });
                }
                else {
                    this.saveSnapshot().then(() => {
                        this.show_generate_report_modal=true;
                    });
                }
            },
            reportDataFunction() {
                let context=this;
                return new Promise((resolve, reject) => {
                    resolve(context.measurement_data);
                });
            },
        },
        mounted() {
            this.getMeasurement();
        },
    }
</script>

<style>
    #pile_application {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        display: block;
        z-index: -1;
        overflow: hidden;
    }

    .left-menu {
        position: absolute;
        left: 20px;
        top: 70px;
        display: inline-block;
    }

    .right-menu {
        position: absolute;
        right: 20px;
        top: 70px;
        display: inline-block;

    }

    .pile-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 900;
        cursor: pointer;
    }
</style>