<template>
    <div v-if="pile_application_measurement&&show">
        <div class="pile-overlay" v-if="isMobile()" @click="$emit('close')">
            <div class="h-100 p-5 mt-5">
                <div class="row h-100 justify-content-center align-middle p-5">
                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('toggle-points-and-lines')">
                        <i class="fa fa-3x fa-fw fa-draw-polygon"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('toggle-map')">
                        <i class="fa fa-3x fa-fw fa-map"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('toggle-hull')">
                        <i class="fa fa-3x fa-fw fa-mountain"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="changeHullColor('#808080')">
                        <i class="fas fa-3x fa-fw fa-mountain gravel-pile"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="changeHullColor('#baa86f')">
                        <i class="fas fa-3x fa-fw fa-mountain wood-chip-pile"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="changeHullColor('#9b7653')">
                        <i class="fas fa-3x fa-fw fa-mountain dirt-pile"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('generate-report')" v-if="application_instance.paid">
                        <i class="fa fa-3x fa-fw fa-print"></i>
                    </button>
                    
                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('take-snapshot')" v-if="application_instance.paid">
                        <i class="fa fa-3x fa-fw fa-camera"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('show-snapshot')" :disabled="!pile_application_measurement.file_data_id" v-if="application_instance.paid">
                        <i class="fa fa-3x fa-fw fa-image"></i>
                    </button>

                    <button type="button" class="btn btn-primary col-5 m-1" @click="$emit('close')">
                        <i class="fa fa-3x fa-fw fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="controls_pane" v-else>
            <div class="row justify-content-center align-items-end">
                <div>
                    <div class="btn-group mr-2 my-auto">
                        <button type="button" class="btn btn-primary" @click="$emit('toggle-points-and-lines')">
                            <i class="fa fa-3x fa-fw fa-draw-polygon"></i>
                        </button>

                        <button type="button" class="btn btn-primary" @click="$emit('toggle-map')">
                            <i class="fa fa-3x fa-fw fa-map"></i>
                        </button>

                        <button type="button" class="btn btn-primary" @click="$emit('toggle-hull')">
                            <i class="fa fa-3x fa-fw fa-mountain"></i>
                        </button>

                    </div>
                </div>

                <div class="btn-group-vertical" id="color_picker">
                    <button type="button" class="btn btn-primary colorButton" @click="changeHullColor('#808080')" v-show="showColorButtons">
                        <i class="fas fa-3x fa-fw fa-square gravel-pile"></i>
                    </button>
                    <button type="button" class="btn btn-primary colorButton" @click="changeHullColor('#baa86f')" v-show="showColorButtons">
                        <i class="fas fa-3x fa-fw fa-square wood-chip-pile"></i>
                    </button>
                    <button type="button" class="btn btn-primary colorButton" @click="changeHullColor('#9b7653')" v-show="showColorButtons">
                        <i class="fas fa-3x fa-fw fa-square dirt-pile"></i>
                    </button>
                    <button type="button" @click="showColorButtons=!showColorButtons" class="btn btn-primary">
                        <i class="fas fa-3x fa-fw fa-fill"></i>
                    </button>
                </div>

                <div v-if="application_instance.paid">
                    <div class="btn-group ml-2">                  
                        <button type="button" class="btn btn-primary" @click="$emit('generate-report')">
                            <i class="fa fa-3x fa-fw fa-print"></i>
                        </button>
                        
                        <button type="button" class="btn btn-primary" @click="$emit('take-snapshot')">
                            <i class="fa fa-3x fa-fw fa-camera"></i>
                        </button>

                        <button type="button" class="btn btn-primary" @click="$emit('show-snapshot')" :disabled="!pile_application_measurement.file_data_id">
                            <i class="fa fa-3x fa-fw fa-image"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
            pile_application_measurement: Object,
            show: Boolean
        },
        data() {
            return {
                showColorButtons: false,
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            changeHullColor(color) {
                this.$emit('change-hull-color',color);
                this.showColorButtons=false;
            }
        },
        mounted() {

        },
    }
</script>

<style scoped>
    #controls_pane {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: inline-block;
        padding: 5px;
        z-index: 1000;
    }

    .menu-button {
        width: 100%;
        padding: 10px;
        border: 1;
    }
</style>