<template>
    <div class="row mb-3" v-if="!not_found">
        <div class="col-12">
            <div class="card"
                @drop="moveStand($event)" 
                @dragover="allowMoveStand($event)">
                <div class="card-header p-0">
                    <div class="row mx-0">
                        <div class="col-9 p-0 text-truncate">
                            <i class="far fa-file-alt text-white bg-dark fa-lg p-3 rounded"/>
                            {{file.name}}
                        </div>
                        <div class="col-3 h-100 my-auto">
                            <a class="clickable-element float-right mr-2" @click="show_edit_file_modal=true">
                                <i class="fa fa-cog"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body stand-container p-0">
                    <div class="list-group m-1">
                        <div class="list-group-item stand-list-item draggable-list-item clickable-item" 
                            draggable="true" 
                            style="position: relative;"
                            v-for="(stand,index) in stands"
                            :key="stand.id"
                            :type="stand.type"
                            @dragstart="dragStand($event,stand)"
                            @drop="mergeStand($event,stand)" 
                            @dragover="allowMergeStand($event,stand)"
                            @click="selected_stand=index">
                            {{stand.display_name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <move-stand-modal
            v-bind:dragData="dragData"
            v-bind:dc_application="dc_application"
            v-bind:application_instance="application_instance"
            v-bind:show="show_move_modal"
            @hide="show_move_modal=false"
            @file-removed="$emit('file-removed')"/>

        <merge-stands-modal
            v-bind:dragData="dragData"
            v-bind:dc_application="dc_application"
            v-bind:application_instance="application_instance"
            v-bind:show="show_merge_modal"
            @hide="show_merge_modal=false"/>

        <edit-file-modal
            @file-removed="$emit('file-removed')"
            @file-updated="$emit('file-updated',$event)"
            @hide="show_edit_file_modal=false"
            v-bind:show="show_edit_file_modal"
            v-bind:dc_application="dc_application"
            v-bind:application_instance="application_instance"
            v-bind:file="file"/>

        <stand-base
            v-if="selected_stand!=-1"
            v-bind:dc_application="dc_application"
            v-bind:application_instance="application_instance"
            v-bind:file="file"
            v-bind:stand="stands[selected_stand]"
            @inventory-removed="removeInventory"
            @close="selected_stand=-1"
            @update-inventory="$emit('update-inventory',$event)"
            @dc-application-updated="$emit('dc-application-updated')"/>


    </div>

</template>

<script>
    import MoveStandModal from './Modals/MoveStandModal'
    import MergeStandsModal from './Modals/MergeStandsModal'
    import EditFileModal from './Modals/EditFileModal'
    import StandBase from './StandView/StandBase'

    export default {
        props: {
            file: Object,
            folder: Object,
            dc_application: Object,
            application_instance: Object,
            dragData: Object,
            folder_stands: Array
        },
        data() {
            return {
                not_found: false,
                selected_stand: -1,
                show_move_modal: false,
                show_merge_modal: false,
                show_edit_file_modal: false,
            };
        },
        computed: {
             stands: function () {
                let stands=[];
                let log_list_number=1;
                let stand_list_number=1;
                
                for(let i=0;i<this.folder_stands.length;i++) {
                    if(this.folder_stands[i].m_d_i_i_file_id===this.file.id) {
                        let stand=this.folder_stands[i];
                        if(stand.name===null||stand.name==="") {
                            if(stand.type=='log_list') {
                                stand.display_name="Log Scaling " + log_list_number++;
                            }
                            else {
                                stand.display_name="Timber cruising " + stand_list_number++;
                            }
                            
                        }
                        else {
                            stand.display_name=stand.name;
                        }
                        stands.push(stand);
                    }
                }
                return stands;
            },
        },
        components: { 
            MoveStandModal,
            MergeStandsModal,
            EditFileModal,
            StandBase
        },
        methods: {
            dragStand(e,stand) {
                let data = {
                    'stand': stand,
                    'file': this.file,
                    'standscount': this.stands.length
                }
                this.$emit('drag-data',data);
            },
            allowMergeStand(e,stand) {
                if(this.file.id===this.dragData.file.id
                &&stand.id!=this.dragData.stand.id
                &&stand.type==this.dragData.stand.type) {
                    e.preventDefault();
                }
            },
            allowMoveStand(e) {
                if(this.file.id!=this.dragData.file.id) {
                    e.preventDefault();
                }
            },
            mergeStand(e,stand) {
                if(this.file.id!=this.dragData.file.id) {
                    return;
                }
                if(this.dragData.stand.type!=stand.type) {
                    return;
                }

                e.preventDefault();

                this.dragData.target_stand=stand;

                this.show_merge_modal=true;
                
            },
            moveStand(e) {
                if(this.file.id===this.dragData.file.id) {
                    return;
                }
                e.preventDefault();

                this.dragData.target_file=this.file;

                this.show_move_modal=true;
            },
            removeInventory(stand) {
               this.selected_stand=-1;
               let pos=this.stands.map(function(e) { return e.id; }).indexOf(stand.id);
               this.stands.splice(pos,1);
               this.$emit('inventory-removed',stand)
            }
        },
        created() {

        },
        beforeDestroy() {

        },
    }
</script>