<template>
    <div class="col-12">
        
        <div class="card">
            <div class="card-header text-white bg-dark">
                    <div class="row">
                    <div class="col">
                        {{ localization('Folders') }}
                    </div>
                    <div class="col text-right my-auto">

                        <a href="#" @click="$bvModal.show('create_folder_modal')">
                            <i class="text-white fas fa-plus"></i>
                        </a>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="panel-group">
                    <div class="list-group">
                        <folder
                            v-for="folder in subFolders"
                            v-bind:key="folder.id"
                            v-bind:folders="folders"
                            v-bind:folder="folder"
                            v-bind:dc_application="dc_application"
                            v-bind:application_instance="application_instance"
                            @file-uploaded="$emit('file-uploaded',$event)"
                            @folder-updated="$emit('folder-updated',$event)"
                            @folder-deleted="$emit('folder-deleted',folder)"
                            @folder-selected="$emit('folder-selected',folder)"/>

                    </div>
                </div>

            </div>

            <create-folder-modal
                v-bind:application_instance="application_instance"
                v-bind:dc_application="dc_application"
                v-bind:folder="rootFolder"
                @new-folder-created="$emit('new-folder-created',$event)"
            />
        </div>
    </div>


</template>

<script>
    import Folder from './Folder'
    import CreateFolderModal from './Modals/CreateFolderModal'
    export default {
        props: {
            folders:Array,
            dc_application:Object,
            application_instance:Object
        },
        data() {
            return {

            };
        },
        computed: {
             subFolders: function () {
                let folders=[];
                for(let i=0;i<this.folders.length;i++) {
                    let folder=this.folders[i];
                    if(folder.m_d_i_i_folder_id===this.rootFolder.id)
                        folders.push(folder);
                }
                return folders;
            },
            rootFolder: function () {
                for(let i=0;i<this.folders.length;i++) {
                    let folder=this.folders[i];
                    if(folder.m_d_i_i_folder_id===null) {
                        return folder;
                    }
                }
                return null;
            }
        },
        watch: {

        },
        components: { 
            Folder,
            CreateFolderModal
        },
        methods: {

        },
        mounted() {
        },
    }
</script>