<template>
    <div>
        <div v-if="current_user" class="list-group-item list-group-item-action py-0 pl-0" @mouseover="showIcons=true" @mouseout="showIcons=true" @click="$emit('folder-selected')">
            <div class="row">
                <div class="col-7 text-truncate">
                    <i class="far fa-folder fa-lg p-3 bg-dark rounded text-white"></i>
                    {{folder.name}} 
                </div>
                <div class="col-5 h-100 my-auto">
                    <div class="text-right">{{folder.created_at | formatDate(current_user.date_format,current_user.timezone)}}</div>
                </div>
            </div>
        </div>

        <edit-folder-modal
            v-bind:show="show_edit_folder_modal"
            v-bind:folder="folder"
            @hide="show_edit_folder_modal=false"
            @update-folder="updateFolder($event)"
            @delete-folder="deleteFolder()"/>

        <upload-file-modal 
            v-bind:show="show_upload_modal"
            v-bind:folder="folder"
            v-bind:dc_application="dc_application"
            v-bind:application_instance="application_instance"
            @hide="show_upload_modal=false"
            @file-uploaded="$emit('file-uploaded',$event)"/>
    </div>
</template>

<script>
    import UploadFileModal from './Modals/FileUpload/UploadFileModal'
    import EditFolderModal from './Modals/EditFolderModal'
    export default {    
        name: 'folder',
        props: {
            folder:Object,
            folders: Array,
            dc_application:Object,
            application_instance:Object
        },
        data() {
            return {
                showIcons: true,
                show_upload_modal: false,
                show_edit_folder_modal: false
            };
        },
        computed: {
            subFolders: function () {
                let folders=[];
                for(let i=0;i<this.folders.length;i++) {
                    let folder=this.folders[i];
                    if(folder.m_d_i_i_folder_id===this.folder.id)
                        folders.push(folder);
                }
                return folders;
            },
        },
        components: { 
            UploadFileModal,
            EditFolderModal
        },
        methods: {
            updateFolder(data) {
                let new_data=Object.assign(this.folder,data);
                axios.put('/api/application_instances/' + 
                    this.application_instance.id + '/dc_applications/' +
                    this.dc_application.id + '/folders/' +
                    this.folder.id,new_data)
                    .then((response) => {
                        this.$emit('folder-updated',response.data);
                        this.alert.message="Updated folder";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error updating folder";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });

            },
            deleteFolder() {
                axios.delete('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + this.dc_application.id + '/folders/' + this.folder.id)
                    .then((response) => {
                        this.$emit('folder-deleted');
                        this.alert.message="Deleted folder";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting folder";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }

        },
        mounted() {
            this.getUser();
        },
    }
</script>