<template>
    <div>
        <div class="card mb-4"
            v-if="folder">
            <div class="card-header text-white bg-dark">
                <div class="row">
                    <div class="col-8">
                        <a href="#" class="text-white my-auto mr-2" @click="$emit('close-file')">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <i class="far fa-folder"></i> 
                        {{folder.name}}
                    </div>
                    <div class="col-4">
                        <a class="clickable-element my-auto mr-2 float-right" @click="$emit('close-file')">
                            <i class="text-white fas fa-times"></i>
                        </a>
                        <a class="clickable-element my-auto mx-3 float-right" @click="show_edit_folder_modal=true">
                            <i class="text-white fa fa-cog"></i>
                        </a>
                        <a class="clickable-element my-auto float-right" @click="show_upload_modal=true">
                            <i class="text-white fas fa-file-upload">
                        </i></a>


                    </div>
                </div>
            </div>
            <div class="card-body stand-container">
                <file 
                    v-for="file in containingFiles"
                    v-bind:dragData="dragData"
                    @drag-data="dragData=$event"
                    v-bind:key="file.id"
                    v-bind:folder="folder"
                    v-bind:folder_stands="stands"
                    v-bind:dc_application="dc_application"
                    v-bind:application_instance="application_instance"
                    v-bind:file="file"
                    @dc-application-updated="$emit('dc-application-updated')"
                    @update-inventory="updateInventory"
                    @close-file="$emit('close-file')"
                    @file-updated="$emit('file-updated',$event)"
                    @file-removed="$emit('file-removed')"
                    @inventory-removed="removeInventory"
                    />

                <br>
                <div class="row">
                    <button class="btn btn-dark col-2 border ml-2 text-white" @click="show_upload_modal=true">
                        <i class="fas fa-file-upload"></i>
                    </button>

                    <button class="btn btn-dark col-2 border text-white" @click="show_generate_report_modal=true" v-if="application_instance.paid">
                        <i class="fa fa-fw fa-print"></i>
                    </button>
                </div>
            </div>

            <generate-multi-report-modal
                :show="show_generate_report_modal"
                :dc_application="dc_application" 
                :inventories="stands"
                :files="containingFiles"
                :application_instance="application_instance"
                @hide="show_generate_report_modal=false"/>

            <edit-folder-modal
                v-bind:show="show_edit_folder_modal"
                v-bind:folder="folder"
                @hide="show_edit_folder_modal=false"
                @update-folder="updateFolder($event)"
                @delete-folder="deleteFolder()"/>

            <upload-file-modal 
                v-bind:show="show_upload_modal"
                v-bind:folder="folder"
                v-bind:dc_application="dc_application"
                v-bind:application_instance="application_instance"
                @hide="show_upload_modal=false"
                @file-uploaded="$emit('file-uploaded',$event)"/>
            </div>
    </div>
</template>

<script>
    import File from './File'
    import UploadFileModal from './Modals/FileUpload/UploadFileModal'
    import EditFolderModal from './Modals/EditFolderModal'
    import GenerateMultiReportModal from './Modals/GenerateMultiReportModal'

    export default {
        props: {
            folder: Object,
            files: Array,
            dc_application: Object,
            application_instance: Object
        },
        data() {
            return {
                dragData: null,
                stands: [],
                show_edit_folder_modal: false,
                show_generate_report_modal: false,
                show_upload_modal: false
            };
        },
        computed: {
             containingFiles: function () {
                let files=[];
                for(let i=0;i<this.files.length;i++) {
                    let file=this.files[i];
                    if(file.m_d_i_i_folder_id===this.folder.id)
                        files.push(file);
                }
                return files;
            },
        },
        watch: {
            folder: function(n,o) {
                this.getStands();
            },
            files: function(n,o) {
                this.getStands();
            }
        },
        components: { 
            File,
            UploadFileModal,
            EditFolderModal,
            GenerateMultiReportModal
        },
        methods: {
            getStands() {
                if(!this.folder) {
                    return;
                }
                axios.get('/api/application_instances/' + this.application_instance.id + 
                        '/dc_applications/' + this.dc_application.id + 
                        '/folders/' + this.folder.id +
                        '/stands')
                    .then((response) => {
                        this.stands=[...response.data];
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            removeInventory(stand) {
                let file_id = stand.m_d_i_i_file_id;

                let pos=this.stands.map(function(e) { return e.id; }).indexOf(stand.id);
                this.stands.splice(pos,1);

                pos=this.stands.map(function(e) { return e.m_d_i_i_file_id; }).indexOf(file_id);

                if(pos<0) {
                    this.$emit('file-removed');
                }
                
            },
            updateInventory(inventory) {
                inventory.settings=JSON.stringify(inventory.settings);
                
                axios.put('/api/application_instances/' + this.application_instance.id + 
                        '/dc_applications/' + this.dc_application.id + 
                        '/files/' + inventory.m_d_i_i_file_id +
                        '/stands/' + inventory.id,inventory)
                .then((response) => {
                    let pos=this.stands.map(function(e) { return e.id; }).indexOf(inventory.id);
                    this.$set(this.stands, pos, response.data);
                })
                .catch((error) => {
                    console.log(error);
                });
            },
            updateFolder(data) {
                let new_data=Object.assign(this.folder,data);
                axios.put('/api/application_instances/' + 
                    this.application_instance.id + '/dc_applications/' +
                    this.dc_application.id + '/folders/' +
                    this.folder.id,new_data)
                    .then((response) => {
                        this.$emit('folder-updated',response.data);
                        this.alert.message="Updated folder";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error updating folder";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });

            },
            deleteFolder() {
                axios.delete('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + this.dc_application.id + '/folders/' + this.folder.id)
                    .then((response) => {
                        this.show_edit_folder_modal=false;
                        this.$emit('folder-deleted');
                        this.alert.message="Deleted folder";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting folder";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            },
            backButtonPressed() {
                this.$emit('close-folder-view');
            },
        },
        mounted() {
            
        },
        created() {
            this.$eventHub.$on('stands-updated', ()=> {
                this.getStands();
            });
            this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
        },
        beforeDestroy() {
            this.$eventHub.$off('stands-updated');
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>