<template>
    <div>
        <div class="overlay" v-if="isMobile()">
            <div class="h-100 p-5 bg-white overflow-auto">
                <h3>{{ localization('Digitech Cloud') }}</h3>

                {{ localization('With our cloud application, Digitech Cloud, you can upload datafiles collected from') }}<br>
                {{ localization('MD II or Digitech BT caliper. You can then edit the data, store, and generate calculated reports of your data.') }}<br>
                
                {{ localization('Upload your file directly from the app Haglof Link in your mobile device or work on your PC in the office.') }}<br>
                
                {{ localization('This Application can be used on any platform all you need is access to the Internet and a Web browser.') }}<br>

                <br>
                <span class="text-danger">
                    {{ localization('IMPORTANT!')}}<br>
                    {{ localization('If you are using this service as the free version and without a subscription, data will ')}}<br>
                    {{ localization('not be stored in the cloud service more than a few hours. Make sure to back up your')}}<br>
                    {{ localization('data files on some other media.')}}
                </span>

                <br>
                <br> 
                
                <h6>{{ localization('Free version') }}</h6>
                <ul>
                    <li>{{ localization('It’s free to upload measured data.') }}</li>
                    <li>{{ localization('Edit the data.') }}</li>
                    <li>{{ localization('Generate standard reports.') }}</li>
                </ul><br>
                
                <h6>{{ localization('Paid version') }}</h6>
                
                <ul>
                    <li>{{ localization('With the paid subscription, you get the opportunity to save and store data of several measurements in a database.') }}</li>
                    <li>{{ localization('Create multiple data folders.') }}</li>
                    <li>{{ localization('Invite and collaborate with multiple users.') }}</li>
                    <li>{{ localization('It is also possible to request a quote for your own customized reports with preferred calculations and designs.') }}</li>
                </ul><br>

                <br><br>
                <button type="button" class="btn btn-default border" @click="$emit('close')">
                    {{ localization('Close') }}
                </button>

                <a :href="application_instance.application.payment_link" class="btn btn-success border">
                    {{ localization('Subscribe') }}
                </a>   
            </div>
        </div>
        <div class="overlay" v-else>
            <div class="col-md-8 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">

                            <h3>{{ localization('Digitech Cloud') }}</h3>

                            {{ localization('With our cloud application, Digitech Cloud, you can upload datafiles collected from') }}<br>
                            {{ localization('MD II or Digitech BT caliper. You can then edit the data, store, and generate calculated reports of your data.') }}<br>
                            
                            {{ localization('Upload your file directly from the app Haglof Link in your mobile device or work on your PC in the office.') }}<br>
                            
                            {{ localization('This Application can be used on any platform all you need is access to the Internet and a Web browser.') }}<br>

                            <br>
                            <span class="text-danger">
                                {{ localization('IMPORTANT!')}}<br>
                                {{ localization('If you are using this service as the free version and without a subscription, data will ')}}<br>
                                {{ localization('not be stored in the cloud service more than a few hours. Make sure to back up your')}}<br>
                                {{ localization('data files on some other media.')}}
                            </span>

                            <br>
                            <br> 
                            
                            <h6>{{ localization('Free version') }}</h6>
                            <ul>
                                <li>{{ localization('It’s free to upload measured data.') }}</li>
                                <li>{{ localization('Edit the data.') }}</li>
                                <li>{{ localization('Generate standard reports.') }}</li>
                            </ul><br>
                            
                            <h6>{{ localization('Paid version') }}</h6>
                            
                            <ul>
                                <li>{{ localization('With the paid subscription, you get the opportunity to save and store data of several measurements in a database.') }}</li>
                                <li>{{ localization('Create multiple data folders.') }}</li>
                                <li>{{ localization('Invite and collaborate with multiple users.') }}</li>
                                <li>{{ localization('It is also possible to request a quote for your own customized reports with preferred calculations and designs.') }}</li>
                            </ul><br>

                        <br><br>
                        <button type="button" class="btn btn-default border" @click="$emit('close')">
                            {{ localization('Close') }}
                        </button>

                        <a :href="application_instance.application.payment_link" class="btn btn-success border">
                            {{ localization('Subscribe') }}
                        </a>   

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            application_instance: Object
        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>
