<template>
    <div v-if="application_instance!=null">
        <div>
            <jumbotron
                v-if="application_instance"
                :icon_class="application_instance.application.icon_class"
                :title="localization('Digitech Cloud')"
                :subtitle="localization('A Reporting tool for Digitech Caliper')"/>


            <startup-message v-bind:application_instance="application_instance" v-if="!application_instance.paid&&!startup_message_closed" @close="startup_message_closed=true"/>

            <main class="py-4">
                <div class="container">
                    <div class="row">
                        <transition-group 
                            class="col-md-12 m-0 mb-2 p-0"
                            name="zoom"
                            enter-active-class="animate__animated animate__zoomIn" 
                            leave-active-class="animate__animated animate__zoomOut"
                            @afterLeave="leaveFunction">
                            <folders-menu
                                v-show="!hide_folder_list"
                                class="col-12 position-absolute"
                                key="1"
                                v-bind:folders="folders"
                                v-bind:dc_application="dc_application"
                                v-bind:application_instance="application_instance"
                                @new-folder-created="newFolder($event)"
                                @file-uploaded="getFiles()"
                                @folder-updated="folderUpdated($event)"
                                @folder-deleted="folderDeleted($event)"
                                @folder-selected="enterFunction($event)"/>
                            <folder-view 
                                v-show="hide_folder_list"
                                class="col-12 position-absolute"
                                key="2"
                                v-bind:folder="selected_folder"
                                v-bind:dc_application="dc_application"
                                v-bind:application_instance="application_instance"
                                v-bind:files="files"
                                @file-uploaded="getFiles()"
                                @folder-updated="folderUpdated($event)"
                                @folder-deleted="folderDeleted()"
                                @file-updated="getFiles()"
                                @file-removed="getFiles()"
                                @close-file="hide_folder_list=false"
                                @dc-application-updated="getDCApplication()"
                                @close-folder-view="hide_folder_list=false"/>
                        </transition-group>
                            
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import FoldersMenu from './FoldersMenu'
    import FolderView from './FolderView'
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"
    import StartupMessage from "./StartupMessage"

    export default {
        data() {
            return {
                dc_application: null,
                application_instance: null,
                folders: [],
                files: [],
                selected_folder: null,
                hide_folder_list: false,
                startup_message_closed: false
            };
        },
        watch: {

        },
        components: { 
            FoldersMenu,
            FolderView,
            Jumbotron,
            StartupMessage
        },
        computed: {

        },
        methods: {
            leaveFunction() {
                if(!this.hide_folder_list) {
                    this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
                    this.selected_folder=null;
                }
            },
            enterFunction(selected_folder) {
                this.$eventHub.$off('back-button-pressed', this.backButtonPressed);
                this.selected_folder=selected_folder;
                this.hide_folder_list=true;
            },
            getApplicationInstance(id) {
                axios.get('/api/application_instances/' + id)
                    .then((response) => {
                        this.application_instance=response.data;
                        console.log(this.application_instance);
                        this.getDCApplications();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getDCApplications() {
                axios.get('/api/application_instances/' + this.application_instance.id + '/dc_applications')
                    .then((response) => {
                        for(let i=0;i<response.data.length;i++) {
                            let dc_application=response.data[i];
                            if(dc_application.application_instance[0].id===this.application_instance.id) {
                                this.getDCApplication(dc_application.id);
                                break;
                            }
                        }
                        
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getDCApplication(id) {
                if(typeof id === 'undefined'&&this.dc_application!=null) {
                    id=this.dc_application.id;
                }
                
                axios.get('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + id)
                    .then((response) => {
                        this.dc_application=response.data;  
                        this.getFolders();

                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getFolders() {
                axios.get('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + this.dc_application.id + '/folders')
                    .then((response) => {
                        this.folders=response.data;
                        this.getFiles();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getFiles() {
                axios.get('/api/application_instances/' + this.application_instance.id + 
                        '/dc_applications/' + this.dc_application.id + 
                        '/files')
                    .then((response) => {
                        this.files=response.data;
                            
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            backButtonPressed() {
                this.$router.push({name: 'organizations'});
            },
            newFolder(newFolder) {
                this.folders.push(newFolder);
            },
            folderUpdated(updated_folder) {
                for(let i=0;i<this.folders.length;i++) {
                    var folder=this.folders[i];
                    if(folder.id===updated_folder.id) {
                        folder=updated_folder;
                    }
                }
            },
            folderDeleted() {
                this.hide_folder_list=!this.hide_folder_list;
                
                for(var i = 0; i < this.folders.length; i++) {
                    if(this.folders[i].id == this.selected_folder.id) {
                        this.folders.splice(i, 1);
                        break;
                    }
                }
                this.selected_folder=null;
            }

        },
        mounted() {
            this.getUser();
            this.getApplicationInstance(this.$route.params.id);
        },
        created() {
            this.$eventHub.$on('back-button-pressed', this.backButtonPressed);
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>