<template>
        <b-modal id="add-location-modal" v-model="showModal" :title="localization('Add object')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Object name') }}</label>
                    <input type="text" class="form-control" v-model="new_location.name" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Volume adjustment factor') }}</label>
                    <input type="number" class="form-control" v-model="new_location.volume_adjustment_factor" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Density') }}</label>
                    <input type="number" class="form-control" v-model="new_location.density" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Measurement System') }}</label>
                    <select class="form-control" v-model="new_location.measurement_system">
                        <option value="metric" :selected="new_location.measurement_system==='metric'">{{ localization('Metric') }}</option>
                        <option value="imperial" :selected="new_location.measurement_system==='imperial'">{{ localization('Imperial') }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="new_location.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="addLocation();ok()">{{ localization('Create') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            user: Object,
            show: Boolean
        },
        data() {
            return {
                new_location: {
                    name: "",
                    description: "",
                    measurement_system: 'metric',
                    volume_adjustment_factor: 1.0,
                    density: 1.0
                }
            };
        },
        components: { 

        },
        watch: {
            show: function(newValue,oldValue) {
                if(newValue) {
                    this.new_location = {
                        name: "",
                        description: "",
                        measurement_system: 'metric',
                        volume_adjustment_factor: 1.0,
                        density: 1.0
                    };
                    this.getSettings();
                }
            }
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                }
            }
        },
        methods: {
            addLocation() {
                axios.post('/api/application_instances/' + this.application_instance.id 
                + '/pile_applications/' + this.pile_application.id 
                + '/pile_application_sites/' + this.pile_application_site.id 
                + '/pile_application_locations',this.new_location)
                    .then((response) => {
                        this.$emit('new-location-added');
                        this.alert.message="Added location";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error adding location";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            },
            getSettings() {
                var settings=this.user.settings;
                this.new_location.measurement_system=this.user.measurement_system;
                if(settings!=null) {
                    if(this.isset(settings.measurement_system)) {
                        this.new_location.measurement_system=settings.measurement_system;
                    }
                    if(this.isset(settings.pile)) {
                        if(this.isset(settings.pile.volume_adjustment_factor)) {
                            this.new_location.volume_adjustment_factor=settings.pile.volume_adjustment_factor;
                            this.new_location.density=settings.pile.density;
                        }
                    }
                }

            },
        },
        mounted() {

        },
    }
</script>