<template>
        <b-modal id="add-site-modal" :title="localization('Add site')">
            <form @submit.prevent="prevent">
                <div class="form-group">
                    <label>{{ localization('Site name') }}</label>
                    <input type="text" class="form-control" v-model="new_site.name" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="new_site.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="addSite();ok()">{{ localization('Create') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
            pile_application: Object
        },
        data() {
            return {
                new_site: {
                    name: "",
                    description: ""
                },
            };
        },
        components: { 

        },
        methods: {
            prevent(e) {
                // Do nothing
            }
            ,
            addSite() {
                axios.post('/api/application_instances/' + this.application_instance.id + '/pile_applications/' + this.pile_application.id + '/pile_application_sites',this.new_site)
                    .then((response) => {
                        this.$emit('new-site-added');
                        this.alert.message="Added site";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error adding site";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            }
        },
        mounted() {

        },
    }
</script>