<template>
        <b-modal id="delete-location-modal" :title="localization('Delete Object')">

            <div>{{ localization('Are you sure you want to delete') }} {{ pile_application_location.name }}</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteLocation();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            pile_application_location: Object,
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteLocation() {
                axios.delete('/api/application_instances/' + this.application_instance.id +
                 '/pile_applications/' + this.pile_application.id +
                  '/pile_application_sites/' + this.pile_application_site.id +
                  '/pile_application_locations/' + this.pile_application_location.id)
                    .then((response) => {
                        this.$emit('location-deleted');
                        this.alert.message="Deleted location";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error removing location";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>