<template>
        <b-modal v-model="showModal" :title="localization('Edit object')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Object name') }}</label>
                    <input type="text" class="form-control" v-model="location_data.name" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Volume adjustment factor') }}</label>
                    <input type="number" class="form-control" v-model="location_data.volume_adjustment_factor" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Density') }}</label>
                    <input type="number" class="form-control" v-model="location_data.density" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Measurement System') }}</label>
                    <select class="form-control" v-model="location_data.measurement_system">
                        <option value="metric" :selected="location_data.measurement_system==='metric'">{{ localization('Metric') }}</option>
                        <option value="imperial" :selected="location_data.measurement_system==='imperial'">{{ localization('Imperial') }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="location_data.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" v-b-modal.delete-location-modal>{{ localization('Delete') }}</button>
                <button type="submit" class="btn btn-default" @click="updateLocation();ok()">{{ localization('Update') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

            <delete-location-modal
                v-bind:application_instance="application_instance"
                v-bind:pile_application="pile_application"
                v-bind:pile_application_site="pile_application_site"
                v-bind:pile_application_location="pile_application_location"
                @location-deleted="$emit('location-deleted')"/>
        </b-modal>
</template>

<script>
    import DeleteLocationModal from './DeleteLocationModal'
    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            pile_application_location: Object,
            show: Boolean
        },
        data() {
            return {
                location_data: {
                    name: "",
                    description: "",
                    volume_adjustment_factor: 1.0,
                    density: 1.0,
                    measurement_system: 'metric'
                },
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            DeleteLocationModal
        },
        methods: {
            updateLocation() {
                axios.put('/api/application_instances/' + 
                    this.application_instance.id + '/pile_applications/' +
                    this.pile_application.id + '/pile_application_sites/' +
                    this.pile_application_site.id + '/pile_application_locations/' +
                    this.pile_application_location.id,this.location_data)
                    .then((response) => {
                        this.$emit('location-updated');
                        this.alert.message="Updated location";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error updating location";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            },
        },
        mounted() {
            this.location_data=this.pile_application_location;
        },
    }
</script>