<template>
        <b-modal v-model="showModal" :title="localization('Edit measurement')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Volume adjustment factor') }}</label>
                    <input type="number" class="form-control" v-model="measurement_data.volume_adjustment_factor" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Density') }}</label>
                    <input type="number" class="form-control" v-model="measurement_data.density" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="measurement_data.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" v-b-modal.delete-measurement-modal>{{ localization('Delete') }}</button>
                <button type="submit" class="btn btn-default" @click="updateMeasurement();ok()">{{ localization('Update') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

            <delete-measurement-modal
                v-bind:application_instance="application_instance"
                v-bind:pile_application="pile_application"
                v-bind:pile_application_site="pile_application_site"
                v-bind:pile_application_location="pile_application_location"
                v-bind:pile_application_measurement="pile_application_measurement"
                @measurement-deleted="$emit('measurement-deleted')"/>
        </b-modal>
</template>

<script>
    import DeleteMeasurementModal from './DeleteMeasurementModal'
    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            pile_application_location: Object,
            pile_application_measurement: Object,
            show: Boolean
        },
        data() {
            return {
                measurement_data: {
                    description: "",
                    volume_adjustment_factor: 1.0,
                    density: 1.0,
                },
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            DeleteMeasurementModal
        },
        methods: {
            updateMeasurement() {
                axios.put('/api/application_instances/' + 
                    this.application_instance.id + '/pile_applications/' +
                    this.pile_application.id + '/pile_application_sites/' +
                    this.pile_application_site.id + '/pile_application_locations/' +
                    this.pile_application_location.id + '/pile_application_measurements/' + 
                    this.pile_application_measurement.id,this.measurement_data)
                    .then((response) => {
                        this.$emit('measurement-updated');
                        this.alert.message="Updated measurement";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error updating measurement";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            },
        },
        mounted() {
            this.measurement_data=this.pile_application_measurement;
        },
    }
</script>