<template>
        <b-modal v-model="showModal" :title="localization('Edit site')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Site name') }}</label>
                    <input type="text" class="form-control" v-model="site_data.name" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="site_data.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" v-b-modal.delete-site-modal>{{ localization('Delete') }}</button>
                <button type="submit" class="btn btn-default" @click="updateSite();ok()">{{ localization('Update') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

            <delete-site-modal
                v-bind:application_instance="application_instance"
                v-bind:pile_application="pile_application"
                v-bind:pile_application_site="pile_application_site"
                @site-deleted="$emit('site-deleted')"/>
        </b-modal>
</template>

<script>
    import DeleteSiteModal from './DeleteSiteModal'
    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            show: Boolean
        },
        data() {
            return {
                site_data: {
                    name: "",
                    description: ""
                },
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            DeleteSiteModal
        },
        methods: {
            updateSite() {
                axios.put('/api/application_instances/' + 
                    this.application_instance.id + '/pile_applications/' +
                    this.pile_application.id + '/pile_application_sites/' +
                    this.pile_application_site.id,this.site_data)
                    .then((response) => {
                        this.$emit('siteUpdated');
                        this.alert.message="Updated site";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error updating site";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            },
        },
        mounted() {
            this.site_data=this.pile_application_site;
        },
    }
</script>