<template>
        <b-modal v-model="showModal" :title="localization('Generate report')">

            <generate-report-modal
                v-bind:report_key="'pile_multi'"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:show="measurements_selected"
                @hide="$emit('hide')"
            />

            <div v-show="!measurements_selected">
                <div class="list-group mt-3">
                    <div class="clickable-element list-group-item"
                        v-for="measurement in measurements_copy"
                        :key="measurement.id"
                        @click="measurementClicked(measurement)">
                            <i class="align-middle far" :class="measurement.selected ? 'fa-check-square' : 'fa-square'"></i>
                            <span class="align-middle">{{ measurement.measurement_time | formatDate(user.date_format + ' ' +  user.time_format,user.timezone)}}</span>
                    </div>
                </div>
            </div>

            <template v-slot:modal-footer="{ cancel }">
                <button v-show="measurements_selected" :disabled="!template_selected" type="button" class="btn btn-default" @click="generate=true">{{ localization('Generate') }}</button>
                <button v-show="!measurements_selected" :disabled="!selected_measurements" type="button" class="btn btn-default" @click="measurements_selected=true">{{ localization('Next') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    import GenerateReportModal from "@/vue/Components/Reusable-Components/GenerateReportModal"


    export default {
        props: {
            show: Boolean,
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            pile_application_location: Object,
            measurements: Array,
            user: Object
        },
        watch: {
            measurements: function(n,o) {
                this.measurements_copy=[...this.measurements];

                for(let i=0;i<this.measurements_copy.length;i++) {
                    this.measurements_copy[i].selected=false;
                    this.measurements_copy[i].data=null;
                }
            }
        },
        data() {
            return {
                template_selected:false,
                generate:false,
                report_data: null,
                measurements_copy: null,
                measurements_selected: false,
                selected_measurements: 0
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                    this.template_selected=false;
                    this.measurements_selected=false;
                    this.generate=false;
                }
            }
        },
        components: { 
            GenerateReportModal
        },
        methods: {
            reportDataFunction() {
                let context=this;
                return new Promise((resolve, reject) => { 
                    let object = {};
                    object.measurements=[];
                    object.application=context.pile_application;
                    object.site=context.pile_application_site;
                    object.location=context.pile_application_location;

                    for(let i=0;i<context.measurements_copy.length;i++) {
                        if(context.measurements_copy[i].selected) {
                            object.measurements.push(context.measurements_copy[i].data);
                        }
                    }

                    resolve(object);
                });
            },
            measurementClicked(measurement) {
                measurement.selected=!measurement.selected;

                if(measurement.selected) {
                    if(measurement.data === null) {
                        measurement.data = {};
                        this.getMeasurement(measurement);
                    }
                    this.selected_measurements++;
                }
                else {
                    this.selected_measurements--;
                }

                this.updateMeasurement(measurement);
                
            },
            updateMeasurement(measurement) {
                let pos=this.measurements_copy.map(function(e) { return e.id; }).indexOf(measurement.id);
                this.$set(this.measurements_copy, pos, measurement);
            },
            getMeasurement(measurement) {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + measurement.id)
                    .then((response) => {
                        measurement.data.measurement=response.data;
                        this.updateMeasurement(measurement);
                        this.getModel(measurement);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getModel(measurement) {
                axios.get('/api/application_instances/' + this.application_instance.id +
                    '/pile_applications/' + this.pile_application.id +
                    '/pile_application_sites/' + this.pile_application_site.id +
                    '/pile_application_locations/' + this.pile_application_location.id +
                    '/pile_application_measurements/' + measurement.id +
                    '/data')
                    .then((response) => {
                        measurement.data.model=response.data;
                        this.updateMeasurement(measurement);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        },
        mounted() {
            
        },
    }
</script>