<template>
        <b-modal v-model="showModal" :title="localization('Upload file')">
            <form>

                <label>{{ localization('CSV File') }}</label>

                <div class="input-group form-group">
                    <div class="custom-file">
                        <input type="file" id="file" ref="file" v-on:change="fileSelected()" class="custom-file-input" accept=".csv" required>
                        <label class="custom-file-label">{{ fileName }}</label>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ localization('Volume adjustment factor') }}</label>
                    <input type="number" class="form-control" v-model="measurement_data.volume_adjustment_factor" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Density') }}</label>
                    <input type="number" class="form-control" v-model="measurement_data.density" required>
                </div>

                <div class="form-group">
                    <label>{{ localization('Description') }}</label>
                    <textarea type="text" rows=5 class="form-control" v-model="measurement_data.description"></textarea>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="upload();ok()"><i class="fas fa-file-upload"></i></button>
                <button type="button" class="btn btn-default" @click="cancel()"><i class="fas fa-times"></i></button>
            </template>

        </b-modal>
</template>

<script>
    export default {
        props: {
            application_instance: Object,
            pile_application: Object,
            pile_application_site: Object,
            pile_application_location: Object,
            show: Boolean
        },
        data() {
            return {
                measurement_data: {
                    description: "",
                    volume_adjustment_factor: 1.0,
                    density: 1.0,
                },
                file: null,
                fileName: 'CSV File'
            };
        },
        watch: {
            show: function(newValue,oldValue) {
                if(newValue) {
                    this.measurement_data = {
                        description: "",
                        volume_adjustment_factor: 1.0,
                        density: 1.0,
                    };
                    
                    this.file=null;
                    this.fileName='CSV File';
                    this.getSettings();
                }
            }
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 

        },
        methods: {
            fileSelected() {
                this.file=this.$refs.file.files[0];

                this.fileName=this.file.name;
            },
            upload() {
                var formData = this.objectToFormData(this.measurement_data);
                formData.append('csvfile', this.file);
                var headers = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }

                axios.post('/api/application_instances/' + 
                    this.application_instance.id + '/pile_applications/' +
                    this.pile_application.id + '/pile_application_sites/' +
                    this.pile_application_site.id + '/pile_application_locations/' +
                    this.pile_application_location.id + '/pile_application_measurements',formData,headers)
                    .then((response) => {
                        this.$emit('measurement-uploaded');
                        this.alert.message="Measurement uploaded";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error uploading measurement";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            },
            getSettings() {
                this.measurement_data.volume_adjustment_factor=this.pile_application_location.volume_adjustment_factor;
                this.measurement_data.density=this.pile_application_location.density;
            },
        },
        mounted() {

        },
    }
</script>