<template>

</template>

<script>

    export default {
        props: {

        },
        data() {
            return {

            };
        },
        watch: {

        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>