<template>
        <main class="py-4">
        <div class="container">

        </div>
    </main>
</template>

<script>

    export default {
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            loginWithSignedLink() {
                var credentials={
                    url: window.location.href
                }

                this.$store.dispatch('auth/activationLogin', credentials)
                    .then(() => {
                        switch(this.$route.name) {
                            case 'activate':
                                this.$router.replace('/activation_notice');
                                break;
                            case 'reset':
                                this.$router.replace('/reset_notice');
                                break;                              
                        }
                        
                    })
                    .catch((errors) => {
                        this.error="Something went wrong when trying to activate user."
                    });
            },
        },
        mounted() {
            this.loginWithSignedLink();
        },
    }
</script>