<template>
    <div>
        <jumbotron 
            :title="'Settings'"
            :subtitle="'User'"/>

        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header text-white bg-dark">{{ localization('Settings') }}</div>

                            <div class="card-body">
                                <form @submit.prevent="save()">

                                    <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

                                    <p v-if="errors.length">
                                        <b>{{ localization('Error(s)') }}:</b>
                                        <ul>
                                            <li v-for="(error,index) in errors" :key="index">{{ error }}</li>
                                        </ul>
                                    </p>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Name') }}</label>

                                        <div class="col-md-6">
                                            <input type="text" class="form-control" v-if="user" v-model="user.name" required autofocus> 
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('E-Mail Address') }}</label>

                                        <div class="col-md-6">
                                            <input type="email" class="form-control" v-if="user" v-model="user.email" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Confirm E-Mail Address') }}</label>

                                        <div class="col-md-6">
                                            <input type="email" class="form-control" v-if="user" v-model="email_confirmation" required>
                                        </div>
                                    </div>


                                    <div class="form-group row"  v-if="user && !user.empty_password">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Old Password') }}</label>

                                        <div class="col-md-6">
                                            <input type="password" class="form-control" v-model="old_password">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('New Password') }}</label>

                                        <div class="col-md-6">
                                            <input type="password" class="form-control" v-model="password">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password_confirmation" class="col-md-4 col-form-label text-md-right">{{ localization('Confirm Password') }}</label>

                                        <div class="col-md-6">
                                            <input type="password" class="form-control" v-model="password_confirmation">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="timezone" class="col-md-4 col-form-label text-md-right">{{ localization('Timezone') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.timezone">
                                                <option v-for="key in Object.keys(time_zones)" v-bind:key="key" v-bind:value="key" :selected="key===user.timezone">
                                                    {{ time_zones[key] }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>                                    

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Measurement System') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.measurement_system">
                                                <option value="metric" :selected="user.measurement_system==='metric'">{{ localization('Metric') }}</option>
                                                <option value="imperial" :selected="user.measurement_system==='imperial'">{{ localization('Imperial') }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">Date Format</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.date_format">
                                                <option value='YYYY-MM-DD' :selected="user.date_format==='YYYY-MM-DD'">YYYY-MM-DD</option>
                                                <option value='MM/DD/YYYY' :selected="user.date_format==='MM/DD/YYYY'">MM/DD/YYYY</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="time_format" class="col-md-4 col-form-label text-md-right">{{ localization('Time Format') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.time_format">
                                                <option value='HH:mm:ss' :selected="user.time_format==='HH:mm:ss'">HH:MM:SS</option>
                                                <option value='h:mm:ss a' :selected="user.time_format==='h:mm:ss a'">HH:MM:SS AM/PM</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row justify-content-center">
                                        <div class="col-xs-2 col-sm-2">
                                            <button type="submit" class="btn btn-primary btn-block">
                                                {{ localization('Save') }}
                                        </button>
                                        </div>
                                    </div>
                                </form>

                                <hr/>

                                <SocialLogin v-bind:user="user"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</template>

<script>
    import Timezones from '@/vue/Components/Reusable-Components/Timezones.js'
    import SocialLogin from './SocialLogin';
    import Jumbotron from "@/vue/Components/Reusable-Components/Jumbotron"
    export default {
        data() {
            return {
                user: null,
                email_confirmation: null,
                password_confirmation: null,
                password: null,
                old_password: null,
                time_zones: Timezones,
                errors: []
            };
        },
        components: { 
            SocialLogin,
            Jumbotron
        },
        methods: {
            save() {
                this.user.email_confirmation=this.email_confirmation;
                this.user.password_confirmation=this.password_confirmation;
                this.user.password=this.password;
                this.user.old_password=this.old_password;

                this.errors=[];

                if(!this.user.name.length) {
                    this.errors.push('Name cannot be empty');
                }

                if (!this.user.email) {
                    this.errors.push('Email required.');
                } 
                else if (!this.validEmail(this.user.email)) {
                    this.errors.push('Valid email required.');
                }

                if(this.user.password!=this.user.password_confirmation) {
                    this.errors.push('The passwords does not match');
                } 

                if(this.user.email!=this.user.email_confirmation) {
                    this.errors.push('The emails does not match');
                } 

                if(!this.errors.length) {
                    axios.put('/api/users/' + this.user.id,this.user).then((response) => {
                            this.user=response.data;
                            this.alert.variant="success";
                            this.alert.message="Saved user settings";
                        })
                        .catch((error) => {
                            this.errors.push(this.getErrorMessage(error));
                        });
                }
            },

        },
        mounted: function () {
            this.logged_in = this.$store.getters['auth/isAuthenticated'];

            if (this.logged_in) {
                this.$store.dispatch('auth/getUser').then((user) => { 
                    this.user=user;
                    this.email_confirmation=user.email;
                });
            }
        },
        created() {
            this.$eventHub.$on('back-button-pressed', () => this.$router.push({name: 'organizations'}));
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>