<template>
    <div>
        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>
                        <div class="card">
                            <div class="card-header text-white bg-dark">{{ localization('Login') }}</div>

                            <div class="card-body">

                                <span class="invalid-feedback" role="alert" v-if="error">
                                    <strong>{{ error }}</strong>
                                 </span>

                                <form @submit.prevent="submit">
                                    <div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">{{ localization('E-Mail Address') }}</label>

                                        <div class="col-md-6">
                                            <input id="email" class="form-control" type="email" autocomplete="username" name="email" v-model="credentials.username" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-md-4 col-form-label text-md-right">{{ localization('Password') }}</label>

                                        <div class="col-md-6">
                                            <input id="password" type="password" autocomplete="current-password" class="form-control" v-model="credentials.password" name="password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-0">
                                        <div class="col-md-8 offset-md-4">
                                            <button type="submit" class="btn btn-primary">
                                                {{ localization('Login') }}
                                            </button>
                                            <router-link to="/reset_password">{{ localization('Forgot password?') }}</router-link>
                                        </div>
                                    </div>
                                </form>
                                <hr/>
                                <SocialLogin/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    import SocialLogin from './SocialLogin';
    export default {
        data() {
            return {
                credentials: {
                    username: '',
                    password: '',
                },
                error: null
            };
        },
        components: { 
            SocialLogin
        },
        methods: {
            submit() {
                this.$store.dispatch('auth/login', this.credentials)
                    .then(() => {
                        var intendedUrl = this.$store.getters['auth/getIntendedUrl'];
                        this.$router.replace(intendedUrl);
                        this.$eventHub.$emit('logged-in');
                    })
                    .catch((errors) => {
                        console.log(errors);
                        if(errors.status===400) {
                            this.alert.message="Wrong username or password";
                            this.alert.variant="danger";
                            this.$eventHub.$emit('alert-event',this.alert);
                        }
                        else {
                            this.alert.message="Something went wrong when trying to login to api.";
                            this.alert.variant="danger";
                            this.$eventHub.$emit('alert-event',this.alert);
                        }            
                        
                    });
            },
        },
    }
</script>