<template>
        <div>
            <main class="py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header text-white bg-dark">{{ localization('Register') }}</div>

                                <div class="card-body">

                                    <form @submit.prevent="submit">

                                        <p v-if="errors.length">
                                            <b>{{ localization('Error(s)') }}:</b>
                                            <ul>
                                                <li v-for="error in errors">{{ error }}</li>
                                            </ul>
                                        </p>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right">{{ localization('Name') }}</label>

                                            <div class="col-md-6">
                                                <input class="form-control" type="text" v-model="credentials.name" autofocus>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right">{{ localization('E-Mail Address') }}</label>

                                            <div class="col-md-6">
                                                <input class="form-control" type="email" v-model="credentials.email">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right">{{ localization('Password') }}</label>

                                            <div class="col-md-6">
                                                <input type="password" class="form-control" v-model="credentials.password">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right">{{ localization('Confirm Password') }}</label>

                                            <div class="col-md-6">
                                                <input type="password" class="form-control" v-model="credentials.password_confirmation">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right"></label>
                
                                            <div class="col-md-6">
                                                <input type="checkbox" name="terms_and_conditions">
                                                {{ localization('I agree to the') }}
                                                <a href="#" onclick="window.open('https://haglof.app/terms-and-conditions/','_blank','width=630,height=891');">
                                                    {{ localization('Terms and conditions') }}
                                                </a>
                                                 and 
                                                <a href="#" onclick="window.open('https://haglof.app/privacy-policy/','_blank','width=630,height=891');">
                                                    {{ localization('Privacy policy') }}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label text-md-right"></label>
                                            <div class="col-md-6">
                                                <vue-recaptcha 
                                                    v-bind:sitekey="recaptcha_key"
                                                    @verify="onCaptchaVerified"
                                                    @expired="onCaptchaExpired">
                                                </vue-recaptcha>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row mb-0">
                                            <div class="col-md-8 offset-md-4">
                                                <button type="submit" class="btn btn-primary">
                                                    {{ localization('Register') }}
                                                </button>
                                            </div>
                                        </div>

                                    </form>

                                    <hr/>

                                    <SocialLogin/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    import SocialLogin from './SocialLogin';

    export default {
        data() {
            return {
                credentials: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    recaptchaToken: '',
                    terms_and_conditions: true
                },
                errors: [],
                recaptcha_key: process.env.MIX_NOCAPTCHA_SITEKEY
            };
        },
        components: { 
                VueRecaptcha,
                SocialLogin
            },
        methods: {
            submit() {
                this.errors = [];

                if(!this.credentials.name.length) {
                    this.errors.push('Name cannot be empty');
                }

                if (!this.credentials.email) {
                    this.errors.push('Email required.');
                } 
                else if (!this.validEmail(this.credentials.email)) {
                    this.errors.push('Valid email required.');
                }

                if(this.credentials.password!=this.credentials.password_confirmation) {
                    this.errors.push('The passwords does not match');
                } 

                if(!this.credentials.recaptchaToken.length) {
                    this.errors.push('reCaptcha is not verified');
                }

                if(!this.errors.length) {
                    axios.post('api/users', this.credentials)
                    .then((response) => {

                        var login_credentials = {
                            username: this.credentials.email,
                            password: this.credentials.password
                        }

                        this.$store.dispatch('auth/login', login_credentials)
                            .then(() => {
                                var intendedUrl = this.$store.getters['auth/getIntendedUrl'];
                                this.$router.replace(intendedUrl);
                            })
                            .catch((errors) => {
                                if(errors.status===400) {
                                    this.error="Wrong username or password";
                                }
                                else {
                                    console.log(errors);
                                    this.error="Something went wrong when trying to login to api."
                                }            
                        
                            });
                        
                    }).catch((err) => {
                        console.log(err);
                        this.credentials.recaptchaToken = '';
                        this.errors.push(this.getErrorMessage(err));
                    }).then(() => {

                    });
                }

            },
            onCaptchaVerified: function (recaptchaToken) {
                this.credentials.recaptchaToken = recaptchaToken;
            },
            onCaptchaExpired: function () {
                this.$refs.recaptcha.reset();
                this.credentials.recaptchaToken = '';
            },
            validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            getErrorMessage: function (err) {
                var responseBody;
                responseBody = err.response;
                if (!responseBody) {
                    responseBody = err;
                }
                else {
                    responseBody = err.response.data || responseBody;
                }
                return responseBody.message || JSON.stringify(responseBody);
            }
            
        },
        mounted: function() {            
            let recaptchaScript = document.createElement('script');

            recaptchaScript.setAttribute('src', 'https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit');
            recaptchaScript.setAttribute('async', 'async');
            recaptchaScript.setAttribute('defer', 'defer');

            document.head.appendChild(recaptchaScript);
        }
}
</script>