<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Account password is reset') }}</div>
                        <div class="card-body">
                            {{ localization('The account password has been reset') }}
                            <router-link to="/edit_user">{{ localization('Click here to go to user settings and choose a new password') }}</router-link>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

    export default {
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>