<template>
    <div>
        <main class="py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header text-white bg-dark">{{ localization('Reset Password') }}</div>

                            <div class="card-body">
                                <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>
                                <form @submit.prevent="submit">
                                    <div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">{{ localization('E-Mail Address') }}</label>

                                        <div class="col-md-6">
                                            <input id="email" class="form-control" type="email" autocomplete="username" name="email" v-model="credentials.email" required autofocus>
                                        </div>
                                    </div>


                                    <div class="form-group row mb-0">
                                        <div class="col-md-8 offset-md-4">
                                            <button type="submit" class="btn btn-primary">
                                                {{ localization('Reset') }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                credentials: {
                    email: '',
                },
                error: null
            };
        },
        components: { 

        },
        methods: {
            submit() {
                axios.post('/api/users/reset',this.credentials)
                    .then((response) => {
                        this.alert.message="Password was reset, check your email to choose a new one";
                        this.alert.variant="success";
                        this.$eventHub.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error resetting password";
                        this.alert.variant="danger";
                        this.$eventHub.$emit('alert-event',this.alert);
                    });
            },
        },
    }
</script>