<template>
    <div class="container">

        <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

        <div class="row row-sm-offset-2 socialButtons justify-content-center">

            <!-- Facebook -->
            <div class="col-xs-2 col-sm-2">
                <button @click="AuthProvider('facebook')" class="btn btn-lg btn-block border" v-bind:class="[SocialProviderExist('facebook') ? 'btn-default' : 'btn-facebook']" data-toggle="tooltip" data-placement="top" title="Connect with Facebook">
                    <i class="fab fa-facebook"></i>
                    <span class="hidden-xs"></span>
                </button>
            </div>

            <!-- Google -->
            <div class="col-xs-2 col-sm-2">
                <button @click="AuthProvider('google')" class="btn btn-lg btn-block border" v-bind:class="[SocialProviderExist('google') ? 'btn-default' : 'btn-google']" data-toggle="tooltip" data-placement="top" title="Connect with Google">
                    <i class="fab fa-google"></i>
                    <span class="hidden-xs"></span>
                </button>
            </div>

        </div><br>

        <div class="row socialButtons justify-content-center">

            <!-- LinkedIn -->
            <div class="col-xs-2 col-sm-2">
                <button @click="AuthProvider('linkedin')" href="" class="btn btn-lg btn-block border" v-bind:class="[SocialProviderExist('linkedin') ? 'btn-default' : 'btn-linkedin']" data-toggle="tooltip" data-placement="top" title="Connect with LinkedIn">
                    <i class="fab fa-linkedin"></i>
                    <span class="hidden-xs"></span>
                </button>
            </div>

            <!-- Microsoft -->
            <div class="col-xs-2 col-sm-2">
                <button @click="AuthProvider('microsoft')" class="btn btn-lg btn-block border" v-bind:class="[SocialProviderExist('microsoft') ? 'btn-default' : 'btn-microsoft']" data-toggle="tooltip" data-placement="top" title="Connect with Microsoft">
                    <i class="fab fa-windows"></i>
                    <span class="hidden-xs"></span>
                </button>
            </div>

        </div><br>

                <div class="row socialButtons justify-content-center">

            <!-- Apple -->
            <div class="col-xs-2 col-sm-2">
                <button @click="AppleSignIn()" href="" class="btn btn-lg btn-block border" v-bind:class="[SocialProviderExist('apple') ? 'btn-default' : 'btn-github']" data-toggle="tooltip" data-placement="top" title="Connect with Apple id">
                    <i class="fab fa-apple"></i>
                    <span class="hidden-xs"></span>
                </button>
            </div>

        </div><br>

    </div>
</template>

<script>
    export default {
        props: {
            user: Object,
        },
        data() {
            return {
                social_providers: [],
                errors: []
            };
        },
        watch: { 
            user: {
                immediate: true,
                handler: function (newVal, oldVal) {
                    if(newVal!=null) {
                        this.GetSocialProviders();
                    }
                }
            }
        },
        methods: {
            AuthProvider(provider) {
                this.$auth.authenticate(provider==='microsoft' ? 'live' : provider).then(response =>{
                    var credentials = {
                        code: response.code,
                        state: response.state,
                        provider: provider
                    };

                    this.Auth(credentials);
                    
                }).catch(error => {
                    this.alert.message=error.data.message;
                    this.alert.variant="danger";
                    this.$emit('alert-event',this.alert);
                })
            },
            Auth(credentials) {
                if(this.user===null||typeof this.user==='undefined') {
                    this.SocialLogin(credentials);
                }
                else {
                    if(this.SocialProviderExist(credentials.provider)) {
                        this.DeleteProvider(credentials.provider);
                    }
                    else {
                        this.AddProvider(credentials);
                    }
                }
            },
            async AppleSignIn() {
                try {
                    if(this.SocialProviderExist('apple')) {
                        this.DeleteProvider('apple');
                        return;
                    }

                    AppleID.auth.init({
                        clientId : process.env.MIX_APPLE_KEY,
                        scope : 'email',
                        redirectURI : process.env.MIX_APPLE_REDIRECT_URI,
                        state : "initial",
                        usePopup : true,
                    });

                    let data = await AppleID.auth.signIn();

                    var credentials = {
                        code: data.authorization.code,
                        provider: 'apple',
                        id_token: data.authorization.id_token,
                        state: "initial"
                    };

                    this.Auth(credentials);

                } catch ( error ) {
                    this.alert.message=error.data.message;
                    this.alert.variant="danger";
                    this.$emit('alert-event',this.alert);
                }
            },
            SocialLogin(credentials){

                this.$store.dispatch('auth/socialLogin', credentials)
                .then(() => {
                    var intendedUrl = this.$store.getters['auth/getIntendedUrl'];
                    this.$router.replace(intendedUrl);
                })
                .catch((error) => {
                    if(error.status===400) {
                        this.alert.message="Wrong username or password";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    }
                    else if(error.status===403) {
                        this.alert.message=error.data.message;
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    }
                    else {
                        this.alert.message="Something went wrong when trying to login to api."
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    }  
                    console.log(error);
                        
                });
            },
            AddProvider(post_data) {
                let context = this;
                axios.post('/api/users/' + this.user.id + '/social_providers',post_data)
                    .then((response) => {
                        this.social_providers=response.data;
                    })
                    .catch(function (error) {
                        error = error.response;
                        context.alert.message=error.data.message;
                        context.alert.variant="danger";
                        context.$emit('alert-event',context.alert);
                    });
            },
            DeleteProvider(provider) {
                var id = this.social_providers.filter(e => e.provider === provider)[0].id;

                axios.delete('/api/users/' + this.user.id + '/social_providers/' + id)
                    .then((response) => {
                        this.social_providers=response.data;
                    })
                    .catch((error) => {
                        this.alert.message=error.data.message;
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            },
            SocialProviderExist(provider) {
                return this.social_providers.filter(e => e.provider === provider).length >0;
            },
            GetSocialProviders() {
                axios.get('/api/users/' + this.user.id + "/social_providers").then((response) => {
                    this.social_providers=response.data;
                })
                .catch((error) => {
                        this.alert.message=error.data.message;
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                });
            },
        }
    };
</script>

<style scoped>

</style>
  
  
                                        