<template>
    <main class="py-4">
        <div class="container">
            <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Verify') }}</div>
                        <div class="card-body">
                            {{ localization('Before proceeding, please check your email for a verification link.') }}
                            {{ localization('If you did not receive the email, ') }}
                            <a href="#" @click="resend()">{{ localization('click here to request another') }}</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        data() {
            return {

            };
        },
        mounted: function() {            
            
        },
        components: {

        },
        methods: {
            resend() {
                axios.get('api/email/resend')
                    .then((response) => {
                        this.alert.variant="success";
                        this.alert.message=localization('New verification email sent, please check your mailbox');
                    })
                    .catch((error) => {
                        if(error.response.status===422) {
                            this.alert.variant="danger";
                            this.alert.message=error.response.data;
                        }
                    });
            },
        },
    }
</script>