<template>
        <b-modal id="create_folder_modal" title="Create Folder">
            <form>
                <div class="form-group">
                    <label>{{ localization('Name') }}</label>
                    <input type="text" class="form-control" v-model="new_folder.name" required>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="createFolder();ok()">{{ localization('Create') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            application_instance: Object,
            dc_application: Object,
            folder: Object

        },
        data() {
            return {
                new_folder: {
                    name: "",
                    m_d_i_i_folder_id: null
                },
            };
        },
        components: { 

        },
        methods: {
            createFolder() {
                this.new_folder.m_d_i_i_folder_id=this.folder.id;
                axios.post('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + this.dc_application.id + '/folders',this.new_folder)
                    .then((response) => {
                        this.$emit('new-folder-created',response.data);
                        this.alert.message="Created folder";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error creating folder";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            }
        },
        mounted() {

        },
    }
</script>