<template>
        <b-modal id="delete-folder-modal" :title="localization('Delete Folder')">

            <div>{{ localization('Are you sure you want to delete') }} {{ folder.name }}?</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="$emit('delete-folder');ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            folder: Object,
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>