<template>
        <b-modal id="delete-file-modal" :title="localization('Delete File')">

            <div>{{ localization('Are you sure you want to delete') }} {{ file.name }}?</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteFile();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            file: Object,
            dc_application: Object,
            application_instance: Object,
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteFile() {
                axios.delete('/api/application_instances/' + this.application_instance.id + '/dc_applications/' + this.dc_application.id + '/files/' + this.file.id)
                    .then((response) => {
                        this.$emit('file-removed');
                        this.alert.message="Deleted file";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting file";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>