<template>
        <b-modal v-model="showModal" :title="localization('Edit file')">
            <form>
                <div class="form-group">
                    <label>{{ localization('File name') }}</label>
                    <input type="text" class="form-control" v-model="file_data.name" required>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" v-b-modal.delete-file-modal>{{ localization('Delete') }}</button>
                <button type="submit" class="btn btn-default" @click="update();ok()">{{ localization('Update') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

            <delete-file-modal
                v-bind:dc_application="dc_application"
                v-bind:application_instance="application_instance"
                v-bind:file="file"
                @file-removed="$emit('file-removed')"/>
        </b-modal>
</template>

<script>
    import DeleteFileModal from './DeleteFileModal'
    export default {
        props: {
            file: Object,
            dc_application: Object,
            application_instance: Object,
            show: Boolean
        },
        data() {
            return {
                file_data: {
                    name: "",
                },
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            DeleteFileModal
        },
        methods: {
            update() {

                axios.put('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id,this.file_data)
                .then((response) => {
                    this.$emit('file-updated',response.data);
                    
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {
            this.file_data=Object.assign(this.file_data,this.file);
        },
    }
</script>