<template>
        <b-modal v-model="showModal" :title="localization('Edit folder')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Folder name') }}</label>
                    <input type="text" class="form-control" v-model="folder_data.name" required>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="button" v-b-modal.delete-folder-modal>{{ localization('Delete') }}</button>
                <button type="submit" class="btn btn-default" @click="$emit('update-folder',folder_data);ok()">{{ localization('Update') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

            <delete-folder-modal
                v-bind:folder="folder"
                @delete-folder="$emit('delete-folder')"/>
        </b-modal>
</template>

<script>
    import DeleteFolderModal from './DeleteFolderModal'
    export default {
        props: {
            folder: Object,
            show: Boolean
        },
        data() {
            return {
                folder_data: {
                    name: "",
                },
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            DeleteFolderModal
        },
        methods: {

        },
        mounted() {
            this.folder_data=Object.assign(this.folder_data,this.folder);
        },
    }
</script>