<template>
        <b-modal v-model="showModal" title="Generate report">

            <generate-report-modal
                v-bind:report_key="'dc_multi'"
                v-bind:application_instance="application_instance"
                v-bind:reportDataFunction="reportDataFunction"
                v-bind:show="inventories_selected"
                @hide="inventories_selected=false;$emit('hide')"
            />

            <div v-show="!inventories_selected">
                <div class="list-group mt-3">
                    <div v-for="file in files_copy" 
                        :key="file.id">
                        <div class="list-group-item font-weight-bold">
                            <i class="far fa-file-alt"/>
                            {{file.name}}
                        </div>
                        <div class="clickable-element list-group-item"
                            v-for="inventory in file.inventories"
                            :key="inventory.id"
                            @click="inventoryClicked(inventory)">
                                <i class="align-middle far ml-3" :class="inventory.selected ? 'fa-check-square' : 'fa-square'"></i>
                                <span class="align-middle">{{ inventory.display_name }}</span>
                        </div>

                    </div>
                    
                </div>
            </div>

            <template v-slot:modal-footer="{ cancel }">
                <button v-show="inventories_selected" :disabled="!template_selected" type="button" class="btn btn-default" @click="generate=true">{{ localization('Generate') }}</button>
                <button v-show="!inventories_selected" :disabled="!selected_inventories" type="button" class="btn btn-default" @click="inventories_selected=true">{{ localization('Next') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    import GenerateReportModal from "@/vue/Components/Reusable-Components/GenerateReportModal"

    export default {
        props: {
            show: Boolean,
            application_instance: Object,
            inventories: Array,
            files: Array,
            dc_application: Object
        },
        watch: {
            inventories: function(n,o) {
                this.loadInventories();
            },
            files: function(n,o) {
                this.loadInventories();
            }
        },
        data() {
            return {
                template_selected:false,
                generate:false,
                inventories_copy: [],
                files_copy: [],
                inventories_selected: false,
                selected_inventories: 0
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    }
                    this.template_selected=false;
                    this.inventories_selected=false;
                    this.generate=false;
                    this.selected_inventories=0;
                    this.files_copy=[];
                    this.inventories_copy=[];

                }
            }
        },
        components: { 
            GenerateReportModal
        },
        methods: {
            reportDataFunction() {
                let context=this;
                return new Promise((resolve, reject) => { 
                    let object = {};
                    object.files=[];
                    object.application=context.dc_application;

                    for(let i=0;i<this.files_copy.length;i++) {
                        let file=this.files_copy[i];
                        let inventories = [];    

                        for(let j=0;j<file.inventories.length;j++) {
                            if(file.inventories[j].selected) {
                                inventories.push(file.inventories[j])
                            }
                        }

                        if(inventories.length>0) {
                            file.inventories=inventories;
                            object.files.push(file);
                        }
                    }

                    resolve(object);
                });
            },
            inventoryClicked(inventory) {
                inventory.selected=!inventory.selected;

                if(inventory.selected) {
                    if(inventory.data === null) {
                        inventory.data = {};
                        this.getInventory(inventory);
                    }
                    this.selected_inventories++;
                }
                else {
                    this.selected_inventories--;
                }

                this.updateInventory(inventory);
                
            },
            updateInventory(inventory) {
                let pos=this.inventories_copy.map(function(e) { return e.id; }).indexOf(inventory.id);
                this.$set(this.inventories_copy, pos, inventory);

                pos=this.files_copy.map(function(e){ return e.id; }).indexOf(inventory.m_d_i_i_file_id);
                this.$set(this.files_copy,pos,this.files_copy[pos]);
            },
            getInventory(inventory) {
                axios.get('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + inventory.m_d_i_i_file_id +
                    '/stands/' + inventory.id + '/full')
                    .then((response) => {
                        inventory.data.measurement=response.data;
                        this.updateInventory(inventory);
                    })
                    .catch((error) => {

                    });
            },
            loadInventories() {
                if(this.files!=null&&this.inventories!=null) {
                    this.files_copy=[...this.files];
                    this.inventories_copy=[...this.inventories];

                    this.files_copy.forEach(file => {
                        file.inventories = [];
                        this.inventories_copy.forEach(inventory => {
                            if(file.id===inventory.m_d_i_i_file_id) {
                                inventory.selected=false;
                                inventory.data=null;
                                file.inventories.push(inventory);
                            }
                        });
                    });
                }
            }
        },
        mounted() {
            
        },
    }
</script>