<template>
        <b-modal v-if="showModal" v-model="showModal" :title="localization('Merge inventories')">
            {{ localization('Do you want to merge') }} {{dragData.stand.display_name}} {{ localization('with') }} {{dragData.target_stand.display_name}}?

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="merge();ok()">{{ localization('Merge') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>
        </b-modal>
</template>

<script>
    export default {
        props: {
            application_instance: Object,
            dc_application: Object,
            dragData: Object,
            show: Boolean
        },
        data() {
            return {

            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 

        },
        methods: {
            merge() {
                axios.get('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.dragData.file.id +
                    '/stands/' + this.dragData.target_stand.id +
                    '/merge/' + this.dragData.stand.id)
                .then((response) => {
                    this.$eventHub.$emit('stands-updated',this.dragData.file);
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {

        },
    }
</script>