<template>
        <b-modal v-if="showModal" v-model="showModal" :title="localization('Move inventory')">
            {{ localization('Do you want to move') }} {{dragData.stand.display_name}} {{ localization('to file:') }} {{dragData.target_file.name}}?

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="move();ok()">{{ localization('Move') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>
        </b-modal>
</template>

<script>
    export default {
        props: {
            application_instance: Object,
            dc_application: Object,
            dragData: Object,
            show: Boolean
        },
        data() {
            return {

            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 

        },
        methods: {
            move() {
                let stand=Object.assign({ 'm_d_i_i_file_id': this.dragData.target_file.id},this.dragData.stand.id);

                axios.put('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.dragData.file.id +
                    '/stands/' + this.dragData.stand.id,stand)
                .then((response) => {
                    if(this.dragData.standscount===1) {
                        this.$emit('file-removed');
                    }
                    else {
                        this.$eventHub.$emit('stands-updated',this.dragData.file);
                        this.$eventHub.$emit('stands-updated',this.dragData.target_file);
                    }
                    
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {

        },
    }
</script>