<template>
        <b-modal id="delete-user-modal" title="Delete User">

            {{ localization('Are you sure you want to delete') }} {{ user.displayName }}

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteUser();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            user: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteUser() {
                axios.delete('/api/users/' + this.user.id)
                    .then((response) => {
                        this.$emit('user-deleted');
                        this.alert.message="Deleted user";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting user";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>