<template>
        <b-modal id="delete-report-template-modal" title="Delete Report Template">

            {{ localization('Are you sure you want to delete') }} {{ report_template.name }}

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteReportTemplate();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            report_template: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteReportTemplate() {
                axios.delete('/api/reports/templates/' + this.report_template.id)
                    .then((response) => {
                        this.$emit('report-template-deleted');
                        this.alert.message="Deleted report template";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting report template";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>