<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Organizations list') }}</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{ localization('Name') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="organization in organizations"
                                            :key="organization.id"
                                            class='clickable-element'
                                            @click="$router.push({ name: 'organization', params: { id: organization.id } })">
                                            <th scope="row">{{ organization.id }}</th>
                                            <td>{{ organization.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

    export default {
        props: {

        },
        data() {
            return {
                organizations: []
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            getOrganizations() {
                axios.get('/api/organizations?all_organizations=true')
                    .then((response) => {
                        this.organizations=response.data;
                    })
                    .catch((error) => {
                        
                    });
            }
        },
        mounted() {
            this.getOrganizations();
        },
        created() {
            let context=this;
            this.$eventHub.$on('back-button-pressed', function() { context.$router.back() });
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>