<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Report template list') }}</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{ localization('Name') }}</th>
                                            <th scope="col">{{ localization('Key') }}</th>
                                            <th scope="col">{{ localization('Standard') }}</th>
                                            <th scope="col">{{ localization('Premium') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="report_template in report_templates"
                                            :key="report_template.id"
                                            class='clickable-element'
                                            @click="$router.push({ name: 'reporttemplate', params: { id: report_template.id } })">
                                            <th scope="row">{{ report_template.id }}</th>
                                            <td>{{ report_template.name}}</td>
                                            <td>{{ report_template.key}}</td>
                                            <td>{{ report_template.standard ? 'Yes' : 'No '}}</td>
                                            <td>{{ report_template.premium ? 'Yes' : 'No '}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

    export default {
        props: {

        },
        data() {
            return {
                report_templates: []
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            getReports() {
                axios.get('/api/reports/templates/list')
                .then((response) => {
                    this.report_templates=response.data;
                })
                .catch((error) => {
                    
                });
            }
        },
        mounted() {
            this.getReports();
        },
        created() {
            let context=this;
            this.$eventHub.$on('back-button-pressed', function() { context.$router.back() });
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>