<template>
    <main v-if="report_template" class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Report template') }} - {{report_template.name}}</div>
                        <div class="card-body">
                            <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">{{ localization('Name') }}</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" v-model="report_template.name" required autofocus> 
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="key" class="col-md-4 col-form-label text-md-right">{{ localization('Key') }}</label>

                                <div class="col-md-6">
                                    <input id="key" type="text" class="form-control" name="name" v-model="report_template.key" required disabled> 
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 col-form-label text-md-right">{{ localization('Standard') }}</label>
                                <input type="checkbox" v-model="report_template.standard"/>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 col-form-label text-md-right">{{ localization('Premium') }}</label>
                                <input type="checkbox" v-model="report_template.premium"/>
                            </div>

                            <div class="form-group row justify-content-center">
                                <div class="col-xs-2 col-sm-2">
                                    <button type="button" class="btn btn-primary" @click="save()">
                                        {{ localization('Save') }}
                                    </button>
                                    <button type="button" class="btn btn-danger" @click="deleteTemplate()">
                                        {{ localization('Delete') }}
                                    </button>
                                </div>
                            </div>

                            <div v-if="!report_template.standard&&!report_template.premium">
                                <div v-if="report_template.application_instances.length">
                                    <br><br>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan=3 scope="col">{{ localization('Connected Application Instances') }}</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('Application') }}</th>
                                                <th scope="col">{{ localization('Organization') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr 
                                                    v-for="(application_instance,index) in report_template.application_instances" 
                                                    v-bind:key="application_instance.id"
                                                    class="clickable-element"
                                                    @click="removeApplicationInstance(index)">
                                                    <th scope="row">
                                                        {{ application_instance.id }}
                                                    </th>
                                                    <td>
                                                        {{ application_instance.application.name }}
                                                    </td>
                                                    <td>
                                                        {{ application_instance.organization_name }}
                                                    </td>

                                                </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div v-if="filteredApplicationInstances.length">
                                    <br><br>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan=3 scope="col">{{ localization('Unconnected Application Instances') }}</th>
                                            </tr>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">{{ localization('Application') }}</th>
                                                <th scope="col">{{ localization('Organization') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr 
                                                    v-for="application_instance in filteredApplicationInstances" 
                                                    v-bind:key="application_instance.id"
                                                    class="clickable-element"
                                                    @click="addApplicationInstance(application_instance)">
                                                    <th scope="row">
                                                        {{ application_instance.id }}
                                                    </th>
                                                    <td>
                                                        {{ application_instance.application.name }}
                                                    </td>
                                                    <td>
                                                        {{ application_instance.organization_name }}
                                                    </td>

                                                </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <delete-report-template-modal 
            @report-template-deleted="$router.replace('/admin/reporttemplates');" 
            @alert-event="alert=$event" 
            :report_template="report_template"/>
    </main>

</template>

<script>
    import DeleteReportTemplateModal from './DeleteReportTemplateModal'
    export default {
        props: {

        },
        data() {
            return {
                report_template: null,
                application_instances: []
            };
        },
        watch: {

        },
        components: { 
            DeleteReportTemplateModal
        },
        computed: {
            filteredApplicationInstances: function () {
                var context=this;
                return this.application_instances.filter(function (item) {
                    for (let index = 0; index < context.report_template.application_instances.length; index++) {
                        const element = context.report_template.application_instances[index];
                        if(element.id==item.id) {
                            return false;
                        }
                    }
                    return true;
                    
                });
            },
        },
        methods: {
            getReportTemplate() {
                axios.get('/api/reports/templates/' + this.$route.params.id)
                .then((response) => {
                    this.report_template=response.data;
                    this.getApplicationInstances();
                })
                .catch((error) => {
                    
                });
            },
            getApplicationInstances() {
                axios.get('/api/application_instances?all=true')
                .then((response) => {
                    this.application_instances=response.data;
                })
                .catch((error) => {
                    
                });
            },
            addApplicationInstance(application_instance) {
                axios.post('api/reports/templates/' + this.report_template.id + '/application_instances',{ 'application_instance_id': application_instance.id })
                    .then((response) => {
                        this.report_template.application_instances.push(application_instance);
                    })
                    .catch((error) => {
                        
                    });
            },
            removeApplicationInstance(index) {
                axios.delete('api/reports/templates/' + this.report_template.id + '/application_instances/' + this.report_template.application_instances[index].id)
                    .then((response) => {
                        this.report_template.application_instances.splice(index,1);
                    })
                    .catch((error) => {
                        
                    });
                
            },
            deleteTemplate() {
                this.$bvModal.show('delete-report-template-modal');
            },
            save() {
                axios.put('/api/reports/templates/' + this.report_template.id,this.report_template).then((response) => {
                    this.report_template=response.data;
                    this.alert.variant="success";
                    this.alert.message="Saved report template";
                })
                .catch((error) => {
                    this.alert.variant="danger";
                    this.alert.message=error;
                });
            }
        },
        mounted() {
            this.getReportTemplate();
        },
    }
</script>