<template>
    <div>
        <div id="designer"></div>
    </div>
</template>

<script>
    export default {
        props: {

        },
        data() {
            return {
                report_template: null,
            };
        },
        watch: {

        },
        components: { 

        },
        methods: {
            updateReport(json) {
                this.report_template.template=json;
                axios.put('/api/reports/templates/' + this.report_template.id,this.report_template).then((response) => {
                        this.report_template=response.data;
                    })
                    .catch((error) => {

                    });
            },
            loadDesigner() {
                var context=this;
                window.Stimulsoft.Base.StiLicense.key = process.env.MIX_STIMULSOFT_LICENSE_KEY;
                var options = new window.Stimulsoft.Designer.StiDesignerOptions();
                options.appearance.fullScreenMode = true;
                var designer = new window.Stimulsoft.Designer.StiDesigner(options, 'StiDesigner', false);
                var report = new window.Stimulsoft.Report.StiReport();

                report.load(this.report_template.template);

                var dataSet = new Stimulsoft.System.Data.DataSet("ReportData");
                dataSet.readJson(this.report_template.test_data);
                report.regData(dataSet.dataSetName, "", dataSet);
                
                if(this.report_template.parameters.length) {
                    report
                }

                report.dictionary.synchronize();

                designer.report = report;

                designer.onSaveReport = function (args) {
                    context.updateReport(args.report.saveToJsonString());
                }

                designer.renderHtml('designer');
            },
            loadReport(id) {
                axios.get('/api/reports/templates/' + id)
                    .then((response) => {
                        this.report_template=response.data;
                        this.loadDesigner();
                    })
                    .catch((error) => {
                        
                    });
            }
        },
        mounted() {
            this.loadReport(this.$route.params.id);
        },
    }
</script>

<style>
    @import './stimulsoft.designer.office2013.whiteblue.css';
    @import './stimulsoft.viewer.office2013.whiteblue.css';
</style>