<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div v-if="user" class="card">
                        <div class="card-header text-white bg-dark">{{ localization('Settings') }} - {{user.name}}</div>

                        <div class="card-body">
                            <alert v-bind:message="alert.message" v-bind:variant="alert.variant"/>

                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">{{ localization('Name') }}</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" v-model="user.name" required autofocus> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">{{ localization('E-Mail Address') }}</label>

                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" v-model="user.email" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="verified" class="col-md-4 col-form-label text-md-right">{{ localization('Verified at') }}:</label>
                            <div class="col-md-6">
                                <input type="date" class="form-control" name="verified" v-model="verified_at">    
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="role" class="col-md-4 col-form-label text-md-right">{{ localization('Role') }}:</label>
                            <div class="col-md-6">
                            <input id="role" type="number" class="form-control" name="role" min="0" :max="role-1" v-model="user.role">
                        </div>
                    </div>
                                    <div class="form-group row">
                                        <label for="timezone" class="col-md-4 col-form-label text-md-right">{{ localization('Timezone') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.timezone">
                                                <option v-for="key in Object.keys(time_zones)" v-bind:key="key" v-bind:value="key" :selected="key===user.timezone">
                                                    {{ time_zones[key] }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>                                    

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Measurement System') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.measurement_system">
                                                <option value="metric" :selected="user.measurement_system==='metric'">{{ localization('Metric') }}</option>
                                                <option value="imperial" :selected="user.measurement_system==='imperial'">{{ localization('Imperial') }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">{{ localization('Date Format') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.date_format">
                                                <option value='YYYY-MM-DD' :selected="user.date_format==='YYYY-MM-DD'">YYYY-MM-DD</option>
                                                <option value='MM/DD/YYYY' :selected="user.date_format==='MM/DD/YYYY'">MM/DD/YYYY</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="time_format" class="col-md-4 col-form-label text-md-right">{{ localization('Time Format') }}</label>

                                        <div class="col-md-6">
                                            <select class="form-control" v-if="user" v-model="user.time_format">
                                                <option value='HH:mm:ss' :selected="user.time_format==='HH:mm:ss'">HH:MM:SS</option>
                                                <option value='h:mm:ss a' :selected="user.time_format==='h:mm:ss a'">HH:MM:SS AM/PM</option>
                                            </select>
                                        </div>
                                    </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-xs-2 col-sm-2">
                                <button type="submit" class="btn btn-primary btn-block" @click="save">
                                    {{ localization('Save') }}
                                </button>
                                <button type="button" class="btn btn-danger btn-block" @click="$bvModal.show('delete-user-modal')">
                                    {{ localization('Delete') }}
                                </button>
                            </div>
                        </div>
                        <div>
                            {{ localization('Organizations list') }}

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{ localization('Name') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="organization in organizations"
                                            :key="organization.id"
                                            class='clickable-element'
                                            @click="$router.push({ name: 'organization', params: { id: organization.id } })">
                                            <th scope="row">{{ organization.id }}</th>
                                            <td>{{ organization.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <delete-user-modal 
            v-if="user"
            @user-deleted="$router.replace('/admin/users');" 
            @alert-event="alert=$event" 
            :user="user"/>
    </main>
</template>

<script>
import Timezones from '@/vue/Components/Reusable-Components/Timezones.js'
import DeleteUserModal from './DeleteUserModal'
export default {
    props: {},
    data() {
        return {
            user: null,
            role: 0,
            time_zones: Timezones,
            organizations: []
        };
    },
    watch: {},
    computed: {
        verified_at: {
            get: function() {
                return this.$moment(this.user.email_verified_at).format("YYYY-MM-DD");
            },
            set: function(value) {
                let v = this.$moment(value).format("YYYY-MM-DD hh:mm:ss");
                this.user.email_verified_at=v;
            }
        },
    },
    components: {
        DeleteUserModal
    },
    methods: {
        getUser(id) {
            axios.get("/api/users/" + id)
                .then((response) => {
                this.user = response.data;
                this.organizations = this.user.organizations;
                })
                .catch((error) => {});
        },
        save() {

            axios.put('/api/users/' + this.user.id,this.user).then((response) => {
                this.user=response.data;
                this.alert.variant="success";
                this.alert.message="Saved user settings";
            })
            .catch((error) => {
                this.alert.variant="danger";
                this.alert.message=error;
            });
        },

    },
    mounted() {
        this.getUser(this.$route.params.id);
        let logged_in = this.$store.getters['auth/isAuthenticated'];

        if (logged_in) {
            this.$store.dispatch('auth/getUser').then((user) => { 
                this.role=user.role;
            });
        }
    },
    created() {
        let context = this;
        this.$eventHub.$on("back-button-pressed", function () {
        context.$router.push({ name: "admin_users" });
        });
    },
    beforeDestroy() {
        this.$eventHub.$off("back-button-pressed");
    },
};
</script>