<template>
    <main class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-white bg-dark">{{ localization('User list') }}</div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="form-label">{{ localization('Filter') }}</label>
                                            </th>
                                            <th colspan="2">
                                                <input type="text" class="form-control" v-model="filter" @keyup="filterUsers"/>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{ localization('User') }}</th>
                                            <th scope="col">{{ localization('E-mail') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user in filtered_users"
                                            :key="user.id"
                                            class='clickable-element'
                                            @click="$router.push({ name: 'admin_user', params: { id: user.id } })">
                                            <th scope="row">{{ user.id }}</th>
                                            <td v-if="user.name">{{ user.name }}</td>
                                            <td v-else>&#60;{{ user.email }}&#62;</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>

    export default {
        props: {

        },
        data() {
            return {
                users: [],
                filtered_users: [],
                filter: ""
            };
        },
        computed: {

        },
        watch: {

        },
        components: { 

        },
        methods: {
            getUsers() {
                axios.get('/api/users')
                .then((response) => {
                    this.users=response.data;
                    this.filtered_users=response.data;
                })
                .catch((error) => {
                    
                });
            },
            filterUsers () {
                let users = [];

                this.users.forEach(user => {
                    let str = user.name + " " + user.email;
                    if(str.toLowerCase().includes(this.filter.toLowerCase())) {
                        users.push(user);
                    }
                });

                this.filtered_users=users;
            },

        },
        mounted() {
            this.getUsers();
        },
        created() {
            let context=this;
            this.$eventHub.$on('back-button-pressed', function() { context.$router.back(); });
        },
        beforeDestroy() {
            this.$eventHub.$off('back-button-pressed');
        },
    }
</script>