<template>
        <b-modal id="add_item_modal" :title="localization('Add Log')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Diameter') }}</label>
                    <input type="number" class="form-control" v-model="new_log.diameter" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Length') }}</label>
                    <input type="number" class="form-control" v-model="new_log.height1" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Species') }}</label>
                    <select class="form-control" v-model="new_log.m_d_i_i_specie_id" :disabled="!stand.species.length">
                        <option 
                            v-for="s in stand.species"
                            :key="s.id"
                            :value="s.id">
                            {{ s.specie_text }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ localization('Quality') }}</label>
                    <select class="form-control" v-model="new_log.m_d_i_i_quality_id" :disabled="!stand.qualities.length">
                        <option 
                            v-for="q in stand.qualities"
                            :key="q.id"
                            :value="q.id">
                            {{ q.quality_text }}
                        </option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" v-model="new_log.on_bark"/>
                    <label class="px-2 form-check-label">{{ localization('On Bark') }}</label>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="createLog();ok()">{{ localization('Add') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object,
        },
        data() {
            return {
                new_log: {
                    m_d_i_i_plot_id: null,
                    m_d_i_i_specie_id: null,
                    m_d_i_i_quality_id: null,
                    diameter: 0,
                    height1: 0,
                    is_log: true,
                    on_bark: true,
                    metric: 1,
                    name: "",
                },
            };
        },
        watch: {
            stand: function(n,o) {

                this.new_log.m_d_i_i_plot_id=this.stand.plots[0].id;

                if(this.stand.species.length>0) {
                    this.new_log.m_d_i_i_specie_id=this.stand.species[0].id;
                }

                if(this.stand.qualities.length>0) {
                    this.new_log.m_d_i_i_quality_id=this.stand.qualities[0].id;
                }

                if(typeof this.stand.settings != 'undefined' && this.stand.settings != null) {
                    this.new_log.metric=this.stand.settings.measurement_system==='metric' ? 1 : 0;
                }

                console.log(this.new_log);
                console.log(this.stand);
            }
        },
        components: { 

        },
        methods: {
            createLog() {
                axios.post('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id +
                    '/stands/' + this.stand.id +
                    '/trees',this.new_log)
                    .then((response) => {
                        this.$emit('new-log-created',response.data);
                        this.alert.message="Created log";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error creating log";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            }
        },
        mounted() {

        },
    }
</script>