<template>
        <b-modal id="add_item_modal" :title="localization('Add Tree')">
            <form>
                <div class="form-group">
                    <label>{{ localization('Diameter') }}</label>
                    <input type="number" class="form-control" v-model="new_tree.diameter" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Height 1') }}</label>
                    <input type="number" class="form-control" v-model="new_tree.height1" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Height 2') }}</label>
                    <input type="number" class="form-control" v-model="new_tree.height2" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Height 3') }}</label>
                    <input type="number" class="form-control" v-model="new_tree.height3" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Species') }}</label>
                    <select class="form-control" v-model="new_tree.m_d_i_i_specie_id" :disabled="!stand.species.length">
                        <option 
                            v-for="s in stand.species"
                            :key="s.id"
                            :value="s.id">
                            {{ s.specie_text }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>{{ localization('Plot') }}</label>
                    <select class="form-control" v-model="new_tree.m_d_i_i_plot_id" :disabled="!stand.plots.length">
                        <option 
                            v-for="(p,index) in stand.plots"
                            :key="p.id"
                            :value="p.id">
                            Plot {{ index+1 }}
                        </option>
                    </select>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="createTree();ok()">{{ localization('Add') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object,
        },
        data() {
            return {
                new_tree: {
                    m_d_i_i_plot_id: null,
                    m_d_i_i_specie_id: null,
                    m_d_i_i_quality_id: null,
                    diameter: 0,
                    height1: 0,
                    height2: 0,
                    height3: 0,
                    is_log: false,
                    metric: 1,
                    name: "",
                },
            };
        },
        watch: {
            stand: function(n,o) {

                this.new_tree.m_d_i_i_plot_id=this.stand.plots[0].id;

                if(this.stand.species.length>0) {
                    this.new_tree.m_d_i_i_specie_id=this.stand.species[0].id;
                }

                if(typeof this.stand.settings != 'undefined' && this.stand.settings != null) {
                    this.new_tree.metric=this.stand.settings.measurement_system==='metric' ? 1 : 0;
                }
            }
        },
        components: { 

        },  
        methods: {
            createTree() {
                axios.post('/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/files/' + this.file.id +
                    '/stands/' + this.stand.id +
                    '/trees',this.new_tree)
                    .then((response) => {
                        this.$emit('new-tree-created',response.data);
                        this.alert.message="Created tree";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        this.alert.message="Error creating tree";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                        console.log(error);
                    });
            }
        },
        mounted() {

        },
    }
</script>