<template>
        <b-modal v-model="showModal" :title="localization('Merge Qualities')">
            <div>{{ localization('Are you sure you want to merge') }} {{ quality2.quality_text }} {{ localization('with') }} {{ quality1.quality_text }}?</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="merge()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>
    export default {
        props: {
            application_instance: Object,
            dc_application: Object,
            quality1: Object,
            quality2: Object,
            show: Boolean
        },
        data() {
            return {

            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 

        },
        methods: {
            merge() {
                let url = '/api/application_instances/' + this.application_instance.id + 
                    '/dc_applications/' + this.dc_application.id + 
                    '/qualities/' + this.quality2.id +
                    '/merge/' + this.quality1.id;

                axios.get(url)
                .then((response) => {
                    this.$emit("quality-merged",this.quality2);
                    this.$emit('hide');
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        },
        mounted() {

        },
    }
</script>