<template>
        <b-modal id="delete-inventory-modal" :title="localization('Delete ') + stand.display_name">

            <div>{{ localization('Are you sure you want to delete') }} {{ stand.display_name }}?</div>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-danger" @click="deleteInventory();ok()">{{ localization('Yes') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('No') }}</button>
            </template>

        </b-modal>
</template>

<script>

    export default {
        props: {
            file: Object,
            dc_application: Object,
            application_instance: Object,
            stand: Object
        },
        data() {
            return {

            };
        },
        components: { 

        },
        methods: {
            deleteInventory() {
                axios.delete('/api/application_instances/' + this.application_instance.id + 
                        '/dc_applications/' + this.dc_application.id + 
                        '/files/' + this.file.id +
                        '/stands/' + this.stand.id)
                    .then((response) => {
                        this.$emit('inventory-removed');
                        this.alert.message="Deleted inventory";
                        this.alert.variant="success";
                        this.$emit('alert-event',this.alert);
                    })
                    .catch((error) => {
                        console.log(error);
                        this.alert.message="Error deleting inventory";
                        this.alert.variant="danger";
                        this.$emit('alert-event',this.alert);
                    });
            }
        },
        mounted() {

        },
    }
</script>