<template>
        <b-modal v-model="showModal" :title="localization('Download CSV file')">
            
            <k-progress v-if="!finished" :percent="loadingPercent"/>
            <div v-if="finished">
                {{ localization('The file is ready for download, if it does not start downloading automatically ') }}
                {{ localization('click the Download button.') }}
            </div>

            <template v-slot:modal-footer="{ cancel }">
                <a ref="download_button" 
                    class="btn btn-default" 
                    :disabled="!finished" @click="download()">{{ localization('Download') }}</a>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    import KProgress from 'k-progress';
    export default {
        props: {
            stand: Object,
            file: Object,
            dc_application: Object,
            application_instance: Object,
            show: Boolean
        },
        data() {
            return {
                loadingPercent: 0,
                current_row: 0,
                current_page: null,
                csv_content: null,
                finished: false,
                inchPerMillimeter:0.0393700787,
                footPerDecimeter:0.32808399,
            };
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },
        components: { 
            KProgress
        },
        methods: {
            download() {
                let blob = new Blob([this.csv_content]);
                let filename = this.stand.display_name + ".csv";


                let button = this.$refs.download_button;
                button.href=window.URL.createObjectURL(blob, {type: "text/plain"});
                button.target="_blank";
                button.download=filename;

                if (window.navigator.msSaveOrOpenBlob){
                    window.navigator.msSaveBlob(blob, filename);
                }
                else {
                    button.click();
                }
            },
            generate() {

                let header="";

                if(this.stand.log_list) {
                    if(this.stand.settings.measurement_system==='metric') {
                        header=[
                            '#',
                            'Id',
                            'Species',
                            'Quality',
                            'Diameter [mm]',
                            'Length [dm]',
                            'On Bark'
                        ];
                    }
                    else {
                        header=[
                            '#',
                            'Id',
                            'Species',
                            'Quality',
                            'Diameter ["]',
                            'Length [ft]',
                            'On Bark'
                        ];
                    }
                }
                else {
                    if(this.stand.settings.measurement_system==='metric') {
                        header=[
                            '#',
                            'Plot',
                            'Plot areal [m²]',
                            'Species',
                            'Diameter [mm]',
                            'Height 1 [dm]',
                            'Height 2 [dm]',
                            'Height 3 [dm]'
                        ];
                    }
                    else {
                        header=[
                            '#',
                            'Plot',
                            'Plot areal [ft²]',
                            'Species',
                            'Diameter ["]',
                            'Height 1 [ft]',
                            'Height 2 [ft]',
                            'Height 3 [ft]'
                        ];
                    }
                }

                this.csv_content="sep=;\n";
                this.csv_content+=header.join(";") + "\n";

                this.loadNextPage();

            },
            loadNextPage() {
                var context=this;

                let page = 1;
                if(this.current_page!=null) {
                    page=this.current_page.meta.current_page+1;
                    if(page>this.current_page.meta.last_page) {
                        this.finished=true;
                        this.download();
                        return;
                    }
                }
                

                axios.get('/api/application_instances/' + this.application_instance.id + 
                '/dc_applications/' + this.dc_application.id + 
                '/files/' + this.file.id +
                '/stands/' + this.stand.id + '/trees', {
                    params: {
                        page: page,
                    },
                })
                .then((response) => {
                    
                    this.current_page=response.data;
                    this.loadingPercent=parseInt((this.current_page.meta.current_page/this.current_page.meta.last_page)*100);
                    

                    this.current_page.data.forEach(function(tree) {

                        let speciesObject=context.findObjectInArray(context.stand.species,tree.m_d_i_i_specie_id);
                        let species=speciesObject!=null ? speciesObject.specie_text : "";

                        let plot_areal=context.stand.settings.plot_areal;

                        tree.diameter=parseFloat(tree.diameter);
                        tree.height1=parseFloat(tree.height1);
                        tree.height2=parseFloat(tree.height2);
                        tree.height3=parseFloat(tree.height3);

                        if(context.stand.settings.measurement_system==='metric'&&!tree.metric) {
                                tree.diameter=tree.diameter/context.inchPerMillimeter;
                                tree.height1=tree.height1/context.footPerDecimeter;
                                tree.height2=tree.height2/context.footPerDecimeter;
                                tree.height3=tree.height3/context.footPerDecimeter;
                                
                        }
                        if(context.stand.settings.measurement_system!='metric'&&tree.metric) {
                                tree.diameter=tree.diameter*context.inchPerMillimeter;
                                tree.height1=tree.height1*context.footPerDecimeter;
                                tree.height2=tree.height2*context.footPerDecimeter;
                                tree.height3=tree.height3*context.footPerDecimeter;
                        }

                        
                        tree.diameter=context.round(tree.diameter,2);
                        tree.height1=context.round(tree.height1,2);
                        tree.height2=context.round(tree.height2,2);
                        tree.height3=context.round(tree.height3,2);
                        

                        let row=[];

                        if(context.stand.log_list) {

                            let qualityObject=context.findObjectInArray(context.stand.qualities,tree.m_d_i_i_quality_id);
                            let quality=qualityObject!=null ? qualityObject.quality_text : "";

                            row = [
                                context.current_row++,
                                tree.item_id,
                                species,
                                quality,
                                tree.diameter,
                                tree.height1,
                                tree.on_bark
                            ];
                        }
                        else {
                            row = [
                                context.current_row++,
                                context.stand.plots.map(function(e) { return e.id; }).indexOf(tree.m_d_i_i_plot_id)+1,
                                plot_areal,
                                species,
                                tree.diameter,
                                tree.height1,
                                tree.height2,
                                tree.height3,
                            ];
                        }


                        context.csv_content+=row.join(";") + "\n";
                    });

                    setTimeout(() => this.loadNextPage(), 250);
                }).catch(err => {
                    console.log(err);
                    if (err.response.status === 429) {
                        setTimeout(() => this.loadNextPage(), 10000);
                    }
                });
            },
            findObjectInArray(array,id) {
                let pos = array.map(function(e) { return e.id; }).indexOf(id);

                if(pos<0) {
                    return null;
                }
                else {
                    return array[pos];
                }
            }
        },
        mounted() {
            this.generate();
        },
    }
</script>