<template>
        <b-modal :title="localization('Edit Quality')" v-model="showModal">
            <form>
                <div class="form-group">
                    <label>{{ localization('Quality name') }}</label>
                    <input type="text" class="form-control" v-model="quality_object.text" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" v-model="quality_object.standard"/>
                    <label class="px-2 form-check-label">{{ localization('Standard') }}</label>
                </div>
            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="$emit('update',quality_object);ok()">{{ localization('Save') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    export default {
        props: {
            quality: Object,
            show: Boolean
        },
        data() {
            return {
                quality_object: {
                    standard: false,
                    text: null
                },
                
            };
        },
        watch: {
            quality: function(n,o) {
                if(n!=null) {
                    this.quality_object.text=n.quality_text;
                    this.quality_object.standard=n.m_d_i_i_application_id ? true : false;
                }
            }
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        }, 
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>