<template>
        <b-modal :title="localization('Edit Species')" v-model="showModal">
            <form>
                <div class="form-group">
                    <label>{{ localization('Species name') }}</label>
                    <input type="text" class="form-control" v-model="species_object.text" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" v-model="species_object.standard"/>
                    <label class="px-2 form-check-label">{{ localization('Standard') }}</label>
                </div>
                <div class="form-group">
                    <label>{{ localization('Form factor') }}</label>
                    <input type="number" class="form-control" v-model="species_object.form_factor" required>
                </div>
                <div class="form-group">
                    <label>{{ localization('Form height') }}</label>
                    <input type="number" class="form-control" v-model="species_object.form_height" required>
                </div>

            </form>

            <template v-slot:modal-footer="{ ok, cancel }">
                <button type="submit" class="btn btn-default" @click="$emit('update',species_object);ok()">{{ localization('Save') }}</button>
                <button type="button" class="btn btn-default" @click="cancel()">{{ localization('Close') }}</button>
            </template>

        </b-modal>
</template>

<script>
    export default {
        props: {
            species: Object,
            show: Boolean
        },
        data() {
            return {
                species_object: {
                    standard: false,
                    text: null,
                    form_factor: 0.4,
                    form_height: 8
                },
            };
        },
        watch: {
            species: function(n,o) {
                if(n!=null) {
                    this.species_object.text=n.text;
                    this.species_object.standard=n.m_d_i_i_application_id ? true : false;
                    this.species_object.form_factor=n.form_factor;
                    this.species_object.form_height=n.form_height;
                }

            }
        },
        computed: {
            showModal: {
                get: function () {
                    return this.show;
                },
                set: function(value) {
                    if(!value) {
                        this.$emit('hide');
                    } 
                }
            }
        },      
        components: { 

        },
        methods: {

        },
        mounted() {

        },
    }
</script>